@import '../../../../../variables';

.permissions-card {
  margin-bottom: 16px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.permission-body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  row-gap: 0.5rem;
  padding: 16px;
  width: 100%;
}

.permission-category {
  width: fit-content;
  height: fit-content;

  .permission-item {
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
    margin-left: 0.5rem;
    margin-top: 0.25rem;
  }
}

.category-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  user-select: none;
  h5 {
    margin: 0;
  }
}
