<div class="section-card">
  <div class="section-card-header border-bottom">
    <div class="section-card-header-wrapper">
      <h3 class="header-title">Permisos de Usuario</h3>
      <p class="header-subtitle">
        Elija las opciones de menú a las que tendrá acceso este usuario
      </p>
    </div>
    <div class="button-actions">
      <button
        ButtonResize
        (click)="submitPermissions()"
        class="button button-primary button-raised"
      >
        <mat-icon>save</mat-icon><span class="button-label">Guardar</span>
      </button>
    </div>
  </div>
  <div class="section-card-body">
    <div class="permission-body">
      <div
        class="permission-category"
        *ngFor="let category of permissionCategories; let i = index"
      >
        <div class="permission-category-header" (click)="toggleCategory(i)">
          <mat-icon class="icon">
            {{ isCategoryVisible[i] ? 'expand_less' : 'expand_more' }}
          </mat-icon>
          <h5 class="permission-category-title">{{ category.name }}</h5>
        </div>
        <div class="permission-item" *ngIf="isCategoryVisible[i]">
          <div
            class="permission-subcategory"
            *ngFor="let item of category.items"
          >
            <div class="permission-subcategory-header">
              <mat-checkbox
                [checked]="isAllSubitemsChecked(item)"
                [indeterminate]="isSomeSubitemsChecked(item)"
                (change)="toggleAllSubitems(item, $event.checked)"
              >
                <p class="permission-subcategory-title">{{ item.name }}</p>
              </mat-checkbox>
            </div>

            <div class="permission-subcategory-content">
              <mat-checkbox
                *ngFor="let subitem of item.subitems"
                [(ngModel)]="subitem.checked"
                (change)="onPermissionChange()"
              >
                {{ subitem.label }}
              </mat-checkbox>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
