@import '../../../../../variables';

.permissions-card {
  margin-bottom: 16px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.permission-body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  row-gap: 0.5rem;
  width: 100%;
}

.permission-category {
  width: fit-content;
  height: fit-content;

  .permission-item {
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
    margin-left: 0.75rem;
    margin-top: 0.25rem;
  }
}

.permission-category-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  user-select: none;
  .permission-category-title {
    margin: 0;
    font-weight: 500;
  }
}

.permission-subcategory {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
  margin-left: 1.25rem;
  margin-top: 0.25rem;

  .permission-subcategory-header {
    .permission-subcategory-title {
      margin: 0;
      font-weight: 500;
    }
  }

  .permission-subcategory-content {
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
    margin-left: 1.5rem;
  }
}
