@import "_variables.scss";
.printers-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    border: 1px solid $gray-300;
    border-radius: $border-radius;
    .printers-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 1em;
        background-color: $gray-50;
        border-radius: $border-radius;
        h4 {
            margin: 0;
        }
        button {
            flex-shrink: 0;
        }
    }
    .consumable-printers {
        display: flex;
        gap: 1em;
        padding: 1em;
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        border-top: 1px solid $gray-300;
        @media(max-width: 1024px) {
            flex-direction: column;
        }
        .printer {
            border-radius: $border-radius;
            border: 1px solid $gray-300;
            width: 100%;
            display: flex;
            .printer-image-container {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 200px;
                // background-color: $gray-100;
                .printer-image {
                    width: 100px;
                }
                @media(max-width: 375px) {
                    display: none;
                }
            }
            .printer-image-container-mobile {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                padding: 1em 0em;
                border-bottom: 1px solid $gray-300;
                // background-color: $gray-100;
                .printer-image {
                    width: 100px;
                }
                @media(min-width: 375px) {
                    display: none;
                }
            }
            .printer-content {
                display: flex;
                flex-direction: column;
                width: 100%;
                p {
                    margin-bottom: 0;
                }
                .printer-header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background-color: $gray-50;
                    border-radius: 0 $border-radius 0 0;
                    border-bottom: 1px solid $gray-300;
                    border-left: 1px solid $gray-300;
                    padding: .5em 1em;
                    .printer-title {
                        h5 {
                            margin-bottom: 0;
                        }
                    }
                    @media(max-width: 375px) {
                        border-left: none;
                        border-radius: $border-radius $border-radius 0 0;
                    }
                }
                .printer-row {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    height: 100%;
                    flex-wrap: wrap;
                    border-left: 1px solid $gray-300;
                    .printer-info {
                        display: flex;
                        flex-direction: column;
                        gap: 1em;
                    }
                    @media(max-width: 375px) {
                        border-left: none;
                    }
                }
            }
        }
    }
}

.printer-item {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: .5em;
    .item-title {
        font-weight: 500;
    }
    .item-body {
        color: $gray-600;
    }
}

.menu-button-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // gap: .5em;
    color: $text;
    width: 100%;
    // mat-icon {
    //     color: $gray-600;
    // }
}

.default-image {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $light-50;
    mat-icon {
        font-size: 80px;
        width: 80px;
        height: 80px;
        color: $gray-300;
    }
}

.printer-item-container {
    display: flex;
    align-items: center;
    gap: .5em;
}