@import '_variables.scss';

.status-icon {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.5rem;
}

.within-date-range {
  background-color: $green-500;
}

.past-deal {
  background-color: $red-400;
}
