@import '_variables.scss';
.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 2fr));
  gap: 0.5rem;
  border-radius: $border-radius;
  padding: 1rem 0rem;
  width: 100%;
  @media (min-width: 1024px) {
    grid-template-columns: repeat(auto-fill, minmax(200px, 2fr));
  }
}

.image-thumbnail {
  position: relative;
  background-color: #f8fafc;
  border: 1px solid $gray-300;
  text-align: center;
  border-radius: $border-radius;
  // width: 250px;
  // max-width: 250px;
  min-height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-thumbnail img {
  width: 200px;
  height: auto;
}

.remove-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 5px;
  right: 5px;
  color: $gray-500;
  background-color: $gray-100;
  border-radius: 50px;
  height: 32px;
  width: 32px;
  transition: all 0.1s ease-out;
  &:hover {
    color: $red-500;
    background-color: $red-100;
  }
}
