<div>
  <form
    [formGroup]="createUserForm"
    (ngSubmit)="submitForm()"
    class="section-card"
  >
    <div class="section-card-header">
      <div class="section-card-header-wrapper">
        <app-breadcrumb></app-breadcrumb>
        <h3 class="header-title">Nuevo Usuario</h3>
      </div>
      <div class="button-actions">
        <button
          ButtonResize
          type="submit"
          class="button button-primary button-raised"
        >
          <mat-icon>add</mat-icon
          ><span class="button-label">Crear Usuario</span>
        </button>
      </div>
    </div>

    <app-loading-spinner *ngIf="isLoadingForm"></app-loading-spinner>

    <div class="section-card-body">
      <div class="form-container">
        <div class="form-section">
          <!-- <h5 class="form-section-subheader">Datos del Cliente</h5> -->
          <div class="form-grid">
            <!-- name -->
            <div class="form-item half-row">
              <mat-form-field appearance="outline">
                <mat-label>Nombre</mat-label>
                <input
                  matInput
                  type="text"
                  placeholder="John Doe"
                  formControlName="name"
                />
                <mat-error *ngIf="isValidField('name')">{{
                  getFieldError('name')
                }}</mat-error>
              </mat-form-field>
            </div>

            <!-- email -->
            <div class="form-item half-row">
              <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input
                  matInput
                  type="text"
                  placeholder="ejemplo@email.com"
                  formControlName="email"
                />
                <mat-error *ngIf="isValidField('email')">{{
                  getFieldError('email')
                }}</mat-error>
              </mat-form-field>
            </div>

            <!-- password -->
            <div class="form-item half-row">
              <mat-form-field appearance="outline">
                <mat-label>Contraseña</mat-label>
                <input
                  matInput
                  [type]="hide ? 'password' : 'text'"
                  formControlName="password"
                  (keyup)="updateValidationStatus()"
                  (focus)="passwordFieldFocused = true"
                  (blur)="passwordFieldFocused = false"
                />
                <mat-icon matSuffix (click)="hide = !hide">{{
                  hide ? 'visibility_off' : 'visibility'
                }}</mat-icon>
                <mat-error *ngIf="isValidField('password')">{{
                  getFieldError('password')
                }}</mat-error>
              </mat-form-field>
              <div
                class="password-suggestions"
                *ngIf="
                  passwordFieldFocused ||
                  createUserForm.controls['password'].touched
                "
              >
                <span class="password-feedback"
                  >La contraseña debe contener:</span
                >
                <ul class="password-suggestions-list">
                  <li class="suggestion">
                    <mat-icon
                      [class.valid]="
                        createUserForm.controls['password'].value.length >= 8
                      "
                      *ngIf="
                        createUserForm.controls['password'].value.length >= 8
                      "
                      [inline]="true"
                      class="green-check"
                      >check_circle</mat-icon
                    >
                    Al menos 8 caracteres
                  </li>
                  <li class="suggestion">
                    <mat-icon
                      [class.valid]="
                        hasUpperCase(createUserForm.controls['password'].value)
                      "
                      *ngIf="
                        hasUpperCase(createUserForm.controls['password'].value)
                      "
                      [inline]="true"
                      class="green-check"
                      >check_circle</mat-icon
                    >
                    Al menos una letra mayúscula
                  </li>
                  <li class="suggestion">
                    <mat-icon
                      [class.valid]="
                        hasLowerCase(createUserForm.controls['password'].value)
                      "
                      *ngIf="
                        hasLowerCase(createUserForm.controls['password'].value)
                      "
                      [inline]="true"
                      class="green-check"
                      >check_circle</mat-icon
                    >
                    Al menos una letra minúscula
                  </li>
                  <li class="suggestion">
                    <mat-icon
                      [class.valid]="
                        hasNumeric(createUserForm.controls['password'].value)
                      "
                      *ngIf="
                        hasNumeric(createUserForm.controls['password'].value)
                      "
                      [inline]="true"
                      class="green-check"
                      >check_circle</mat-icon
                    >
                    Al menos un número
                  </li>
                  <li class="suggestion">
                    <mat-icon
                      [class.valid]="
                        hasSpecialChar(
                          createUserForm.controls['password'].value
                        )
                      "
                      *ngIf="
                        hasSpecialChar(
                          createUserForm.controls['password'].value
                        )
                      "
                      [inline]="true"
                      class="green-check"
                      >check_circle</mat-icon
                    >
                    Al menos un carácter especial
                  </li>
                </ul>
              </div>
            </div>

            <!-- repeat password -->
            <div class="form-item half-row">
              <mat-form-field appearance="outline">
                <mat-label>Repetir Contraseña</mat-label>
                <input
                  matInput
                  type="password"
                  formControlName="repeatPassword"
                />
                <mat-error
                  *ngIf="createUserForm.controls['repeatPassword'].errors?.['required'] && createUserForm.controls['repeatPassword'].touched"
                  class="invalid-feedback"
                >
                  La contraseña es requerida
                </mat-error>
                <mat-error
                  *ngIf="createUserForm.controls['repeatPassword'].errors?.['notMatch'] && createUserForm.controls['repeatPassword'].touched"
                  class="invalid-feedback"
                >
                  Las contraseñas no coinciden
                </mat-error>
              </mat-form-field>
            </div>

            <!-- Rol -->
            <div class="form-item half-row">
              <mat-form-field appearance="outline">
                <mat-label>Rol</mat-label>
                <mat-select formControlName="role">
                  <mat-option *ngFor="let rol of roles" [value]="rol.id">
                    {{ rol.name }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="isValidField('role')">{{
                  getFieldError('role')
                }}</mat-error>
              </mat-form-field>
              <button
                type="button"
                class="button button-secondary"
                (click)="newRole()"
                style="margin-top: 0.5rem"
              >
                <mat-icon>add</mat-icon>
                <span class="button-label">Crear nuevo rol</span>
              </button>
            </div>

            <!-- Permissions Card -->
            <div class="permissions-card section-card">
              <div class="section-card-header">
                <h3 class="header-title">
                  Permisos de {{ selectedRoleName || 'Rol no seleccionado' }}
                </h3>
              </div>
              <div class="section-card-body">
                <!-- Pass permissionId to PermissionsComponent -->
                <app-permissions
                  [permissionId]="selectedPermissionId"
                  (permissionsChange)="onPermissionsChange($event)"
                ></app-permissions>
              </div>
            </div>

            <!-- Activo -->
            <div class="form-item half-row">
              <p class="item-label">Estado de Usuario</p>
              <mat-slide-toggle formControlName="isActive">{{
                createUserForm.get('isActive')?.value ? 'Activo' : 'Inactivo'
              }}</mat-slide-toggle>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
