<div class="printer-consumable-container">
    <div class="printer-consumable-header">
        <h4>Consumibles</h4>
        <button class="button button-primary button-raised button-icon" (click)="navigateToCreateConsumible()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <div class="printer-consumables" *ngIf="product.consumibles.length >= 1">
        <div class="consumable" *ngFor="let consumable of product.consumibles">
            <div class="consumable-image-container">
                <img class="consumable-image" [src]="consumable.img_url" alt="Imagen consumible" />
            </div>
            <div class="consumable-content">
                <div class="consumable-header">
                    <div class="consumable-title">
                        <p><b>{{ consumable.name }}</b></p>
                    </div>
                    <button class="button-icon-option" [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu" class="export-menu">
                        <button mat-menu-item>
                            <!-- <mat-icon>ios_share</mat-icon> -->
                            <div class="menu-button-item">
                                <mat-icon>visibility</mat-icon>
                                Ver consumible
                            </div>
                        </button>
                        <button mat-menu-item>
                        <!-- <mat-icon>ios_share</mat-icon> -->
                            <div class="menu-button-item">
                                <mat-icon style="color: #3C81F6;">edit</mat-icon>
                                Editar consumible
                            </div>
                            </button>
                        <button mat-menu-item>
                            <!-- <mat-icon>ios_share</mat-icon> -->
                            <div class="menu-button-item">
                                <mat-icon style="color: #ef4444;">delete</mat-icon>
                                Borrar consumible
                            </div>
                        </button>
                    </mat-menu>
                </div>
                <div class="consumable-row">
                    <div class="consumable-item">
                        <p><b>Precio</b></p>
                        <p>{{ consumable.price | currency }} {{ consumable.currency }}</p>
                    </div>
                    <div class="consumable-item">
                        <p><b>Rendimiento</b></p>
                        <p>{{ consumable.yield }} paginas</p>
                    </div>
                    <div class="consumable-item">
                        <p><b>Categoria</b></p>
                        <p>{{ consumable.category }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>