@import '_variables.scss';

.lead-status {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  background-color: transparent;
  border-radius: $border-radius;
  color: $text;
  padding: 0.25rem 0.5rem;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  line-height: 1;
  font-weight: 500;
  width: fit-content;
  min-height: 34px;
}

.wrap-text {
  white-space: normal;
  word-wrap: break-word;
}

.within-one-days {
  background-color: $green-500;
}

.within-three-days {
  background-color: $green-400;
}

.within-five-days {
  background-color: $yellow-300;
}

.within-seven-days {
  background-color: $orange-400;
}

.more-than-seven-days {
  background-color: $red-400;
}

.no-communications {
  background-color: transparent;
}
