<app-data-table
  [title]="'Clientes Potenciales'"
  [data]="leadData"
  [columns]="columns"
  [displayedColumns]="displayedColumns"
  [isLoading]="isLoading"
  [addButtonText]="'Crear Cliente'"
  [addButtonPermission]="'canCreateLead'"
  [viewActionPermission]="'canViewLead'"
  [editActionPermission]="'canUpdateLead'"
  [deleteActionPermission]="'canDeleteLead'"
  (rowClick)="onRowClick($event)"
  (viewClick)="seeLead($event)"
  (editClick)="editLead($event)"
  (deleteClick)="openConfirmDialog($event)"
  (addClick)="addLead()"
></app-data-table>
