<div
  class="file-drop-area"
  [class.dragging]="isDragging"
  (dragover)="onDragOver($event)"
  (dragleave)="onDragLeave($event)"
  (drop)="onDrop($event)"
>
  <div *ngIf="isUploading" class="uploading-container">
    <p>Cargando...</p>
    <mat-spinner class="spinner"></mat-spinner>
  </div>
  <div class="file-drop-body" *ngIf="!isUploading">
    <div class="icon-container">
      <mat-icon>picture_as_pdf</mat-icon>
    </div>
    <p>Arrastre y suelte un archivo .pdf</p>
    <div class="separator">
      <span>o</span>
    </div>
    <button
      class="button button-secondary button-raised"
      type="button"
      (click)="fileInput.click()"
    >
      <span class="button-label">Selecciona archivo</span>
    </button>
    <input
      type="file"
      #fileInput
      style="display: none"
      (change)="onFileSelected($event)"
    />
  </div>
</div>
