<div class="data-card">
  <div class="data-card-header">
    <h4 class="header-title">Producto Interesado</h4>
  </div>
  <app-loading-spinner [isLoading]="isLoading"></app-loading-spinner>
  <div class="data-card-body" *ngIf="!isLoading">
    <div class="product-thumbnail-card">
      <div
        class="product-image-container"
        (click)="navigateToSeeProduct(this.type_product, productData?.id ?? '')"
      >
        <div
          class="product-image-wrapper"
          *ngIf="productData && isPrinter(productData)"
        >
          <img
            class="product-image"
            src="{{
              productData && isPrinter(productData)
                ? productData.img_url[0]
                : ''
            }}"
            alt="product image"
          />
        </div>
        <div
          class="product-image-wrapper"
          *ngIf="productData && isConsumable(productData)"
        >
          <img
            class="product-image"
            src="{{
              productData && isConsumable(productData)
                ? productData.img_url[0]
                : ''
            }}"
            alt="product image"
          />
        </div>
      </div>
      <div class="header">
        <div class="item-type">
          {{
            productData && isPrinter(productData)
              ? 'Multifuncional'
              : productData && isSoftware(productData)
              ? 'Software'
              : 'Consumible'
          }}
        </div>
        <h4 class="item-title">
          {{
            productData && isPrinter(productData)
              ? productData.model
              : productData?.name
          }}
        </h4>
      </div>
    </div>
  </div>
</div>
