<div class="section-card">
  <div class="tab-header">
    <mat-tab-group class="tab-group">
      <mat-tab label="Multifuncionales" class="tab-button">
        <app-printer-tab></app-printer-tab>
      </mat-tab>
      <mat-tab label="Consumibles" class="tab-button"> Consumibles</mat-tab>
      <mat-tab label="Promociones" class="tab-button"> Promociones </mat-tab>
      <mat-tab label="Paquetes" class="tab-button"> Paquetes </mat-tab>
      <mat-tab label="General" class="tab-button"> General </mat-tab>
    </mat-tab-group>
  </div>
</div>
