<sales-client-config-table
  [title]="'Líneas de negocio'"
  [data]="clientBusinessLineData"
  [columns]="columns"
  [displayedColumns]="displayedColumns"
  [isLoading]="isLoading"
  [addButtonText]="'Crear Línea de Negocio'"
  [addButtonPermission]="'canCreateClientBusinessLine'"
  [viewActionPermission]="'canViewClientBusinessLine'"
  [editActionPermission]="'canUpdateClientBusinessLine'"
  [deleteActionPermission]="'canDeleteClientBusinessLine'"
  (editClick)="openEditClientBusinessLineDialog($event)"
  (deleteClick)="openDeleteClientBusinessLineDialog($event)"
  (addClick)="openCreateClientBusinessLineDialog()"
></sales-client-config-table>
