<sales-client-config-table
  [title]="'Sucursales'"
  [data]="branchOfficeData"
  [columns]="columns"
  [displayedColumns]="displayedColumns"
  [isLoading]="isLoading"
  [addButtonText]="'Crear Sucursal'"
  [addButtonPermission]="'canCreateClientBranchOffice'"
  [viewActionPermission]="'canViewClientBranchOffice'"
  [editActionPermission]="'canUpdateClientBranchOffice'"
  [deleteActionPermission]="'canDeleteClientBranchOffice'"
  (editClick)="openEditBranchOfficeDialog($event)"
  (deleteClick)="openConfirmDialog($event)"
  (addClick)="openAddBranchOfficeDialog()"
></sales-client-config-table>
