<h1>Hello, {{ user()?.name }}</h1>

<div class="row">
  <div class="col-md-3">
    <div class="card">
      <div class="card-head"><i class="fas fa-print"></i> Printers</div>
      <div class="card-body">
        <!-- Add content for printers card here -->
        <h2>{{ printerCount }}</h2>
        <p>diferente impresoras en venta</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="card-head"><i class="fas fa-users"></i> Users</div>
      <div class="card-body">
        <!-- Add content for users card here -->
        <h2>{{ userCount }}</h2>
        <p>usuarios en el sistema</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="card-head"><i class="fas fa-shopping-cart"></i> Ventas</div>
      <div class="card-body">
        <!-- Add content for ventas card here -->
        <h2>20</h2>
        <p>ventas este mes</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="card-head"><i class="fas fa-box"></i> Inventario</div>
      <div class="card-body">
        <h2>500</h2>
        <p>impresoras en inventario</p>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-head">Lorem Ipsum</div>

  <div class="card-body">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate ab porro
    nobis adipisci mollitia dicta fuga ipsam, quae dignissimos minus itaque
    delectus perspiciatis quaerat sunt impedit atque esse doloremque molestias.
  </div>
</div>
