<div>
  <form [formGroup]="createTicketForm" class="ticket-container">
    <div class="ticket-header">
      <h2>Crear Ticket</h2>
      <button
        class="button button-primary button-raised button-icon-text"
        (click)="submitForm()"
      >
        <mat-icon>add</mat-icon><span class="button-label">Agregar</span>
      </button>
    </div>

    <app-loading-spinner [isLoading]="isSubmitting"></app-loading-spinner>

    <div class="ticket-info">
      <div class="ticket-form-container">
        <div class="ticket-data">
          <!-- Title -->
          <div class="ticket-data-item full-row">
            <h5>Title</h5>
            <input type="text" formControlName="title" class="form-control" />
          </div>

          <!-- type -->
          <div class="ticket-data-item full-row">
            <h5>Type</h5>
            <select formControlName="type" class="form-select">
              <option *ngFor="let type of types" [value]="type">
                {{ type }}
              </option>
            </select>
          </div>

          <!-- Appointment Start Date -->
          <div
            class="ticket-data-item full-row"
            *ngIf="createTicketForm.get('type')?.value === 'on-site'"
          >
            <h5>Appointment Start Date</h5>
            <input
              matInput
              [matDatepicker]="picker1"
              formControlName="appointmentStartTime"
              class="form-control"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker1"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </div>

          <!-- Appointment Start Time -->
          <div
            class="ticket-data-item full-row"
            *ngIf="createTicketForm.get('type')?.value === 'on-site'"
          >
            <h5>Appointment Start Time</h5>
            <input
              type="time"
              formControlName="startTime"
              class="form-control"
            />
          </div>

          <!-- Duration -->
          <div
            class="ticket-data-item full-row"
            *ngIf="createTicketForm.get('type')?.value === 'on-site'"
          >
            <h5>Duration (hours)</h5>
            <select formControlName="duration" class="form-select">
              <option *ngFor="let hour of hours" [value]="hour">
                {{ hour }}
              </option>
            </select>
          </div>
          <!-- Appointment End Date -->
          <div
            class="ticket-data-item full-row"
            *ngIf="createTicketForm.get('type')?.value === 'on-site'"
          >
            <h5>Appointment End Date</h5>
            <input
              matInput
              formControlName="appointmentEndTime"
              class="form-control"
              readonly
            />
          </div>
          <!-- Client Name -->
          <div class="ticket-data-item full-row">
            <h5>Client Name</h5>
            <input
              type="text"
              formControlName="clientName"
              class="form-control"
            />
          </div>

          <!-- Client Address -->
          <div
            class="ticket-data-item full-row"
            *ngIf="createTicketForm.get('type')?.value === 'on-site'"
          >
            <h5>Client Address</h5>
            <input
              type="text"
              formControlName="clientAddress"
              class="form-control"
            />
          </div>

          <!-- clientEmail -->
          <div class="ticket-data-item full-row">
            <h5>Client Email</h5>
            <input
              type="text"
              formControlName="clientEmail"
              class="form-control"
            />
          </div>

          <!-- clientPhone -->
          <div class="ticket-data-item full-row">
            <h5>Client Phone</h5>
            <input
              type="text"
              formControlName="clientPhone"
              class="form-control"
            />
          </div>

          <!-- Assigned -->
          <div class="ticket-data-item full-row">
            <h5>Assigned</h5>
            <select formControlName="assigned" class="form-select">
              <option *ngFor="let user of users" [value]="user.id">
                {{ user.name }}
              </option>
            </select>
          </div>

          <!-- Issue -->
          <div class="ticket-data-item full-row">
            <h5>Issue</h5>
            <quill-editor
              formControlName="issue"
              class="form-control"
            ></quill-editor>
          </div>

          <!-- Priority -->
          <div class="ticket-data-item full-row">
            <h5>Prioridad</h5>
            <select formControlName="priority" class="form-select">
              <option *ngFor="let priority of priorities" [value]="priority">
                {{ translatePriority(priority) }}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
