<div>
    <form [formGroup]="createTicketForm" class="ticket-container">
        <div class="ticket-header">
            <h2>Nuevo Ticket</h2>
            <button class="button button-primary button-raised button-icon-text" (click)="submitForm()">
        <mat-icon>add</mat-icon><span class="button-label">Agregar</span>
      </button>
        </div>

        <app-loading-spinner [isLoading]="isSubmitting"></app-loading-spinner>

        <div class="ticket-info">
            <div class="ticket-form-container">
                <div class="ticket-data">
                    <!-- Title -->
                    <div class="ticket-data-item three-quarter-row">
                        <p>Titulo</p>
                        <input type="text" formControlName="title" placeholder="Descripción simple del problema" class="form-control" [class.is-invalid]="
                          createTicketForm.controls['title'].invalid &&
                          createTicketForm.controls['title'].touched
                        " />
                        <span *ngIf="isValidField('title')" class="form-text text-danger">
                          {{ getFieldError("title") }}
                        </span>
                    </div>

                    <!-- type -->
                    <div class="ticket-data-item quarter-row">
                        <p>Tipo</p>
                        <select formControlName="type" class="form-select" [class.is-invalid]="
                          createTicketForm.controls['type'].invalid &&
                          createTicketForm.controls['type'].touched
                        ">
                          <option *ngFor="let type of types" [value]="type.value">
                            {{ type.viewValue }}
                          </option>
                        </select>
                        <span *ngIf="isValidField('type')" class="form-text text-danger">
                          {{ getFieldError("type") }}
                        </span>
                    </div>

                    <div class="ticket-data full-row">
                        <!-- Appointment Start Date -->
                        <div class="ticket-data-item half-row">
                            <p>Fecha</p>
                            <input matInput [matDatepicker]="ticketDatepicker" placeholder="DD/MM/YYYY" formControlName="appointmentStartTime" class="form-control" [class.is-invalid]="
                              createTicketForm.controls['appointmentStartTime'].invalid &&
                              createTicketForm.controls['appointmentStartTime'].touched
                            " (focus)="openDatepicker()" />
                            <mat-datepicker #ticketDatepicker></mat-datepicker>
                            <span *ngIf="isValidField('appointmentStartTime')" class="form-text text-danger">
                              {{ getFieldError("appointmentStartTime") }}
                            </span>
                        </div>

                        <!-- Appointment Time -->
                        <div class="ticket-data-item half-row">
                            <p>Hora</p>
                            <div class="time-inputs" style="display: flex; align-items: center">
                                <input type="time" formControlName="startTime" class="form-control" [class.is-invalid]="
                                  createTicketForm.controls['startTime'].invalid &&
                                  createTicketForm.controls['startTime'].touched
                                " />
                                <span style="margin: 0 10px"> - </span>
                                <input type="time" formControlName="endTime" class="form-control" [class.is-invalid]="
                                  createTicketForm.controls['endTime'].invalid &&
                                  createTicketForm.controls['endTime'].touched
                                " />
                            </div>
                            <span *ngIf="isValidField('startTime')" class="form-text text-danger">
                              {{ getFieldError("startTime") }}
                            </span>
                        </div>
                    </div>

                    <!-- Appointment End Date -->
                    <div class="ticket-data-item full-row" *ngIf="createTicketForm.get('type')?.value === 'on-site'" hidden>
                        <p>Appointment End Date</p>
                        <input matInput formControlName="appointmentEndTime" class="form-control" readonly hidden />
                    </div>
                    <div class="ticket-data full-row">
                        <h5 class="section-form-header full-row">Datos del Cliente</h5>
                        <!-- Client Name -->
                        <div class="ticket-data-item half-row">
                            <p>Nombre</p>
                            <input type="text" placeholder="John Doe" formControlName="clientName" class="form-control" [class.is-invalid]="
                              createTicketForm.controls['clientName'].invalid &&
                              createTicketForm.controls['clientName'].touched
                            " />
                            <span *ngIf="isValidField('clientName')" class="form-text text-danger">
                            {{ getFieldError("clientName") }}
                          </span>
                        </div>

                        <!-- clientPhone -->
                        <div class="ticket-data-item half-row">
                            <p>Teléfono</p>
                            <input type="text" placeholder="811-111-1111" formControlName="clientPhone" class="form-control" [class.is-invalid]="
                              createTicketForm.controls['clientPhone'].invalid &&
                              createTicketForm.controls['clientPhone'].touched
                            " />
                            <span *ngIf="isValidField('clientPhone')" class="form-text text-danger">
                            {{ getFieldError("clientPhone") }}
                          </span>
                        </div>

                        <!-- Client Address -->
                        <div class="ticket-data-item half-row" *ngIf="createTicketForm.get('type')?.value === 'on-site'">
                            <p>Dirección</p>
                            <input type="text" placeholder="Dirección del cliente" formControlName="clientAddress" class="form-control" [class.is-invalid]="
                              createTicketForm.controls['clientAddress'].invalid &&
                              createTicketForm.controls['clientAddress'].touched
                            " />
                            <span *ngIf="isValidField('clientAddress')" class="form-text text-danger">
                              {{ getFieldError("clientAddress") }}
                            </span>
                        </div>

                        <!-- clientEmail -->
                        <div class="ticket-data-item half-row">
                            <p>Email</p>
                            <input type="text" placeholder="cliente@email.com" formControlName="clientEmail" class="form-control" [class.is-invalid]="
                              createTicketForm.controls['clientEmail'].invalid &&
                              createTicketForm.controls['clientEmail'].touched
                            " />
                            <span *ngIf="isValidField('clientEmail')" class="form-text text-danger">
                              {{ getFieldError("clientEmail") }}
                            </span>
                        </div>
                    </div>

                    <!-- Issue -->
                    <div class="ticket-data-item full-row">
                        <p>Cual es el problema?</p>
                        <quill-editor formControlName="issue" [placeholder]="'Descripción detallada del problema'" [class.is-invalid]="
                          createTicketForm.controls['issue'].invalid &&
                          createTicketForm.controls['issue'].touched
                        "></quill-editor>
                        <span *ngIf="isValidField('issue')" class="form-text text-danger">
                          {{ getFieldError("issue") }}
                        </span>
                    </div>

                    <!-- Priority -->
                    <div class="ticket-data-item half-row">
                        <p>Prioridad</p>
                        <select formControlName="priority" class="form-select" [class.is-invalid]="
                          createTicketForm.controls['priority'].invalid &&
                          createTicketForm.controls['priority'].touched
                          ">
                          <option *ngFor="let priority of priorities" [value]="priority">
                            {{ translatePriority(priority) }}
                          </option>
                        </select>
                        <span *ngIf="isValidField('priority')" class="form-text text-danger">
                          {{ getFieldError("priority") }}
                        </span>
                    </div>
                    <!-- Assigned -->
                    <div class="ticket-data-item half-row">
                        <p>Asignar</p>
                        <select formControlName="assigned" class="form-select" [class.is-invalid]="
                            createTicketForm.controls['assigned'].invalid &&
                            createTicketForm.controls['assigned'].touched
                          ">
                          <option *ngFor="let user of users" [value]="user.id">
                            {{ user.name }}
                          </option>
                        </select>
                        <span *ngIf="isValidField('assigned')" class="form-text text-danger">
                          {{ getFieldError("assigned") }}
                        </span>
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>