<!-- FILEPATH: c:\Users\hulig\Documents\github\fixsell-adminpanel\fixsell-adminpanel-front\src\app\dashboard\layouts\dashboard-layout\dashboard-layout.component.html -->

<!-- add sidenav.component in components/sidenav/sidenav.component.ts -->
<!-- <app-sidenav></app-sidenav> -->
<pre>Hello, {{user()?.name}} </pre>

<button (click)="onLogout()">
    log out
</button>

<!-- add the component in components/printer-register/printer-register.component -->
<app-printers-register></app-printers-register>
