<div>
  <form
    [formGroup]="createConsumibleForm"
    class="consumibles-container"
    *ngIf="createConsumibleForm"
  >
    <div class="consumibles-header">
      <h2>Crear Consumible</h2>
      <button
        type="submit"
        class="button button-primary button-raised"
        (click)="submitForm()"
      >
        <span class="button-label">Agregar Consumible</span>
      </button>
    </div>
    <div class="consumibles-info">
      <div class="consumibles-images">
        <app-file-upload
          (fileUpload)="onFileUploaded($event)"
          [rootFolder]="'imagenes'"
        ></app-file-upload>
        <app-product-image-grid
          [imageUrls]="imageUrlsArray"
          (remove)="openConfirmDialog($event)"
        ></app-product-image-grid>
        <span
          *ngIf="createConsumibleForm.controls['img_url'].invalid"
          class="form-text text-danger"
        >
          Por favor, sube una imagen.
        </span>
      </div>

      <div class="consumibles-data-container">
        <div class="consumibles-data">
          <div class="consumibles-data-item">
            <h5>Nombre</h5>
            <input
              formControlName="name"
              class="form-control"
              type="text"
              [class.is-invalid]="
                createConsumibleForm.controls['name'].invalid &&
                createConsumibleForm.controls['name'].touched
              "
            />
            <span
              *ngIf="
                createConsumibleForm.controls['name'].invalid &&
                createConsumibleForm.controls['name'].touched
              "
              class="form-text text-danger"
            >
              El Nombre es obligatoria.
            </span>
          </div>

          <!-- Brand Field -->
          <div class="consumibles-data-item">
            <h5>Marca</h5>
            <input
              formControlName="brand"
              class="form-control"
              type="text"
              [class.is-invalid]="
                createConsumibleForm.controls['brand'].invalid &&
                createConsumibleForm.controls['brand'].touched
              "
            />
            <span
              *ngIf="
                createConsumibleForm.controls['brand'].invalid &&
                createConsumibleForm.controls['brand'].touched
              "
              class="form-text text-danger"
            >
              La marca es obligatoria.
            </span>
          </div>

          <!-- SKU Field -->
          <div class="consumibles-data-item">
            <h5>SKU</h5>
            <input
              formControlName="sku"
              class="form-control"
              type="text"
              [class.is-invalid]="
                createConsumibleForm.controls['sku'].invalid &&
                createConsumibleForm.controls['sku'].touched
              "
            />
            <span
              *ngIf="
                createConsumibleForm.controls['sku'].invalid &&
                createConsumibleForm.controls['sku'].touched
              "
              class="form-text text-danger"
            >
              el SKU es obligatoria.
            </span>
          </div>
          <!-- Price field -->
          <div class="consumibles-data-item">
            <h5>Precio</h5>
            <div class="input-group">
              <span class="input-group-text">$</span>
              <input
                type="number"
                class="form-control"
                formControlName="price"
                step="0.01"
                [class.is-invalid]="
                  createConsumibleForm.controls['price'].invalid &&
                  createConsumibleForm.controls['price'].touched
                "
              />
              <div class="input-group-append">
                <select
                  class="custom-select input-group-text flex-grow-1 custom-dropdown"
                  formControlName="currency"
                >
                  <option value="USD">USD</option>
                  <option value="MXN">MXN</option>
                </select>
              </div>
            </div>
            <span
              *ngIf="
                createConsumibleForm.controls['price'].invalid &&
                createConsumibleForm.controls['price'].touched
              "
              class="form-text text-danger"
            >
              Price is required.
            </span>
            <span
              *ngIf="
                createConsumibleForm.controls['price'].errors?.['min'] &&
                createConsumibleForm.controls['price'].touched
              "
              class="form-text text-danger"
            >
              Price must be at least 0.01.
            </span>
          </div>

          <!-- Short Description field -->
          <div class="consumibles-data-item">
            <h5>Descripción Corto</h5>
            <textarea
              formControlName="shortDescription"
              class="form-control"
              rows="1"
              [class.is-invalid]="
                createConsumibleForm.controls['shortDescription'].invalid &&
                createConsumibleForm.controls['shortDescription'].touched
              "
            ></textarea>
            <span
              *ngIf="
                createConsumibleForm.controls['shortDescription'].invalid &&
                createConsumibleForm.controls['shortDescription'].touched
              "
              class="form-text text-danger"
            >
              Short Description is required.
            </span>
          </div>
          <!-- Long Description field -->
          <div class="consumibles-data-item">
            <h5>Descripción Largo</h5>
            <textarea
              formControlName="longDescription"
              class="form-control"
              rows="5"
              [class.is-invalid]="
                createConsumibleForm.controls['longDescription'].invalid &&
                createConsumibleForm.controls['longDescription'].touched
              "
            ></textarea>
            <span
              *ngIf="
                createConsumibleForm.controls['longDescription'].invalid &&
                createConsumibleForm.controls['longDescription'].touched
              "
              class="form-text text-danger"
            >
              Long Description is required.
            </span>
          </div>

          <!-- Category field -->
          <div class="consumibles-data-item">
            <h5>Categoria</h5>
            <mat-form-field appearance="fill">
              <mat-label>Select a category</mat-label>
              <mat-select
                formControlName="category"
                [class.is-invalid]="
                  createConsumibleForm.controls['category'].invalid &&
                  createConsumibleForm.controls['category'].touched
                "
              >
                <mat-option value="Toner">Toner</mat-option>
                <mat-option value="Drum">Drum</mat-option>
                <mat-option value="Papel">Papel</mat-option>
                <mat-option value="Parte">Parte</mat-option>
              </mat-select>
              <mat-error
                *ngIf="
                  createConsumibleForm.controls['category'].invalid &&
                  createConsumibleForm.controls['category'].touched
                "
              >
                Category is required.
              </mat-error>
            </mat-form-field>
          </div>

          <!-- yield field -->
          <div class="consumibles-data-item">
            <h5>Vida Util @ 5%</h5>
            <div class="input-group">
              <input
                type="number"
                class="form-control"
                formControlName="yield"
                [class.is-invalid]="
                  createConsumibleForm.controls['yield'].invalid &&
                  createConsumibleForm.controls['yield'].touched
                "
              />
            </div>
            <span
              *ngIf="
                createConsumibleForm.controls['yield'].invalid &&
                createConsumibleForm.controls['yield'].touched
              "
              class="form-text text-danger"
            >
              Yield is required.
            </span>
          </div>

          <!-- volume field -->
          <div class="consumibles-data-item">
            <h5>Volumen</h5>
            <div class="input-group">
              <input
                type="number"
                class="form-control"
                formControlName="volume"
                [class.is-invalid]="
                  createConsumibleForm.controls['volume'].invalid &&
                  createConsumibleForm.controls['volume'].touched
                "
              />
            </div>
            <span
              *ngIf="
                createConsumibleForm.controls['volume'].invalid &&
                createConsumibleForm.controls['volume'].touched
              "
              class="form-text text-danger"
            >
              Volume is required.
            </span>
          </div>

          <!-- origin field selector-->
          <div class="consumibles-data-item">
            <h5>Origen del producto</h5>
            <mat-form-field appearance="fill">
              <mat-label>Seleciona su origen</mat-label>
              <mat-select formControlName="origen">
                <mat-option value="OEM">OEM</mat-option>
                <mat-option value="Generico">Generico</mat-option>
                <mat-option value="Recarga">Recarga</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <!-- Compatible Models Field -->
          <div class="consumibles-data-item">
            <h5>Modelos Compatibles</h5>
            <div class="tag-inputs-container" formArrayName="compatibleModels">
              <div
                *ngFor="let model of compatibleModelsControls; let i = index"
              >
                <div class="tag-inputs">
                  <input [formControlName]="i" class="form-control" />
                  <button
                    class="button button-danger button-icon"
                    (click)="removeModel(i)"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </div>
              <button
                class="button button-secondary button-icon"
                (click)="addModel()"
              >
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </div>

          <!-- color -->
          <div class="consumibles-data-item">
            <h5>Color</h5>
            <mat-form-field appearance="fill">
              <mat-label>Select a color</mat-label>
              <mat-select formControlName="color">
                <mat-option value="">None</mat-option>
                <mat-option value="K">
                  <span
                    class="color-box"
                    style="background-color: black"
                  ></span>
                  Negro
                </mat-option>
                <mat-option value="C">
                  <span class="color-box" style="background-color: cyan"></span>
                  Cyan
                </mat-option>
                <mat-option value="M">
                  <span
                    class="color-box"
                    style="background-color: magenta"
                  ></span>
                  Magenta
                </mat-option>
                <mat-option value="Y">
                  <span
                    class="color-box"
                    style="background-color: yellow"
                  ></span>
                  Amarillo
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <!-- printers -->
          <div class="consumibles-data-item">
            <h5>Multifuncionales Compartible (En Venta/Renta)</h5>
            <div class="tag-inputs-container" formArrayName="printers">
              <div *ngFor="let printer of printers; let i = index">
                <div class="tag-inputs">
                  <input [formControlName]="i" class="form-control" />
                  <button
                    class="button button-danger button-icon"
                    (click)="removePrinter(i)"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </div>
              <mat-form-field class="example-full-width">
                <input
                  type="text"
                  placeholder="Add printer"
                  aria-label="Number"
                  matInput
                  [formControl]="printerNameControl"
                  [matAutocomplete]="auto"
                />
                <mat-autocomplete
                  #auto="matAutocomplete"
                  (optionSelected)="addPrinterFromAutocomplete($event)"
                >
                  <mat-option
                    *ngFor="let printerName of filteredPrinterNames | async"
                    [value]="printerName"
                  >
                    {{ printerName }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </div>

          <!-- counterpart field -->

          <div class="consumibles-data-item">
            <h5>Producto homólogo</h5>
            <mat-form-field appearance="fill">
              <mat-label>Seleciona el Producto homólogo</mat-label>
              <mat-select formControlName="counterpart">
                <mat-option
                  *ngFor="let consumible of consumibles"
                  [value]="consumible.id"
                >
                  {{ consumible.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
