<div>
  <form [formGroup]="createConsumibleForm" class="section-card">
    <div class="section-card-header">
      <div class="section-card-header-wrapper">
        <app-breadcrumb></app-breadcrumb>
        <h3 class="header-title">Nuevo Consumible</h3>
      </div>
      <div class="button-actions">
        <button
          ButtonResize
          class="button button-primary button-raised button-icon-text"
          (click)="submitForm()"
        >
          <mat-icon>add</mat-icon
          ><span class="button-label">Crear Consumible</span>
        </button>
      </div>
    </div>
    <app-loading-spinner [isLoading]="isSubmitting"></app-loading-spinner>
    <div class="section-card-body">
      <div class="consumibles-images">
        <app-file-upload
          (fileUpload)="onFileUploaded($event)"
          [productFolder]="'Consumibles'"
          [typeFolder]="'imagenes'"
        ></app-file-upload>
        <app-product-image-grid
          [imageUrls]="imageUrlsArray"
          (remove)="openConfirmDialog($event)"
        ></app-product-image-grid>
        <span
          *ngIf="createConsumibleForm.controls['img_url'].invalid"
          class="form-text text-danger"
        >
          Por favor, sube una imagen.
        </span>
      </div>

      <div class="form-container">
        <div class="form-grid">
          <div class="form-item half-row">
            <mat-form-field appearance="outline">
              <mat-label>Nombre</mat-label>
              <input
                matInput
                type="text"
                placeholder="Ej. TN011"
                formControlName="name"
              />
              <mat-error *ngIf="isValidField('name')">{{
                getFieldError('name')
              }}</mat-error>
            </mat-form-field>
          </div>

          <!-- Brand Field -->
          <div class="form-item half-row">
            <mat-form-field appearance="outline">
              <mat-label>Marca</mat-label>
              <input
                matInput
                type="text"
                placeholder="Ej. Konica Minolta"
                formControlName="brand"
              />
              <mat-error *ngIf="isValidField('brand')">{{
                getFieldError('brand')
              }}</mat-error>
            </mat-form-field>
          </div>

          <!-- Category field -->
          <div class="form-item half-row">
            <mat-form-field appearance="outline">
              <mat-label>Categoria</mat-label>
              <mat-select formControlName="category">
                <mat-option value="Toner">Cartucho de tóner</mat-option>
                <mat-option value="Toner">Cartucho de tinta</mat-option>
                <mat-option value="Drum">Fusor</mat-option>
                <mat-option value="Drum">Tambor</mat-option>
                <mat-option value="Drum">Cilindros y rodillos</mat-option>
                <mat-option value="Papel">Papel</mat-option>
              </mat-select>
              <mat-error *ngIf="isValidField('category')">{{
                getFieldError('category')
              }}</mat-error>
            </mat-form-field>
          </div>

          <!-- Price field -->
          <div class="form-item half-row">
            <mat-form-field appearance="outline">
              <mat-label>Precio</mat-label>
              <span matTextPrefix>$&nbsp;</span>
              <input
                matInput
                type="number"
                placeholder="3500"
                formControlName="price"
              />
              <mat-select matTextSuffix formControlName="currency">
                <mat-option value="MXN">MXN</mat-option>
                <mat-option value="USD">USD</mat-option>
              </mat-select>
              <mat-error *ngIf="isValidField('price')">{{
                getFieldError('price')
              }}</mat-error>
            </mat-form-field>
          </div>

          <!-- color -->
          <div class="form-item half-row">
            <mat-form-field appearance="outline">
              <mat-label>Color</mat-label>
              <mat-select formControlName="color">
                <mat-option value="K">
                  <span
                    class="color-box"
                    style="background-color: black"
                  ></span>
                  Negro
                </mat-option>
                <mat-option value="C">
                  <span class="color-box" style="background-color: cyan"></span>
                  Cyan
                </mat-option>
                <mat-option value="M">
                  <span
                    class="color-box"
                    style="background-color: magenta"
                  ></span>
                  Magenta
                </mat-option>
                <mat-option value="Y">
                  <span
                    class="color-box"
                    style="background-color: yellow"
                  ></span>
                  Amarillo
                </mat-option>
              </mat-select>
              <mat-error *ngIf="isValidField('color')">{{
                getFieldError('color')
              }}</mat-error>
            </mat-form-field>
          </div>

          <!-- origin field selector-->
          <div class="form-item half-row">
            <mat-form-field appearance="outline">
              <mat-label>Origen del producto</mat-label>
              <mat-select formControlName="origen">
                <mat-option value="OEM">OEM</mat-option>
                <mat-option value="Generico">Generico</mat-option>
                <mat-option value="Recarga">Recarga</mat-option>
              </mat-select>
              <mat-error *ngIf="isValidField('origen')">{{
                getFieldError('origen')
              }}</mat-error>
            </mat-form-field>
          </div>

          <!-- yield field -->
          <div class="form-item half-row">
            <mat-form-field appearance="outline">
              <mat-label>Vida Util &#64; 5%</mat-label>
              <input
                matInput
                type="number"
                placeholder="Ej. 25000"
                formControlName="yield"
              />
              <span matTextSuffix>páginas</span>
              <mat-error *ngIf="isValidField('yield')">{{
                getFieldError('yield')
              }}</mat-error>
            </mat-form-field>
          </div>

          <!-- volume field -->
          <div class="form-item half-row">
            <mat-form-field appearance="outline">
              <mat-label>Volumen</mat-label>
              <input
                matInput
                type="number"
                placeholder="Ej. 350 gr"
                formControlName="volume"
              />
              <span matTextSuffix>gr</span>
              <mat-error *ngIf="isValidField('volume')">{{
                getFieldError('volume')
              }}</mat-error>
            </mat-form-field>
          </div>

          <!-- SKU Field -->
          <div class="form-item full-row">
            <mat-form-field appearance="outline">
              <mat-label>SKU</mat-label>
              <input
                matInput
                type="text"
                (input)="skuField.value = skuField.value.toUpperCase()"
                placeholder="Ej. A0TH030"
                #skuField
                style="text-transform: uppercase"
                formControlName="sku"
              />
              <mat-error *ngIf="isValidField('sku')">{{
                getFieldError('sku')
              }}</mat-error>
            </mat-form-field>
          </div>

          <!-- Short Description field -->
          <div class="form-item full-row">
            <mat-form-field appearance="outline">
              <mat-label>Descripción Corta</mat-label>
              <textarea
                matInput
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="2"
                formControlName="shortDescription"
                class="short-description-textarea"
              ></textarea>
              <mat-error *ngIf="isValidField('shortDescription')">{{
                getFieldError('shortDescription')
              }}</mat-error>
            </mat-form-field>
          </div>

          <!-- Long Description field -->
          <div class="form-item full-row">
            <mat-form-field appearance="outline">
              <mat-label>Descripción Larga</mat-label>
              <textarea
                matInput
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5"
                formControlName="longDescription"
                class="short-description-textarea"
              ></textarea>
              <mat-error *ngIf="isValidField('longDescription')">{{
                getFieldError('longDescription')
              }}</mat-error>
            </mat-form-field>
          </div>

          <!-- printers -->
          <div class="form-item half-row">
            <mat-form-field appearance="outline">
              <mat-label>Multifuncionales Relacionados</mat-label>
              <mat-chip-grid #chipGridPrinter aria-label="Escribe etiquetas">
                <mat-chip-row
                  *ngFor="let printer of printers; let i = index"
                  (removed)="removePrinter(printer.value)"
                  [aria-description]="'press enter to edit ' + printer"
                >
                  {{ printer.value }}
                  <button matChipRemove [attr.aria-label]="'remove ' + printer">
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip-row>
                <input
                  placeholder="Agrega una multifuncional..."
                  [matChipInputFor]="chipGridPrinter"
                  [formControl]="printerNameControl"
                  [matAutocomplete]="autoPrinter"
                  [matChipInputAddOnBlur]="true"
                />
                <mat-autocomplete
                  #autoPrinter="matAutocomplete"
                  (optionSelected)="addPrinterFromAutocomplete($event)"
                >
                  <ng-container
                    *ngFor="let printerName of filteredPrinterNames | async"
                  >
                    <mat-option [value]="printerName">
                      <mat-checkbox
                        [checked]="isPrinterAdded(printerName)"
                        (click)="$event.stopPropagation()"
                        (change)="togglePrinterSelection($event, printerName)"
                      >
                        {{ printerName }}
                      </mat-checkbox>
                    </mat-option>
                  </ng-container>
                </mat-autocomplete>
                <!-- <mat-autocomplete
                  #autoPrinter="matAutocomplete"
                  (optionSelected)="addPrinterFromAutocomplete($event)"
                >
                  <mat-option
                    *ngFor="let printerName of filteredPrinterNames | async"
                    [value]="printerName"
                  >
                    {{ printerName }}
                  </mat-option>
                </mat-autocomplete> -->
              </mat-chip-grid>
            </mat-form-field>
          </div>

          <!-- counterparts -->
          <div class="form-item half-row">
            <mat-form-field appearance="outline">
              <mat-label>Consumibles Relacionados</mat-label>
              <mat-chip-grid
                #chipGridCounterpart
                aria-label="Escribe etiquetas"
              >
                <mat-chip-row
                  *ngFor="let counterpart of counterparts; let i = index"
                  (removed)="removeCounterpart(counterpart.value)"
                  [aria-description]="'press enter to edit ' + counterpart"
                >
                  {{ counterpart.value }}
                  <button
                    matChipRemove
                    [attr.aria-label]="'remove ' + counterpart"
                  >
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip-row>
                <input
                  placeholder="Agrega un consumible..."
                  [matChipInputFor]="chipGridCounterpart"
                  [formControl]="counterpartNameControl"
                  [matAutocomplete]="autoCounterpart"
                  [matChipInputAddOnBlur]="true"
                />
                <mat-autocomplete
                  #autoCounterpart="matAutocomplete"
                  (optionSelected)="addCounterpartFromAutocomplete($event)"
                >
                  <ng-container
                    *ngFor="
                      let counterpartName of filteredCounterpartNames | async
                    "
                  >
                    <mat-option [value]="counterpartName">
                      <mat-checkbox
                        [checked]="isCounterpartAdded(counterpartName)"
                        (click)="$event.stopPropagation()"
                        (change)="
                          toggleCounterpartSelection($event, counterpartName)
                        "
                      >
                        {{ counterpartName }}
                      </mat-checkbox>
                    </mat-option>
                  </ng-container>
                </mat-autocomplete>
              </mat-chip-grid>
            </mat-form-field>
          </div>

          <!-- Compatible Models Field -->
          <div class="form-item half-row">
            <mat-form-field appearance="outline">
              <mat-label>Modelos Compatibles</mat-label>
              <mat-chip-grid #chipGrid aria-label="Agrega Modelos">
                <mat-chip-row
                  *ngFor="let model of models; let i = index"
                  (removed)="removeModel(model)"
                  [editable]="true"
                  (edited)="editModel(i, $event)"
                  [aria-description]="'presiona enter para editar ' + model"
                >
                  {{ model }}
                  <button matChipRemove [attr.aria-label]="'borra ' + model">
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip-row>
                <input
                  placeholder="Nuevo modelo compatible..."
                  [matChipInputFor]="chipGrid"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  [matChipInputAddOnBlur]="true"
                  (matChipInputTokenEnd)="addModel($event)"
                />
              </mat-chip-grid>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
