@import '_variables.scss';
.consumibles-images {
  width: 100%;
  max-width: 500px;
  align-self: flex-start;
  @media (max-width: 1024px) {
    max-width: 100%;
  }
}

.color-box {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin-right: 5px;
}

.short-description-textarea {
  height: 50px; /* Set a height */
}
