<div>
  <form
    [formGroup]="createConsumibleForm"
    class="consumibles-container"
    *ngIf="createConsumibleForm"
  >
    <div class="consumibles-header">
      <h2>Crear Consumible</h2>
      <button
        type="submit"
        class="button button-primary button-raised"
        (click)="submitForm()"
      >
        <span class="button-label">Agregar Consumible</span>
      </button>
    </div>
    <div class="consumibles-info">
      <div class="consumibles-data-container">
        <div class="consumibles-data">
          <div class="consumibles-data-item">
            <h5>Name</h5>
            <input
              formControlName="name"
              class="form-control"
              type="text"
              [class.is-invalid]="
                createConsumibleForm.controls['name'].invalid &&
                createConsumibleForm.controls['name'].touched
              "
            />
            <span
              *ngIf="
                createConsumibleForm.controls['name'].invalid &&
                createConsumibleForm.controls['name'].touched
              "
              class="form-text text-danger"
            >
              Name is required.
            </span>
          </div>
          <div class="consumibles-data-item">
            <h5>Weight</h5>
            <input
              formControlName="weight"
              class="form-control"
              type="number"
              [class.is-invalid]="
                createConsumibleForm.controls['weight'].invalid &&
                createConsumibleForm.controls['weight'].touched
              "
            />
            <span
              *ngIf="
                createConsumibleForm.controls['weight'].invalid &&
                createConsumibleForm.controls['weight'].touched
              "
              class="form-text text-danger"
            >
              Weight is required.
            </span>
            <span
              *ngIf="
                createConsumibleForm.controls['weight'].errors?.['min'] &&
                createConsumibleForm.controls['weight'].touched
              "
              class="form-text text-danger"
            >
              Weight must be at least 0.01.
            </span>
          </div>
          <div class="consumibles-data-item">
            <h5>Precio</h5>
            <input
              formControlName="price"
              class="form-control"
              type="number"
              step="0.01"
              [class.is-invalid]="
                createConsumibleForm.controls['price'].invalid &&
                createConsumibleForm.controls['price'].touched
              "
            />
            <span
              *ngIf="
                createConsumibleForm.controls['price'].invalid &&
                createConsumibleForm.controls['price'].touched
              "
              class="form-text text-danger"
            >
              Price is required.
            </span>
            <span
              *ngIf="
                createConsumibleForm.controls['price'].errors?.['min'] &&
                createConsumibleForm.controls['price'].touched
              "
              class="form-text text-danger"
            >
              Price must be at least 0.01.
            </span>
          </div>
          <!-- Short Description field -->
          <div class="consumibles-data-item">
            <h5>Short Description</h5>
            <textarea
              formControlName="shortDescription"
              class="form-control"
              rows="1"
              [class.is-invalid]="
                createConsumibleForm.controls['shortDescription'].invalid &&
                createConsumibleForm.controls['shortDescription'].touched
              "
            ></textarea>
            <span
              *ngIf="
                createConsumibleForm.controls['shortDescription'].invalid &&
                createConsumibleForm.controls['shortDescription'].touched
              "
              class="form-text text-danger"
            >
              Short Description is required.
            </span>
          </div>
          <!-- Long Description field -->
          <div class="consumibles-data-item">
            <h5>Long Description</h5>
            <textarea
              formControlName="longDescription"
              class="form-control"
              rows="5"
              [class.is-invalid]="
                createConsumibleForm.controls['longDescription'].invalid &&
                createConsumibleForm.controls['longDescription'].touched
              "
            ></textarea>
            <span
              *ngIf="
                createConsumibleForm.controls['longDescription'].invalid &&
                createConsumibleForm.controls['longDescription'].touched
              "
              class="form-text text-danger"
            >
              Long Description is required.
            </span>
          </div>

          <!-- Category field -->
          <div class="consumibles-data-item">
            <h5>Category</h5>
            <input
              formControlName="category"
              class="form-control"
              type="text"
              [class.is-invalid]="
                createConsumibleForm.controls['category'].invalid &&
                createConsumibleForm.controls['category'].touched
              "
            />
            <span
              *ngIf="
                createConsumibleForm.controls['category'].invalid &&
                createConsumibleForm.controls['category'].touched
              "
              class="form-text text-danger"
            >
              Category is required.
            </span>
          </div>
          <div class="consumibles-data-item">
            <h5>Stock</h5>
            <input
              formControlName="stock"
              class="form-control"
              type="number"
              [class.is-invalid]="
                createConsumibleForm.controls['stock'].invalid &&
                createConsumibleForm.controls['stock'].touched
              "
            />
            <span
              *ngIf="
                createConsumibleForm.controls['stock'].invalid &&
                createConsumibleForm.controls['stock'].touched
              "
              class="form-text text-danger"
            >
              Stock is required.
            </span>
            <span
              *ngIf="
                createConsumibleForm.controls['stock'].errors?.['min'] &&
                createConsumibleForm.controls['stock'].touched
              "
              class="form-text text-danger"
            >
              Stock must be at least 1.
            </span>
          </div>
          <div class="consumibles-data-item">
            <h5>Location</h5>
            <input
              formControlName="location"
              class="form-control"
              type="text"
              [class.is-invalid]="
                createConsumibleForm.controls['location'].invalid &&
                createConsumibleForm.controls['location'].touched
              "
            />
            <span
              *ngIf="
                createConsumibleForm.controls['location'].invalid &&
                createConsumibleForm.controls['location'].touched
              "
              class="form-text text-danger"
            >
              Location is required.
            </span>
          </div>

          <div class="consumibles-data-item">
            <div class="tag-inputs-container" formArrayName="images">
              <div *ngFor="let image of images.controls; let i = index"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h5>Images</h5>
    <app-product-image-grid
      [imageUrls]="imageUrlsArray"
      (remove)="onRemove($event)"
    ></app-product-image-grid>

    <app-file-upload (fileUpload)="onFileUploaded($event)"></app-file-upload>
  </form>
</div>
