@import '_variables.scss';

.user-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.suggestion {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-top: 0.25rem;
  font-size: 0.875rem;
  .green-check {
    color: $success-color;
  }
}

.valid {
  color: $green-600;
}

.password-feedback {
  margin-top: 0.25rem;
  font-size: 0.875rem;
}
