<!-- sidenav.component.html -->
<!-- Desktop layout -->
<div
  class="sidenav"
  *ngIf="screenWidth > 768"
  [ngClass]="{ 'sidenav-close': !sidenavOpen }"
>
  <!-- Sidenav Header -->
  <div class="sidenav-header">
    <!-- Logo for Collapsed State -->
    <div class="logo-container" *ngIf="!sidenavOpen">
      <div class="icon-sidenav">
        <span
          class="material-symbols-outlined"
          (click)="toggleDesktopSidenav()"
        >
          side_navigation
        </span>
      </div>
    </div>
    <!-- Logo for Expanded State -->
    <div class="logo-container" *ngIf="sidenavOpen">
      <img
        src="../../../../assets/logo/fixsell-logo-small.svg"
        alt="logo-fixsell"
        (click)="toggleDesktopSidenav()"
      />
    </div>
    <!-- Company Info -->
    <div class="sidenav-header-container" *ngIf="sidenavOpen">
      <div class="sidenav-company">
        <span class="sidenav-company-name" @fadeInOut>Fixsell del Norte</span>
        <span class="sidenav-company-software" @fadeInOut>Software ERP</span>
      </div>
      <div class="icon-sidenav" @fadeInOut>
        <span
          class="material-symbols-outlined"
          (click)="toggleDesktopSidenav()"
        >
          side_navigation
        </span>
      </div>
    </div>
  </div>

  <!-- Navigation Items -->
  <div class="sidenav-nav">
    <div class="sidenav-nav-item" *ngFor="let data of navData">
      <!-- Parent Route -->
      <div
        class="sidenav-nav-link"
        [routerLink]="
          data.routeLink && !data.subRoutes ? ['/' + data.routeLink] : null
        "
        *ngIf="isRouteAllowed(data)"
        (click)="handleClick(data)"
      >
        <!-- Icon -->
        <div
          class="sidenav-link-icon-container"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: false }"
        >
          <span class="material-symbols-outlined sidenav-link-icon">{{
            data.icon
          }}</span>
        </div>
        <!-- Label and Expander -->
        <div class="sidenav-link-items-container" *ngIf="sidenavOpen">
          <div class="sidenav-link-item-header">
            <span class="sidenav-link-text" @fadeInOut>{{ data.label }}</span>
            <mat-icon
              *ngIf="data.subRoutes"
              [ngClass]="{ rotate: data.isExpanded && data.subRoutes }"
              @fadeInOut
              >chevron_right</mat-icon
            >
          </div>
        </div>
      </div>

      <!-- Subroutes -->
      <div
        class="sidenav-link-item-body"
        [ngClass]="{
          'sidenav-open-subroutes': data.isExpanded && data.subRoutes
        }"
      >
        <ng-container *ngFor="let subRoute of data.subRoutes">
          <p
            *ngIf="isRouteAllowed(subRoute)"
            [routerLink]="['/' + subRoute.routeLink]"
            routerLinkActive="subroute-active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            {{ subRoute.label }}
          </p>
        </ng-container>
      </div>
    </div>

    <!-- User Information -->
    <div class="sidenav-item-user" routerLink="/dashboard/settings">
      <div class="sidenav-user-icon-container">
        <div class="avatar-container">
          <img
            class="avatar"
            src="../../../../assets/icons/avatar/avatar-1.svg"
            alt="avatar"
          />
          <!-- Add notification badge -->
          <span class="notification-badge" *ngIf="unreadNotificationsCount > 0">
            {{
              unreadNotificationsCount > 99 ? '99+' : unreadNotificationsCount
            }}
          </span>
        </div>
      </div>
      <div class="sidenav-user-items-container" *ngIf="sidenavOpen">
        <div class="sidenav-user-item-header">
          <span class="sidenav-user-name" @fadeInOut>{{ user?.name }}</span>
          <span class="sidenav-user-email" @fadeInOut>{{ user?.email }}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Mobile layout -->
<div
  class="sidenav-mobile"
  [ngClass]="collapsed ? 'collapsed' : ''"
  *ngIf="screenWidth <= 768"
>
  <!-- Mobile Sidenav Header -->
  <div class="sidenav-mobile-header">
    <div class="logo-container">
      <img
        src="../../../../assets/logo/fixsell-logo-small.svg"
        class="logo"
        alt="logo-fixsell"
      />
    </div>
    <div class="btn-mobile-menu" (click)="toggleCollapse()">
      <span class="material-symbols-outlined"> menu </span>
    </div>
  </div>
  <div class="backdrop" *ngIf="!collapsed" (click)="collapseMobileNav()"></div>
  <div class="sidenav-nav" (click)="$event.stopPropagation()">
    <div class="sidenav-nav-item" *ngFor="let data of navData">
      <!-- Parent Route -->
      <div
        class="sidenav-nav-link"
        [routerLink]="
          data.routeLink && !data.subRoutes ? ['/' + data.routeLink] : null
        "
        *ngIf="isRouteAllowed(data)"
        (click)="handleClick(data)"
      >
        <!-- Icon -->
        <div
          class="sidenav-link-icon-container"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: false }"
        >
          <span class="material-symbols-outlined sidenav-link-icon">{{
            data.icon
          }}</span>
        </div>
        <!-- Label and Expander -->
        <div class="sidenav-link-items-container" *ngIf="!collapsed">
          <div class="sidenav-link-item-header">
            <span class="sidenav-link-text" @fadeInOut>{{ data.label }}</span>
            <mat-icon
              *ngIf="data.subRoutes"
              [ngClass]="{ rotate: data.isExpanded && data.subRoutes }"
              @fadeInOut
              >chevron_right</mat-icon
            >
          </div>
        </div>
      </div>

      <!-- Subroutes -->
      <div
        class="sidenav-link-item-body"
        [ngClass]="{
          'sidenav-open-subroutes': data.isExpanded && data.subRoutes
        }"
      >
        <ng-container *ngFor="let subRoute of data.subRoutes">
          <p
            *ngIf="isRouteAllowed(subRoute)"
            [routerLink]="['/' + subRoute.routeLink]"
            routerLinkActive="subroute-active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            {{ subRoute.label }}
          </p>
        </ng-container>
      </div>
    </div>

    <!-- User Information (Mobile) -->
    <div class="sidenav-item-user" routerLink="/dashboard/settings">
      <div class="sidenav-user-icon-container">
        <div class="avatar-container">
          <img
            class="avatar"
            src="../../../../assets/icons/avatar/avatar-1.svg"
            alt="avatar"
          />
          <!-- Add notification badge to mobile view too -->
          <span class="notification-badge" *ngIf="unreadNotificationsCount > 0">
            {{
              unreadNotificationsCount > 99 ? '99+' : unreadNotificationsCount
            }}
          </span>
        </div>
      </div>
      <div class="sidenav-user-items-container" *ngIf="!collapsed">
        <div class="sidenav-user-item-header">
          <span class="sidenav-user-name" @fadeInOut>{{ user?.name }}</span>
          <span class="sidenav-user-email" @fadeInOut>{{ user?.email }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
