@import "_variables.scss";
.sidenav {
    background: $sidenav-bg;
    transition: all .5s ease;
    position: sticky;
    top: 0;
    // z-index: 1;
    // width: 5rem;
    width: 200px;
    height: 100vh;
    box-shadow: 0.063rem 0 1.25rem 0 #8690a3;
    .logo-container {
        display: flex;
        align-items: center;
        padding: 1em;
        width: 100%;
        background-color: #fff;
        .logo {
            background: #fff;
            text-align: center;
            width: 3rem;
            min-width: 3rem;
            border-radius: 0.313rem;
            padding: 0.313rem;
            font-size: 24px;
            font-weight: 900;
            cursor: pointer;
            border: none;
        }
        .logo-text {
            margin-left: 1.5rem;
            font-size: 24px;
            font-weight: 700;
            color: #fff;
        }
        .btn-closed {
            margin-left: auto;
            cursor: pointer;
            width: 2rem;
            height: 1.8rem;
            border-radius: 50%;
            background-color: transparent;
            border: none;
            .fa-times {
                color: #fff;
                font-size: 24px;
            }
        }
    }
}

.sidenav-collapsed {
    width: 16.5625rem;
}

.sidenav-nav {
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    .sidenav-nav-item {
        display: flex;
        width: 100%;
        .sidenav-nav-link {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            // height: 3rem;
            gap: 1em;
            color: #f3f3f3;
            text-decoration: none;
            transition: all .3s ease;
            padding: 1em;
            .sidenav-link-icon-container {
                display: flex;
                align-items: flex-start;
                justify-content: center;
                height: 100%;
                .sidenav-link-icon {
                    font-size: 1.5rem;
                }
            }
            .sidenav-link-items-container {
                display: flex;
                flex-direction: column;
                width: 100%;
                row-gap: .5em;
                .sidenav-link-item-header {
                    width: 100%;
                }
                .sidenav-link-item-body {
                    display: flex;
                    flex-direction: column;
                    gap: .5em;
                    p {
                        margin-left: 1em;
                        font-size: 1em;
                        margin-bottom: 0;
                        color: $sidenav-link;
                        &:hover {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    .sidenav-nav-item:hover {
        .sidenav-nav-link {
            background-color: $sidenav-item;
        }
    }
}

.active {
    background-color: $sidenav-item;
    .sidenav-link-icon,
    .sidenav-link-text {
        color: #fff;
    }
}

.sidenav-mobile {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    background: $sidenav-bg;
    z-index: 1000;
    .logo-container {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        background-color: white;
        border-bottom: 1px solid $gray-200;
        .logo {
            width: 200px;
            cursor: pointer;
            border: none;
        }
        .logo-text {
            font-size: 24px;
            font-weight: 700;
            color: #fff;
            display: flex;
            align-self: center;
        }
        .btn-closed {
            cursor: pointer;
            width: 2rem;
            height: 1.8rem;
            border-radius: 50%;
            background-color: transparent;
            border: none;
            color: $gray-900;
            .fa-times {
                color: #fff;
                font-size: 24px;
            }
        }
    }
    .sidenav-nav {
        display: flex;
        justify-content: space-around;
        list-style: none;
        // padding: 10px 0;
        padding: 0;
        margin: 0;
        background: #263238;
    }
    .sidenav-nav-item {
        color: #fff;
    }
    .sidenav-nav-link {
        color: #fff;
        text-decoration: none;
    }
}

.sidenav-mobile.collapsed .sidenav-nav {
    display: none;
}