<form>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="form-group">
          <label for="printer">Equipo</label>
          <select class="form-control" [formControl]="selectedPrinter">
            <option
              *ngFor="let printerName of printerNames"
              [value]="printerName"
            >
              {{ printerName }}
            </option>
          </select>
          <p>Price: {{ printerPrice }}</p>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="form-group">
          <label for="dealStartDate">Fecha de Inico</label>
          <input
            type="date"
            class="form-control"
            id="dealStartDate"
            [formControl]="dealStartDate"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="form-group">
          <label for="dealEndDate">Fecha de Finalizacion</label>
          <input
            type="date"
            class="form-control"
            id="dealEndDate"
            [formControl]="dealEndDate"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="form-group">
            <label for="dealPrice">Precio de Promocion</label>
            <div class="d-flex">
              <input
                type="number"
                class="form-control"
                id="dealPrice"
                placeholder="Enter deal price"
                [formControl]="dealPrice"
              />
              <button
                type="button"
                class="btn btn-primary button button-primary ml-2"
                (click)="calculatePercentage()"
              >
                Calcular Porcentage
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="form-group">
            <label for="dealDiscountPercentage">Porcentage de Descuento</label>
            <div class="d-flex">
              <input
                type="number"
                class="form-control"
                id="dealDiscountPercentage"
                placeholder="Enter deal discount percentage"
                [formControl]="dealDiscountPercentage"
              />
              <button
                type="button"
                class="btn btn-primary button button-primary ml-2"
                (click)="calculatePrice()"
              >
                Calcular Precio
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="form-group">
          <label for="dealDescription">Descripcion</label>
          <textarea
            class="form-control"
            id="dealDescription"
            rows="3"
            [formControl]="dealDescription"
          ></textarea>
        </div>
      </div>
    </div>
    <div class="row button-container">
      <div class="col-12">
        <button
          type="submit"
          class="btn btn-primary button button-primary"
          (click)="addPromotion()"
        >
          Agregar Promocion
        </button>
      </div>
    </div>
  </div>
</form>
