<div>
  <form class="deal-container">
    <div class="deal-header">
      <h2>Nuevo Promocion</h2>
      <button
        type="submit"
        class="button button-primary button-raised"
        (click)="addPromotion()"
      >
        <span class="button-label">Crear Promocion</span>
      </button>
    </div>

    <div class="loading-container" *ngIf="isLoadingForm">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>

    <div class="deal-info">
      <div class="deal-data-container">
        <div class="row">
          <div class="col-md-6 deal-data-item">
            <label for="printer">Equipo</label>
            <input
              type="text"
              id="printer"
              class="form-control example-input"
              [formControl]="selectedPrinter"
              [matAutocomplete]="auto"
            />
            <mat-autocomplete
              #auto="matAutocomplete"
              (optionSelected)="setSelectedPrinter($event)"
              class="form-control"
            >
              <mat-option
                *ngFor="let printerName of filteredPrinterNames | async"
                [value]="printerName"
              >
                {{ printerName }}
              </mat-option>
            </mat-autocomplete>
            <label for="printerPrice">Precio de Multifuncional</label>
            <input
              type="text"
              id="printerPrice"
              class="form-control"
              [value]="printerPrice"
              disabled
            />
          </div>
          <div class="col-md-6 deal-data-item">
            <label for="dealStartDate">Fecha de Inicio</label>
            <input
              type="date"
              class="form-control"
              id="dealStartDate"
              [formControl]="dealStartDate"
            />
            <label for="dealEndDate">Fecha de Finalización</label>
            <input
              type="date"
              class="form-control"
              id="dealEndDate"
              [formControl]="dealEndDate"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 deal-data-item">
            <label for="dealPrice">Precio de Promoción</label>
            <div class="input-group">
              <input
                type="number"
                class="form-control"
                id="dealPrice"
                placeholder="Enter deal price"
                [formControl]="dealPrice"
              />
              <div class="input-group-append">
                <button
                  type="button"
                  class="btn btn-outline-secondary"
                  (click)="calculatePercentage()"
                >
                  Calcular Porcentaje
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-6 deal-data-item">
            <label for="dealDiscountPercentage">Porcentaje de Descuento</label>
            <div class="input-group">
              <input
                type="number"
                class="form-control"
                id="dealDiscountPercentage"
                placeholder="Enter deal discount percentage"
                [formControl]="dealDiscountPercentage"
              />
              <div class="input-group-append">
                <button
                  type="button"
                  class="btn btn-outline-secondary"
                  (click)="calculatePrice()"
                >
                  Calcular Precio
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 deal-data-item">
            <label for="dealDescription">Descripción</label>
            <textarea
              class="form-control"
              id="dealDescription"
              rows="3"
              [formControl]="dealDescription"
            ></textarea>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
