<app-loading-spinner [isLoading]="isLoadingData"></app-loading-spinner>
<!-- header -->
<div class="main-container" [hidden]="isLoadingData">
  <div class="main-body">
    <div class="tickets-container">
      <div class="tickets">
        <div class="tickets-header">
          <h3 class="tickets-title">Mis Tickets</h3>
          <div class="tickets-action-buttons">
            <button
              class="button button-primary button-raised button-icon-text"
              (click)="addTicket()"
              *ngIf="'canCreateTicket' | hasPermission"
            >
              <mat-icon>add</mat-icon
              ><span class="button-label">Crear Ticket</span>
            </button>
          </div>
        </div>
        <div class="tickets-body">
          <div class="tickets-body-content">
            <mat-tab-group>
              <mat-tab label="Tickets Abiertos">
                <div class="ticket-card">
                  <div class="ticket-card-header">
                    <div class="ticket-card-header-content">
                      <h5 class="card-title">Tickets Abiertos</h5>
                      <ng-container
                        *ngIf="openTicketsCount > 0; else noTickets"
                      >
                        <p class="card-subtitle">
                          Tienes <b>{{ openTicketsCount }}</b> tickets
                          pendientes.
                          <span class="text-muted">¡Resuélvelos pronto!</span>
                        </p>
                      </ng-container>

                      <ng-template #noTickets>
                        <p class="card-subtitle text-success">
                          No hay tickets abiertos. ¡Todo bajo control! 🎉
                        </p>
                      </ng-template>
                    </div>
                    <div class="ticket-card-header-actions">
                      <button
                        class="button button-text-primary"
                        (click)="navigateOpenTickets()"
                        *ngIf="'canViewTicket' | hasPermission"
                      >
                        <span class="button-label">Ver Todos</span>
                      </button>
                    </div>
                  </div>
                  <div class="ticket-card-body">
                    <!-- Add content for open tickets card here -->
                    <div class="ticket-list-card">
                      <div
                        class="ticket-list-card-header"
                        (click)="
                          isHighPriorityTicketListVisible =
                            !isHighPriorityTicketListVisible
                        "
                      >
                        <div class="ticket-list-card-header-content">
                          <mat-icon class="high-priority"
                            >priority_high</mat-icon
                          >
                          <p class="header-title">Urgente</p>
                          <div class="ticket-count">
                            {{ highPriorityTicketsCount }}
                          </div>
                        </div>
                        <div
                          class="ticket-list-card-header-actions"
                          *ngIf="highPriorityTickets.length > 0"
                        >
                          <div
                            class="arrow-down-icon"
                            [class.rotate]="isHighPriorityTicketListVisible"
                          >
                            <mat-icon>arrow_drop_down</mat-icon>
                          </div>
                        </div>
                      </div>
                      <div
                        class="ticket-list-card-body"
                        *ngIf="highPriorityTickets.length > 0"
                        [class.visible]="isHighPriorityTicketListVisible"
                      >
                        <div class="ticket-list-card-body-content">
                          <ng-container
                            *ngFor="let ticket of highPriorityTickets"
                          >
                            <support-ticket-card
                              [ticket]="ticket"
                            ></support-ticket-card>
                          </ng-container>
                        </div>
                      </div>
                    </div>
                    <div class="ticket-list-card">
                      <div
                        class="ticket-list-card-header"
                        (click)="
                          isMediumPriorityTicketListVisible =
                            !isMediumPriorityTicketListVisible
                        "
                      >
                        <div class="ticket-list-card-header-content">
                          <mat-icon class="medium-priority"
                            >priority_high</mat-icon
                          >
                          <p class="header-title">Moderado</p>
                          <div class="ticket-count">
                            {{ mediumPriorityTicketsCount }}
                          </div>
                        </div>
                        <div
                          class="ticket-list-card-header-actions"
                          *ngIf="mediumPriorityTickets.length > 0"
                        >
                          <div
                            class="arrow-down-icon"
                            [class.rotate]="isMediumPriorityTicketListVisible"
                          >
                            <mat-icon>arrow_drop_down</mat-icon>
                          </div>
                        </div>
                      </div>
                      <div
                        class="ticket-list-card-body"
                        *ngIf="mediumPriorityTickets.length > 0"
                        [class.visible]="isMediumPriorityTicketListVisible"
                      >
                        <div class="ticket-list-card-body-content">
                          <ng-container
                            *ngFor="let ticket of mediumPriorityTickets"
                          >
                            <support-ticket-card
                              [ticket]="ticket"
                            ></support-ticket-card>
                          </ng-container>
                        </div>
                      </div>
                    </div>
                    <div class="ticket-list-card">
                      <div
                        class="ticket-list-card-header"
                        (click)="
                          isLowPriorityTicketListVisible =
                            !isLowPriorityTicketListVisible
                        "
                      >
                        <div class="ticket-list-card-header-content">
                          <!-- <div class="ticket-count low-priority">
                  {{ lowPriorityTicketsCount }}
                </div> -->
                          <mat-icon class="low-priority"
                            >priority_high</mat-icon
                          >
                          <p class="header-title">Baja</p>
                          <div class="ticket-count">
                            {{ lowPriorityTicketsCount }}
                          </div>
                        </div>
                        <div
                          class="ticket-list-card-header-actions"
                          *ngIf="lowPriorityTickets.length > 0"
                        >
                          <div
                            class="arrow-down-icon"
                            [class.rotate]="isLowPriorityTicketListVisible"
                          >
                            <mat-icon>arrow_drop_down</mat-icon>
                          </div>
                        </div>
                      </div>
                      <div
                        class="ticket-list-card-body"
                        *ngIf="lowPriorityTickets.length > 0"
                        [class.visible]="isLowPriorityTicketListVisible"
                      >
                        <div class="ticket-list-card-body-content">
                          <ng-container
                            *ngFor="let ticket of lowPriorityTickets"
                          >
                            <support-ticket-card
                              [ticket]="ticket"
                            ></support-ticket-card>
                          </ng-container>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-tab>
              <mat-tab label="Tickets Resueltos">
                <div class="ticket-card">
                  <div class="ticket-card-header">
                    <div class="ticket-card-header-content">
                      <h5 class="card-title">Tickets Resueltos</h5>
                      <ng-container
                        *ngIf="closedTicketsCount > 0; else noClosedTickets"
                      >
                        <p class="card-subtitle text-success">
                          ¡Excelente! Has cerrado
                          <b>{{ closedTicketsCount }}</b> tickets.
                          <span class="text-muted">¡Sigue así! 🚀</span>
                        </p>
                      </ng-container>

                      <ng-template #noClosedTickets>
                        <div class="no-tickets">
                          <p class="text-muted">
                            Aún no has cerrado tickets. ¡Vamos por el primero!
                            💪
                          </p>
                        </div>
                      </ng-template>
                    </div>
                    <div
                      class="ticket-card-header-actions"
                      *ngIf="closedTickets.length > 0"
                    >
                      <button
                        class="button button-text-primary button-full"
                        (click)="navigateClosedTickets()"
                      >
                        <span class="button-label">Ver Todos</span>
                      </button>
                    </div>
                  </div>
                  <div
                    class="ticket-card-body"
                    *ngIf="closedTickets.length > 0"
                  >
                    <div class="ticket-list-card-body visible">
                      <div class="ticket-list-card-body-content">
                        <ng-container *ngFor="let ticket of closedTickets">
                          <support-ticket-card
                            [ticket]="ticket"
                          ></support-ticket-card>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
    </div>

    <div class="calendar-container">
      <div class="calendar-header">
        <div class="calendar-date-container" [ngSwitch]="view">
          <!-- Day View -->
          <div *ngSwitchCase="'day'" class="view-header day-view-header">
            <div class="navigation-buttons">
              <button class="nav-button" (click)="previousDay()">
                <mat-icon>chevron_left</mat-icon>
              </button>
              <button class="nav-button" (click)="nextDay()">
                <mat-icon>chevron_right</mat-icon>
              </button>
            </div>
            <h5 class="date-title">{{ viewDate | date : 'fullDate' }}</h5>
          </div>

          <!-- Week View -->
          <div *ngSwitchCase="'week'" class="view-header week-view-header">
            <div class="navigation-buttons">
              <button class="nav-button" (click)="previousWeek()">
                <mat-icon>chevron_left</mat-icon>
              </button>
              <button class="nav-button" (click)="nextWeek()">
                <mat-icon>chevron_right</mat-icon>
              </button>
            </div>
            <h2 class="date-title">Semana {{ viewDate | date : 'w' }}</h2>
          </div>

          <!-- Month View -->
          <div *ngSwitchCase="'month'" class="view-header month-view-header">
            <div class="navigation-buttons">
              <button class="nav-button" (click)="previousMonth()">
                <mat-icon>chevron_left</mat-icon>
              </button>
              <button class="nav-button" (click)="nextMonth()">
                <mat-icon>chevron_right</mat-icon>
              </button>
            </div>
            <h2 class="date-title">{{ viewDate | date : 'MMMM yyyy' }}</h2>
          </div>
        </div>
        <div class="calendar-actions-container">
          <div class="calendar-date-today">
            <button class="button button-outline-secondary" (click)="today()">
              <span class="button-label">Hoy</span>
            </button>
          </div>
          <div class="calendar-date-selector">
            <mat-form-field appearance="outline">
              <mat-select [(ngModel)]="view" (change)="setView()">
                <mat-option value="day">Dia</mat-option>
                <mat-option value="week">Semana</mat-option>
                <mat-option value="month">Mes</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>

      <!-- Calendar Views -->
      <mwl-calendar-day-view
        *ngIf="view === 'day'"
        [viewDate]="viewDate"
        [events]="events"
        [dayStartHour]="7"
        [dayEndHour]="19"
        [eventTitleTemplate]="customEventTitleTemplate"
        (eventClicked)="eventClicked($event)"
      >
      </mwl-calendar-day-view>

      <ng-template #customEventTitleTemplate let-event="event">
        <div
          style="
            padding: 0.5em;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            flex-wrap: wrap;
          "
        >
          <div>
            <div style="font-weight: bold">{{ event.clientName }}</div>
            <div>
              {{ event.start | date : 'shortTime' }} -
              {{ event.end | date : 'shortTime' }}
            </div>
            <div>{{ event.title }}</div>
          </div>
          <div style="display: flex; align-items: center">
            <mat-icon>person</mat-icon>
            <span style="margin-left: 0.5em">{{ event.assigned }}</span>
          </div>
        </div>
      </ng-template>

      <mwl-calendar-week-view
        *ngIf="view === 'week'"
        [dayStartHour]="7"
        [dayEndHour]="19"
        [viewDate]="viewDate"
        [events]="events"
        (eventClicked)="eventClicked($event)"
      >
      </mwl-calendar-week-view>

      <mwl-calendar-month-view
        *ngIf="view === 'month'"
        [viewDate]="viewDate"
        [events]="events"
        (dayClicked)="dayClicked($event.day.date)"
        (eventClicked)="eventClicked($event)"
      >
      </mwl-calendar-month-view>
    </div>
  </div>
</div>
