@import "_variables.scss";

.main-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.main-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: $white;
    border: 1px solid $gray-300;
    padding: 16px;
    border-radius: $border-radius;
    width: 100%;
    gap: 1em;
    .main-title {
        margin: 0;
    }
    .main-action-buttons {
        display: flex;
        align-items: center;
        gap: 0.5em;
        flex-wrap: wrap;
        @media (max-width: 576px) {
            .search-box {
                width: 100%;
            }
        }
    }
}

.main-body {
    display: flex;
    gap: .5rem;
    @media(max-width: 768px) {
        flex-direction: column;
    }
}

.calendar-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.tickets-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    @media(max-width: 768px) {
        flex-direction: column;
    }
}

.ticket-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: $white;
    border: 1px solid $gray-300;
    border-radius: $border-radius;
    padding: 1rem;
    width: 100%;
}

.ticket-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header-content {
        display: flex;
        gap: 0.5em;
        align-items: center;
        margin-left: .5rem;
        .card-title {
            margin: 0;
        }
        .ticket-count {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $gray-600;
            color: $white;
            width: 32px;
            height: 32px;
            border-radius: 32px;
            font-family: "Roboto Mono", monospace;
            font-size: 14px;
            line-height: 1;
        }
    }
    
}

.ticket-card-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.ticket-list-card {
    display: flex;
    flex-direction: column;
    border: 1px solid $gray-300;
    border-radius: $border-radius;
}

.ticket-list-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    cursor: pointer;
    .header-content {
        display: flex;
        gap: 0.5em;
        align-items: center;
        .card-title {
            margin: 0;
        }
        .ticket-count {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $gray-600;
            color: $white;
            width: 32px;
            height: 32px;
            border-radius: 32px;
            font-family: "Roboto Mono", monospace;
            font-size: 14px;
            line-height: 1;
        }
    }
    .header-actions {
        .arrow-down-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: .5rem;
            transition: all 0.3s ease;
        }
    }
}

.rotate {
    transform: rotate(180deg);
}

.ticket-list-card-body {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}

.ticket-list-card-body.visible {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  max-height: 500px; /* Adjust as needed */
 overflow-y: auto;
  opacity: 1;
}

.ticket-list-card-body-content {
  padding: .5rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.high-priority {
    background-color: $red-500 !important;
}

.medium-priority {
    background-color: $orange-500 !important;
}

.low-priority {
    background-color: $yellow-500 !important;
}

.ticket {
    background-color: $gray-50;
    border-radius: $border-radius;
    border: 1px solid $gray-200;
    &:hover {
        background-color: $gray-100;
    }
    .ticket-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        .ticket-header {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            gap: .5rem;
            .ticket-icon {
                color: $gray-600;
            }
            .ticket-header-chips {
                display: flex;
                flex-wrap: wrap;
                gap: .5rem;
                .ticket-type {
                    display: flex;
                    align-items: center;
                    gap: .25rem;
                    background-color: $gray-600;
                    border-radius: $border-radius;
                    color: $white;
                    padding: .25rem .5rem;
                    font-family: 'Roboto Mono', monospace;
                    font-size: 14px;
                    line-height: 1;
                    min-height: 34px;
                }
                .ticket-status {
                    display: flex;
                    align-items: center;
                    gap: .25rem;
                    background-color: $indigo-500;
                    border-radius: $border-radius;
                    color: $white;
                    padding: .25rem .5rem;
                    font-family: 'Roboto Mono', monospace;
                    font-size: 14px;
                    line-height: 1;
                    min-height: 34px;
                }
                .ticket-client {
                    display: flex;
                    align-items: center;
                    gap: .25rem;
                    border: 1px solid $text;
                    background-color: transparent;
                    border-radius: $border-radius;
                    color: $text;
                    padding: .25rem .5rem;
                    font-family: 'Roboto Mono', monospace;
                    font-size: 14px;
                    line-height: 1;
                    mat-icon {
                        color: $gray-600;
                    }
                }
                .ticket-date {
                    display: flex;
                    align-items: center;
                    gap: .25rem;
                    background-color: transparent;
                    border: 1px solid $gray-600;
                    border-radius: $border-radius;
                    color: $gray-600;
                    padding: .25rem .5rem;
                    font-family: 'Roboto Mono', monospace;
                    font-size: 14px;
                    line-height: 1;
                    mat-icon {
                        color: $gray-600;
                    }
                }
            }
        }
        .ticket-body {}
    }
}

.ticket-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    border-radius: $border-radius;
    // border: 1px solid $gray-300;
    // padding: .5rem;
    // background-color: $gray-100;
    .ticket-info-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: .25rem;
        flex-wrap: wrap;

        mat-icon {
            color: $red-500;
        }
        .ticket-info-item-title {
            font-family: "Roboto Mono", monospace;
            font-weight: 500;
            // padding: .25rem .5rem;
        }
        .ticket-info-item-content {
            font-weight: 400;
        }
    }
}

.ticket-info .button {
  display: none;
}


.ticket:hover .ticket-info .button {
  display: flex; /* or 'block', depending on your layout */
}

// .ticket-info:hover .button {
//   display: flex; /* or 'block', depending on your layout */
// }

@media (max-width: 768px) {
  .ticket-info .button {
    display: flex; /* or 'block', depending on your layout */
  }
}

@media (max-width: 600px) {
    .card-container {
        flex-direction: column;
    }
}

.view-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    background-color: #f5f5f5;
    border-radius: 5px;
    // margin-bottom: 0.5em;
    .nav-button {
        display: flex;
        align-items: center;
        background: none;
        border: none;
        font-size: 24px;
        color: #007bff;
        cursor: pointer;
        transition: color 0.3s ease;
        &:hover {
            color: #0056b3;
        }
    }
    .date-title {
        margin: 0;
        font-size: 20px;
        color: #333;
    }
}

.day-view-header {
    // Add any specific styles for the day view header here
}

.week-view-header {
    // Add any specific styles for the week view header here
}

.month-view-header {
    // Add any specific styles for the month view header here
}

.status-open {
    background-color: $green-400;
}

.status-in-progress {
    background-color: $yellow-300;
}

.status-without-resolution {
    background-color: $orange-400;
}

.status-completed {
    background-color: $blue-400;
}

.priority-low {
    background-color: $green-200;
}

.priority-medium {
    background-color: $yellow-300;
}

.priority-high {
    background-color: $red-400;
}