<app-loading-spinner [isLoading]="isLoadingData"></app-loading-spinner>
<!-- header -->
<div [hidden]="isLoadingData">
  <div class="table-header">
    <h2>Mis Tickets</h2>
    <div class="table-action-buttons">
      <button
        class="button button-primary button-raised button-icon-text"
        (click)="addTicket()"
      >
        <mat-icon>add</mat-icon><span class="button-label">Agregar</span>
      </button>
    </div>
  </div>
  <!-- open tickets and closed tickets -->
  <div class="card-container">
    <div class="card">
      <div class="card-head">
        <div class="card-title">
          <mat-icon>folder_open</mat-icon> Mis Tickets Abiertos
        </div>
        <div class="card-count">{{ openTicketsCount }}</div>
      </div>
      <div class="card-body">
        <!-- Add content for open tickets card here -->
        <button
          class="button button-primary button-raised button-icon-text"
          (click)="openTickets()"
        >
          <mat-icon>visibility</mat-icon><span class="button-label">Ver</span>
        </button>
      </div>
    </div>
    <div class="card">
      <div class="card-head">
        <div class="card-title">
          <mat-icon>done</mat-icon> Mis Tickets Cerrados
        </div>
        <div class="card-count">{{ closedTicketsCount }}</div>
      </div>
      <div class="card-body">
        <!-- Add content for closed tickets card here -->
        <button
          class="button button-primary button-raised button-icon-text"
          (click)="closedTickets()"
        >
          <mat-icon>visibility</mat-icon><span class="button-label">Ver</span>
        </button>
      </div>
    </div>
  </div>

  <select
    [(ngModel)]="view"
    (change)="setView()"
    class="form-select"
    style="width: 10%"
  >
    <option value="day">Dia</option>
    <option value="week">Semana</option>
    <option value="month">Mes</option>
  </select>

  <div [ngSwitch]="view">
    <!-- Day View -->
    <div *ngSwitchCase="'day'" class="view-header day-view-header">
      <button class="nav-button" (click)="previousDay()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <h2 class="date-title">{{ viewDate | date : "fullDate" }}</h2>
      <button class="nav-button" (click)="nextDay()">
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>

    <!-- Week View -->
    <div *ngSwitchCase="'week'" class="view-header week-view-header">
      <button class="nav-button" (click)="previousWeek()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <h2 class="date-title">Semana {{ viewDate | date : "w" }}</h2>
      <button class="nav-button" (click)="nextWeek()">
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>

    <!-- Month View -->
    <div *ngSwitchCase="'month'" class="view-header month-view-header">
      <button class="nav-button" (click)="previousMonth()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <h2 class="date-title">{{ viewDate | date : "MMMM yyyy" }}</h2>
      <button class="nav-button" (click)="nextMonth()">
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
  </div>

  <!-- Calendar Views -->
  <mwl-calendar-day-view
    *ngIf="view === 'day'"
    [viewDate]="viewDate"
    [events]="events"
    [dayStartHour]="7"
    [dayEndHour]="20"
    [eventTitleTemplate]="customEventTitleTemplate"
    (eventClicked)="eventClicked($event)"
  >
  </mwl-calendar-day-view>

  <ng-template #customEventTitleTemplate let-event="event">
    <div style="padding: 0.5em">
      <div style="font-weight: bold">{{ event.clientName }}</div>
      <div>
        {{ event.start | date : "shortTime" }} -
        {{ event.end | date : "shortTime" }}
      </div>
      <div>{{ event.clientAddress }}</div>
    </div>
  </ng-template>

  <mwl-calendar-week-view
    *ngIf="view === 'week'"
    [viewDate]="viewDate"
    [events]="events"
    (eventClicked)="eventClicked($event)"
  >
  </mwl-calendar-week-view>

  <mwl-calendar-month-view
    *ngIf="view === 'month'"
    [viewDate]="viewDate"
    [events]="events"
    (dayClicked)="dayClicked($event.day.date)"
    (eventClicked)="eventClicked($event)"
  >
  </mwl-calendar-month-view>
</div>
