@import "_variables.scss";
.table-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: $gray-50;
  border: 1px solid #e0e0e0;
  padding: 16px;
  border-radius: $border-radius $border-radius 0 0;
  width: 100%;
  gap: 1em;
  h2 {
    margin: 0;
  }
  .table-action-buttons {
    display: flex;
    align-items: center;
    gap: 0.5em;
    flex-wrap: wrap;
    @media (max-width: 576px) {
      .search-box {
        width: 100%;
      }
    }
  }
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}

.card-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 600px) {
  .card-container {
    flex-direction: column;
  }
}

.view-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  background-color: #f5f5f5;
  border-radius: 5px;
  // margin-bottom: 0.5em;

  .nav-button {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    font-size: 24px;
    color: #007bff;
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
      color: #0056b3;
    }
  }

  .date-title {
    margin: 0;
    font-size: 20px;
    color: #333;
  }
}

.day-view-header {
  // Add any specific styles for the day view header here
}

.week-view-header {
  // Add any specific styles for the week view header here
}

.month-view-header {
  // Add any specific styles for the month view header here
}

.status-open {
  background-color: $green-400;
}

.status-in-progress {
  background-color: $yellow-300;
}

.status-without-resolution {
  background-color: $orange-400;
}

.status-completed {
  background-color: $blue-400;
}

.priority-low {
  background-color: $green-200;
}

.priority-medium {
  background-color: $yellow-300;
}

.priority-high {
  background-color: $red-400;
}
