.tab-page {
  display: flex;
  flex-direction: column;
  gap: 2em;
  background-color: #fff;
  border-radius: 8px;
  padding: 1em;

  .config-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #e0e0e0;
    h2 {
      margin: 0;
    }
    button {
      flex-shrink: 0;
    }
  }
}
