<div class="chat-list">
  <div class="tabs">
    <div
      *ngFor="let tab of tabs"
      (click)="setActiveTab(tab.name)"
      [class.active]="activeTab === tab.name"
    >
      {{ tab.name }} ({{ tab.count }})
    </div>
  </div>
  <div class="search-bar">
    <input type="text" placeholder="Buscar por nombre" />
  </div>
  <div class="chat-items">
    <div class="chat-item" *ngFor="let chat of chats">
      <div
        class="avatar"
        [ngClass]="{
          online: chat.status === 'online',
          offline: chat.status === 'offline'
        }"
      >
        {{ chat.name.charAt(0) }}
      </div>
      <div class="chat-details">
        <div class="name-time">
          <div class="name">{{ chat.name }}</div>
          <div class="time">{{ chat.time }}</div>
        </div>
        <div class="last-message">{{ chat.lastMessage }}</div>
      </div>
    </div>
  </div>
</div>
