<sales-client-config-table
  [title]="'Zonas de cobranza'"
  [data]="clientCollectionZoneData"
  [columns]="columns"
  [displayedColumns]="displayedColumns"
  [isLoading]="isLoading"
  [addButtonText]="'Crear'"
  [addButtonPermission]="'canCreateClientCollectionZone'"
  [viewActionPermission]="'canViewClientCollectionZone'"
  [editActionPermission]="'canUpdateClientCollectionZone'"
  [deleteActionPermission]="'canDeleteClientCollectionZone'"
  (editClick)="openEditClientCollectionZoneDialog($event)"
  (deleteClick)="openDeleteClientCollectionZoneDialog($event)"
  (addClick)="openCreateClientCollectionZoneDialog()"
></sales-client-config-table>
