<h1>Ajustes</h1>

<div class="card-settings">
  <div class="card-settings-body">
    <div class="avatar-icon">
      <img src="../../../../assets/icons/avatar/avatar-1.svg" alt="avatar" />
    </div>
    <div class="user-info">
      <div class="username">
        <h3>{{ user()?.name }}</h3>
      </div>
      <div class="info-row">
        <div class="status-container" *ngIf="user()?.isActive; else notActive">
          <p>Estado</p>
          <span class="status">Activo</span>
        </div>
        <ng-template #notActive>
          <p>Estado</p>
          <span class="status-noactive">Inactivo</span>
        </ng-template>
        <div class="email-container">
          <p>Email</p>
          <span>{{ user()?.email }}</span>
        </div>
        <div class="role-container">
          <p>Rol</p>
          <div class="roles">
            <span class="role">{{ user()?.role?.name }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-settings-actions">
    <button class="button button-danger button-raised" (click)="onLogout()">
      <img src="../../../../assets/icons/arrows/arrow-out.svg" alt="logout" />
      <span class="button-label">Cerrar Sesión</span>
    </button>
  </div>
</div>
