<div *ngIf="createCommunicationForm">
  <div>
    <form [formGroup]="createCommunicationForm" class="deal-container">
      <div class="deal-header">
        <h2>Crear Nuevo Communicacion</h2>
        <button
          class="button button-primary button-raised button-icon-text"
          (click)="submitForm()"
        >
          <mat-icon>add</mat-icon><span class="button-label">Agregar</span>
        </button>
      </div>

      <app-loading-spinner [isLoading]="isSubmitting"></app-loading-spinner>

      <div class="deal-info">
        <div class="deal-form-container">
          <div class="deal-data">
            <!-- client, greyed out selected -->
            <div class="deal-data-item full-row">
              <h5>Cliente</h5>
              <input
                type="text"
                class="form-control"
                id="client"
                formControlName="client"
                [class.is-invalid]="
                  createCommunicationForm.controls['client'].invalid &&
                  createCommunicationForm.controls['client'].touched
                "
              />
              <span
                *ngIf="isValidField('client')"
                class="form-text text-danger"
              >
                {{ getFieldError("client") }}
              </span>
            </div>
            <!-- message -->
            <div class="deal-data-item full-row">
              <h5>Mensaje</h5>
              <input
                type="text"
                class="form-control"
                id="client"
                formControlName="message"
                [class.is-invalid]="
                  createCommunicationForm.controls['message'].invalid &&
                  createCommunicationForm.controls['message'].touched
                "
              />
              <span
                *ngIf="isValidField('message')"
                class="form-text text-danger"
              >
                {{ getFieldError("message") }}
              </span>
            </div>
            <!-- type export enum Type {
  EMAIL = 'email',
  CALL = 'llamada',
  MEETING = 'reunión',
  Manual = 'manual',
} -->
            <div class="deal-data-item full-row">
              <h5>Tipo</h5>
              <select
                class="form-select"
                id="type"
                formControlName="type"
                [class.is-invalid]="
                  createCommunicationForm.controls['type'].invalid &&
                  createCommunicationForm.controls['type'].touched
                "
              >
                <option value="email">Email</option>
                <option value="llamada">Llamada</option>
                <option value="reunión">Reunión</option>
                <option value="manual">Manual</option>
              </select>
              <span *ngIf="isValidField('type')" class="form-text text-danger">
                {{ getFieldError("type") }}
              </span>
            </div>

            <!-- notes -->
            <div class="deal-data-item full-row">
              <h5>Notas</h5>
              <textarea
                type="text"
                class="form-control"
                id="notes"
                formControlName="notes"
                [class.is-invalid]="
                  createCommunicationForm.controls['notes'].invalid &&
                  createCommunicationForm.controls['notes'].touched
                "
              ></textarea>
              <span *ngIf="isValidField('notes')" class="form-text text-danger">
                {{ getFieldError("notes") }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
