<div>
  <form [formGroup]="createCommunicationForm" class="section-card">
    <div class="section-card-header">
      <div class="section-card-header-wrapper">
        <app-breadcrumb></app-breadcrumb>
        <h3 class="header-title">Nueva Comunicación</h3>
      </div>
      <div class="button-actions">
        <button
          ButtonResize
          class="button button-primary button-raised button-icon-text"
          (click)="submitForm()"
        >
          <mat-icon>add</mat-icon
          ><span class="button-label">Crear Comunicación</span>
        </button>
      </div>
    </div>

    <app-loading-spinner [isLoading]="isSubmitting"></app-loading-spinner>

    <div class="section-card-body">
      <div class="form-container">
        <div class="form-section">
          <h4 class="form-section-subheader">Datos del Cliente</h4>
          <div class="form-grid">
            <!-- client -->
            <div class="form-item full-row">
              <mat-form-field appearance="outline">
                <mat-label>Cliente</mat-label>
                <input
                  matInput
                  type="text"
                  placeholder="John Doe"
                  formControlName="client"
                />
                <mat-error *ngIf="isValidField('client')">{{
                  getFieldError('client')
                }}</mat-error>
              </mat-form-field>
            </div>

            <!-- status: prospect etc. -->
            <div class="form-item quarter-row">
              <mat-form-field appearance="outline">
                <mat-label>Tipo</mat-label>
                <mat-select formControlName="type">
                  <mat-option value="email">Email</mat-option>
                  <mat-option value="llamada">Llamada</mat-option>
                  <mat-option value="reunión">Reunión</mat-option>
                  <mat-option value="manual">Manual</mat-option>
                </mat-select>
                <mat-error *ngIf="isValidField('type')">{{
                  getFieldError('type')
                }}</mat-error>
              </mat-form-field>
            </div>

            <!-- message -->
            <div class="form-item three-quarter-row">
              <mat-form-field appearance="outline">
                <mat-label>Mensaje</mat-label>
                <input
                  matInput
                  type="text"
                  placeholder="De que trato en general?"
                  formControlName="message"
                />
                <mat-error *ngIf="isValidField('message')">{{
                  getFieldError('message')
                }}</mat-error>
              </mat-form-field>
            </div>

            <!-- email -->
            <div class="form-item full-row">
              <mat-form-field appearance="outline">
                <mat-label>Notas</mat-label>
                <textarea
                  matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  placeholder="Más detalles/notas en específico"
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="5"
                  formControlName="notes"
                ></textarea>
                <mat-error *ngIf="isValidField('notes')">{{
                  getFieldError('notes')
                }}</mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
