@import '_variables.scss';

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 1rem;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  width: 100%; /* Ensure the actions container spans the full width */
  gap: 0.5rem; /* Space between buttons */
  margin-top: 1rem; /* Optional: Add spacing above the button */
  padding: 0.25rem;
}

::ng-deep .mat-horizontal-content-container {
  padding: 0 !important; /* Ensure padding is completely removed */
}
