<app-breadcrumb></app-breadcrumb>
<div *ngIf="communication && !isLoadingData">
  <form class="section-card">
    <div class="section-card-header">
      <h3>Comunicación #{{ communication.id }}</h3>
      <div class="button-actions">
        <button
          ButtonResize
          *ngIf="communication.id"
          class="button button-danger button-raised button-icon-text"
          (click)="openConfirmDialogComunication(communication)"
        >
          <mat-icon>delete</mat-icon><span class="button-label">Eliminar</span>
        </button>
        <button
          ButtonResize
          *ngIf="communication.id"
          class="button button-primary button-raised button-icon-text"
          (click)="editComunication(communication)"
        >
          <mat-icon>edit</mat-icon><span class="button-label">Editar</span>
        </button>
      </div>
    </div>

    <app-loading-spinner [isLoading]="isLoadingData"></app-loading-spinner>

    <div class="section-card-body">
      <div class="form-container">
        <div class="form-section">
          <h4 class="form-section-subheader">Comunicación</h4>
          <div class="form-grid">
            <!-- Fecha -->
            <div class="form-item half-row">
              <p class="item-label">Fecha</p>
              <p class="item-value">
                {{ communication.date | date : 'd MMM yyyy hh:mm a' }}
              </p>
            </div>
            <!-- Tipo -->
            <div class="form-item half-row">
              <p class="item-label">Tipo</p>
              <p class="item-value">{{ communication.type }}</p>
            </div>
            <!-- mensaje -->
            <div class="form-item full-row">
              <p class="item-label">Mensaje</p>
              <p class="item-value">{{ communication.message }}</p>
            </div>
            <!-- Notas -->
            <div class="form-item full-row">
              <p class="item-label">Notas</p>
              <p class="item-value">{{ communication.notes }}</p>
            </div>
          </div>
        </div>
        <div class="form-section">
          <h4 class="form-section-subheader">Cliente</h4>
          <div class="form-grid">
            <!-- Nombre -->
            <div class="form-item half-row">
              <p class="item-label">Nombre</p>
              <p class="item-value">{{ communication.lead.client }}</p>
            </div>
            <!-- correo -->
            <div class="form-item half-row">
              <p class="item-label">Correo</p>
              <p class="item-value">{{ communication.lead.email }}</p>
            </div>
            <!-- telefono -->
            <div class="form-item half-row">
              <p class="item-label">Teléfono</p>
              <p class="item-value">
                {{ communication.lead.phone | mask : '(000) 000-0000' }}
              </p>
            </div>
            <!-- Estatus -->
            <div class="form-item half-row">
              <p class="item-label">Estado</p>
              <p class="item-value">{{ communication.lead.status }}</p>
            </div>
          </div>
        </div>
        <div class="form-section">
          <h4 class="form-section-subheader">Producto</h4>
          <div class="form-grid">
            <!-- Producto de Interes -->
            <div class="form-item half-row">
              <p class="item-label">Producto de Interés</p>
              <p class="item-value">
                {{ communication.lead.product_interested }}
              </p>
            </div>
            <!-- Tipo de producto -->
            <div class="form-item half-row">
              <p class="item-label">Tipo de producto</p>
              <p class="item-value">
                {{
                  communication.lead.type_of_product === 'printer'
                    ? 'Multifuncional'
                    : 'Consumible'
                }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
