<h1>Inventario</h1>

<div class="card">
  <div class="card-head">
    Inventario
    <button
      (click)="toggleCardBody()"
      class="btn btn-sm btn-secondary float-right plusminusbottun"
      *ngIf="hideCardBody; else showMinus"
    >
      +
    </button>

    <ng-template #showMinus>
      <button
        (click)="toggleCardBody()"
        class="btn btn-sm btn-secondary float-right plusminusbottun"
      >
        -
      </button>
    </ng-template>
  </div>
  <div class="card-body" [hidden]="hideCardBody">
    <!-- mat table for inventory -->
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 25, 100]"
        [pageSize]="8"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </div>
</div>
