.card-head {
    display: flex;
    justify-content: space-between;
}

.plusminusbottun {
    width: 25px; // Change this value to your desired width
    height: 25px; // Change this value to your desired height
    text-align: center; // Center the text horizontally
    line-height: 0.5%; // Center the text vertically
}