<app-breadcrumb></app-breadcrumb>
<div *ngIf="lead" class="container mt-4">
  <div class="cards-container">
    <div class="data-card">
      <div class="data-card-header">
        <h3 class="header-title">Datos del Cliente</h3>
      </div>
      <div class="data-card-body">
        <div class="data-grid">
          <!-- name -->
          <div class="item">
            <p class="item-label">Nombre</p>
            <p class="item-value">{{ lead.client }}</p>
          </div>
          <!-- name -->
          <div class="item">
            <p class="item-label">Teléfono</p>
            <p class="item-value">{{ lead.phone }}</p>
          </div>
          <!-- name -->
          <div class="item">
            <p class="item-label">Email</p>
            <p class="item-value">{{ lead.email }}</p>
          </div>
          <!-- name -->
          <div class="item">
            <p class="item-label">Estado</p>
            <p class="item-value">{{ lead.status | leadStatusTranslate }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="data-card">
      <div class="data-card-header">
        <h3 class="header-title">Producto Interesado</h3>
        <div class="button-actions">
          <button class="button-icon-option">
            <mat-icon>more_vert</mat-icon>
          </button>
        </div>
      </div>
      <div class="data-card-body">
        <lead-product-card
          [product_name]="lead.product_interested"
          [type_product]="lead.type_of_product"
        ></lead-product-card>
      </div>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-header">
      <h2>Producto interesado</h2>
    </div>
    <div class="card-body">
      <website-consumable
        *ngIf="consumable"
        [product]="product"
      ></website-consumable>

      <website-printer
        *ngIf="
          typeOfProduct === 'printer' &&
          product &&
          product.consumibles &&
          product.consumibles[0].printers
        "
        [product]="product.consumibles[0]"
      ></website-printer>
    </div>
  </div>

  <div class="table-header">
    <h2>Communications</h2>

    <button
      class="button button-primary button-raised button-icon-text"
      (click)="addCommunication()"
    >
      <mat-icon>add</mat-icon><span class="button-label">Agregar</span>
    </button>
  </div>

  <div class="responsive-table">
    <div class="table-container">
      <table
        mat-table
        [dataSource]="lead.communications"
        class="communications-table"
      >
        <!-- Date Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let communication">
            {{ communication.date | date : 'dd/MM/yyyy' }}
          </td>
        </ng-container>

        <!-- Message Column -->
        <ng-container matColumnDef="message">
          <th mat-header-cell *matHeaderCellDef>Message</th>
          <td mat-cell *matCellDef="let communication">
            {{ communication.message }}
          </td>
        </ng-container>

        <!-- Type Column -->
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef>Type</th>
          <td mat-cell *matCellDef="let communication">
            {{ communication.type }}
          </td>
        </ng-container>

        <!-- Notes Column -->
        <ng-container matColumnDef="notes">
          <th mat-header-cell *matHeaderCellDef>Notes</th>
          <td mat-cell *matCellDef="let communication">
            {{ communication.notes }}
          </td>
        </ng-container>

        <!-- Actions Column -->
        <!-- Edit Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let communication" data-column="actions">
            <button
              mat-icon-button
              color="basic"
              (click)="viewCommunication(communication)"
            >
              <mat-icon>visibility</mat-icon>
            </button>
            <button
              mat-icon-button
              color="primary"
              (click)="editCommunication(communication)"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-icon-button
              color="warn"
              (click)="openConfirmDialog(communication)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</div>
