@import "_variables.scss";
.packages-container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: $border-radius;
    border: 1px solid $gray-300;
}

.currency-select {
    border: none;
    background-color: transparent;
    height: 100%;
}

.packages-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 0.5em;
    border-bottom: 1px solid $gray-300;
    background-color: $gray-50;
    border-radius: $border-radius $border-radius 0 0;
    padding: 1em;
    h2 {
        margin: 0;
    }
    button {
        flex-shrink: 0;
    }
}

.packages-info {
    display: flex;
    gap: 1em;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1em;
    @media (max-width: 1024px) {
        flex-direction: column;
    }
    .packages-data-container {
        width: 100%;
        max-width: 768px;
        align-self: flex-start;
        .packages-data {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            row-gap: 1em;
            column-gap: 1em;
            .packages-data-item {
                min-height: 50px;
                p {
                    margin-bottom: 0;
                }
                @media (max-width: 600px) {
                    grid-column: 1 / -1;
                    gap: 1em;
                    // row-gap: 1em;
                }
                .package-price-item {
                    display: flex;
                    flex-direction: column;
                    input {
                        flex-grow: 1; // Make the input field take up the remaining space
                    }
                }
            }
            .full-row {
                grid-column: 1 / -1; // This will make the description item span the entire row
            }
            .half-row {
                grid-column: span 2; // This will make the description item span half row
            }
            @media (max-width: 600px) {
                grid-template-columns: 1fr;
                row-gap: 1em;
                column-gap: 0em;
            }
        }
    }
    .tag-inputs-container {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }
    .tag-inputs {
        display: flex;
        gap: 0.5em;
    }
}