<app-data-table
  [title]="'Promociones'"
  [data]="dealData"
  [columns]="columns"
  [displayedColumns]="displayedColumns"
  [isLoading]="isLoadingData"
  [addButtonText]="'Crear Promoción'"
  [addButtonPermission]="'canCreateDeal'"
  [viewActionPermission]="'canViewDeal'"
  [editActionPermission]="'canUpdateDeal'"
  [deleteActionPermission]="'canDeleteDeal'"
  [exportIgnoreFields]="['id']"
  [showExport]="true"
  (viewClick)="seeDeal($event)"
  (editClick)="editDeal($event)"
  (deleteClick)="openConfirmDialog($event)"
  (addClick)="addDeal()"
></app-data-table>
