<!-- deal table header -->
<div class="table-header">
    <h2>Promociones</h2>
    <div class="table-action-buttons">
        <div class="search-box">
            <div class="input-group">
                <span class="input-group-text" id="basic-addon1">
                    <mat-icon>search</mat-icon>
                </span>
                <input class="form-control" type="text" placeholder="Buscar" (input)="applyFilter($event)" />
            </div>
        </div>
        <website-export [data]="dealData" [ignoreFields]="['id']"></website-export>
        <button class="button button-primary button-raised button-icon-text" (click)="addPrinter()">
      <mat-icon>add</mat-icon><span class="button-label">Agregar</span>
    </button>
    </div>
</div>
<!-- table with deal data  -->
<div class="responsive-table">
    <div class="table-container">
        <table mat-table matSort [dataSource]="dataSource" class="printer-deals-list-table">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>id</th>
                <td mat-cell *matCellDef="let printer" data-column="id">
                    {{ printer.id }}
                </td>
            </ng-container>

            <ng-container matColumnDef="brand">
                <th mat-header-cell *matHeaderCellDef>Marca</th>
                <td mat-cell *matCellDef="let printer" data-column="brand">
                    {{ printer.brand }}
                </td>
            </ng-container>

            <!-- Model Column -->
            <ng-container matColumnDef="model">
                <th mat-header-cell *matHeaderCellDef>Modelo</th>
                <td mat-cell *matCellDef="let printer" data-column="model">
                    {{ printer.model }}
                </td>
            </ng-container>

            <!-- Model Column -->
            <ng-container matColumnDef="dealPrice">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Precio Promocion</th>
                <td mat-cell *matCellDef="let printer" data-column="dealPrice">
                    {{ printer.deal.dealPrice | currency }}
                </td>
            </ng-container>

            <!-- dealCurrency column -->
            <ng-container matColumnDef="dealCurrency">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Moneda</th>
                <td mat-cell *matCellDef="let printer" data-column="dealCurrency">
                    {{ printer.deal.dealCurrency }}
                </td>
            </ng-container>

            <!-- <ng-container matColumnDef="rentable">
      <th mat-header-cell *matHeaderCellDef>Tipo</th>
      <td mat-cell *matCellDef="let printer" data-column="rentable">
        {{ printer.rentable ? "Renta" : "Venta" }}
      </td>
    </ng-container> -->
            <!-- Price Column -->
            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Precio Multifuncional</th>
                <td mat-cell *matCellDef="let printer" data-column="price">
                    {{ printer.price | currency }}
                </td>
            </ng-container>

            <ng-container matColumnDef="dealDiscountPercentage">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>% de Descuento</th>
                <td mat-cell *matCellDef="let printer" data-column="dealDiscountPercentage">
                    <span *ngIf="printer.deal.dealDiscountPercentage">
                  {{ printer.deal.dealDiscountPercentage }}
                </span>
                </td>
            </ng-container>

            <!-- Edit Column -->
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Acciones</th>
                <td mat-cell *matCellDef="let printer" data-column="actions">
                    <button mat-icon-button color="basic" *ngIf="isAdmin" (click)="seePrinter(printer)">
                  <mat-icon>visibility</mat-icon>
                </button>
                    <button mat-icon-button color="primary" *ngIf="isAdmin" (click)="editPrinter(printer)">
                  <mat-icon>edit</mat-icon>
                </button>
                    <button mat-icon-button color="warn" *ngIf="isAdmin" (click)="deleteDeal(printer)">
                  <mat-icon>delete</mat-icon>
                </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
    </div>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="8" showFirstLastButtons class="table-paginator"></mat-paginator>
</div>
<!-- end deal table -->