<div>
    <form [formGroup]="createPrinterForm" class="printer-container">
        <div class="printer-header">
            <h2>Nuevo Multifuncional</h2>
            <button type="submit" class="button button-primary button-raised" (click)="submitForm()">
        <span class="button-label">Crear Multifuncional</span>
      </button>
        </div>
        <div class="loading-container" *ngIf="isLoadingForm">
            <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </div>
        <div class="printer-info">
            <div class="printer-images">
                <app-file-upload (fileUpload)="onFileUploaded($event)" [productFolder]="'Multifuncionales'" [typeFolder]="'imagenes'"></app-file-upload>
                <app-product-image-grid [imageUrls]="imageUrlsArray" (remove)="openConfirmDialog($event)"></app-product-image-grid>
            </div>
            <div class="printer-data-container">
                <div class="printer-data">
                    <div class="printer-data-item">
                        <h5>Marca</h5>
                        <select formControlName="brand" class="form-select" (change)="brandSelected($event)" [class.is-invalid]="
                createPrinterForm.controls['brand'].invalid &&
                createPrinterForm.controls['brand'].touched
              ">
              <option
                value="null"
                disabled
                [selected]="!printer?.category"
              ></option>
              <option
                *ngFor="let brand of brands"
                [value]="brand"
                [selected]="brand === printer?.brand"
              >
                {{ brand }}
              </option>
              <option value="addNew" style="color: grey; font-style: italic">
                - Agregar Marca -
              </option>
            </select>
                        <span *ngIf="isValidField('brand')" class="form-text text-danger">
              {{ getFieldError("brand") }}
            </span>
                    </div>
                    <div class="printer-data-item">
                        <h5>Modelo</h5>
                        <input formControlName="model" class="form-control" type="text" [class.is-invalid]="
                createPrinterForm.controls['model'].invalid &&
                createPrinterForm.controls['model'].touched
              " />
                        <span *ngIf="isValidField('model')" class="form-text text-danger">
              {{ getFieldError("model") }}
            </span>
                    </div>
                    <div class="printer-data-item">
                        <h5>Categoria</h5>
                        <select formControlName="category" class="form-select" (change)="categorySelected($event)" [class.is-invalid]="
                createPrinterForm.controls['category'].invalid &&
                createPrinterForm.controls['category'].touched
              ">
              <option
                value="null"
                disabled
                [selected]="!printer?.brand"
              ></option>
              <option
                *ngFor="let category of categories"
                [value]="category"
                [selected]="category === printer?.category"
              >
                {{ category }}
              </option>
              <option value="addNew" style="color: grey; font-style: italic">
                - Agregar Categoria -
              </option>
            </select>
                        <span *ngIf="isValidField('category')" class="form-text text-danger">
              {{ getFieldError("category") }}
            </span>
                    </div>
                    <div class="printer-data-item">
                        <h5>Precio</h5>
                        <div class="input-group">
                            <span class="input-group-text">$</span>
                            <input type="number" class="form-control" formControlName="price" [class.is-invalid]="
                  createPrinterForm.controls['price'].invalid &&
                  createPrinterForm.controls['price'].touched
                " />
                            <div class="input-group-text">
                                <select class="currency-select" formControlName="currency" [value]="printer?.currency">
                  <option value="USD">USD</option>
                  <option value="MXN">MXN</option>
                </select>
                            </div>
                        </div>
                        <span *ngIf="isValidField('price')" class="form-text text-danger">
              {{ getFieldError("price") }}
            </span>
                    </div>
                    <div class="printer-data-item half-row">
                        <h5>Descripcion</h5>
                        <textarea formControlName="description" class="form-control" type="text" [class.is-invalid]="
                createPrinterForm.controls['description'].invalid &&
                createPrinterForm.controls['description'].touched
              "></textarea>
                        <span *ngIf="isValidField('description')" class="form-text text-danger">
              {{ getFieldError("description") }}
            </span>
                    </div>
                    <div class="printer-data-item half-row">
                        <h5>Sistema Operativo</h5>
                        <textarea formControlName="applicableOS" class="form-control" type="text" [class.is-invalid]="
                createPrinterForm.controls['applicableOS'].invalid &&
                createPrinterForm.controls['applicableOS'].touched
              "></textarea>
                        <span *ngIf="isValidField('applicableOS')" class="form-text text-danger">
              {{ getFieldError("applicableOS") }}
            </span>
                    </div>
                    <div class="printer-data-item">
                        <h5>Color</h5>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="colorYes" formControlName="color" [checked]="createPrinterForm.get('color')?.value || false" (change)="onColorChange($event)" />
                            <label class="form-check-label" for="color">{{
                createPrinterForm.get("color")?.value ? "Si" : "No"
              }}</label>
                        </div>
                        <span *ngIf="isValidField('color')" class="form-text text-danger">
              {{ getFieldError("color") }}
            </span>
                    </div>
                    <div class="printer-data-item">
                        <h5>Renta</h5>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="rentableYes" formControlName="rentable" [checked]="createPrinterForm.get('rentable')?.value || false" (change)="onRentableChange($event)" />
                            <label class="form-check-label" for="rentableYes">{{
                createPrinterForm.get("rentable")?.value ? "Si" : "No"
              }}</label>
                        </div>
                        <span *ngIf="isValidField('rentable')" class="form-text text-danger">
              {{ getFieldError("rentable") }}
            </span>
                    </div>
                    <div class="printer-data-item">
                        <h5>Venta</h5>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="sellableYes" formControlName="sellable" [checked]="createPrinterForm.get('sellable')?.value || false" (change)="onSellableChange($event)" />
                            <label class="form-check-label" for="sellableYes">{{
                createPrinterForm.get("sellable")?.value ? "Si" : "No"
              }}</label>
                        </div>
                        <span *ngIf="isValidField('sellable')" class="form-text text-danger">
              {{ getFieldError("sellable") }}
            </span>
                    </div>
                    <div class="printer-data-item">
                        <h5>Unidad Duplex</h5>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="duplexUnitYes" formControlName="duplexUnit" [checked]="createPrinterForm.get('duplexUnit')?.value || false" (change)="onDuplexUnitChange($event)" />
                            <label class="form-check-label" for="duplexUnitYes">{{
                createPrinterForm.get("duplexUnit")?.value ? "Si" : "No"
              }}</label>
                        </div>
                        <span *ngIf="isValidField('duplexUnit')" class="form-text text-danger">
              {{ getFieldError("duplexUnit") }}
            </span>
                    </div>
                    <div class="printer-data-item">
                        <h5>Funciones</h5>
                        <input formControlName="printerFunctions" class="form-control" type="text" [class.is-invalid]="
                createPrinterForm.controls['printerFunctions'].invalid &&
                createPrinterForm.controls['printerFunctions'].touched
              " />
                        <span *ngIf="isValidField('printerFunctions')" class="form-text text-danger">
              {{ getFieldError("printerFunctions") }}
            </span>
                    </div>
                    <div class="printer-data-item">
                        <h5>Dimensiones (An x Al x P)</h5>
                        <div class="input-group">
                            <input type="text" class="form-control" formControlName="dimensions" [class.is-invalid]="
                  createPrinterForm.controls['dimensions'].invalid &&
                  createPrinterForm.controls['dimensions'].touched
                " />
                        </div>
                        <span *ngIf="isValidField('dimensions')" class="form-text text-danger">
              {{ getFieldError("dimensions") }}
            </span>
                    </div>
                    <div class="printer-data-item">
                        <h5>Velocidad de Impresión</h5>
                        <div class="input-group">
                            <input type="number" class="form-control" formControlName="printVelocity" [class.is-invalid]="
                  createPrinterForm.controls['printVelocity'].invalid &&
                  createPrinterForm.controls['printVelocity'].touched
                " />
                            <span class="input-group-text">ppm</span>
                        </div>
                        <span *ngIf="isValidField('printVelocity')" class="form-text text-danger">
              {{ getFieldError("printVelocity") }}
            </span>
                    </div>
                    <div class="printer-data-item">
                        <h5>Tamaño de Impresión</h5>
                        <input formControlName="printSize" class="form-control" type="text" [class.is-invalid]="
                createPrinterForm.controls['printSize'].invalid &&
                createPrinterForm.controls['printSize'].touched
              " />
                        <span *ngIf="isValidField('printSize')" class="form-text text-danger">
              {{ getFieldError("printSize") }}
            </span>
                    </div>
                    <div class="printer-data-item">
                        <h5>Máximo de Impresión</h5>
                        <input formControlName="maxPrintSize" class="form-control" type="text" [class.is-invalid]="
                createPrinterForm.controls['maxPrintSize'].invalid &&
                createPrinterForm.controls['maxPrintSize'].touched
              " />
                        <span *ngIf="isValidField('maxPrintSize')" class="form-text text-danger">
              {{ getFieldError("maxPrintSize") }}
            </span>
                    </div>
                    <div class="printer-data-item">
                        <h5>Máximo de Impresión (Simple)</h5>
                        <input formControlName="maxPrintSizeSimple" class="form-control" type="text" [class.is-invalid]="
                createPrinterForm.controls['maxPrintSizeSimple'].invalid &&
                createPrinterForm.controls['maxPrintSizeSimple'].touched
              " />
                        <span *ngIf="isValidField('maxPrintSizeSimple')" class="form-text text-danger">
              {{ getFieldError("maxPrintSizeSimple") }}
            </span>
                    </div>
                    <div class="printer-data-item">
                        <h5>Grosor Máximo de Papel</h5>
                        <div class="input-group">
                            <input type="number" class="form-control" formControlName="maxPaperWeight" [class.is-invalid]="
                  createPrinterForm.controls['maxPaperWeight'].invalid &&
                  createPrinterForm.controls['maxPaperWeight'].touched
                " />
                            <span class="input-group-text">g/m2</span>
                        </div>
                        <span *ngIf="isValidField('maxPaperWeight')" class="form-text text-danger">
              {{ getFieldError("maxPaperWeight") }}
            </span>
                    </div>
                    <div class="printer-data-item">
                        <h5>Tamaños de Papel</h5>
                        <input formControlName="paperSizes" class="form-control" type="text" [class.is-invalid]="
                createPrinterForm.controls['paperSizes'].invalid &&
                createPrinterForm.controls['paperSizes'].touched
              " />
                        <span *ngIf="isValidField('paperSizes')" class="form-text text-danger">
              {{ getFieldError("paperSizes") }}
            </span>
                    </div>
                    <div class="printer-data-item">
                        <h5>Etiquetas</h5>
                        <website-input-chips [tagsControls]="tagValues" (tagsUpdated)="handleTagsUpdated($event)"></website-input-chips>
                    </div>
                    <div class="printer-data-item">
                        <h5>Consumo de Poder</h5>
                        <input formControlName="powerConsumption" class="form-control" type="text" [class.is-invalid]="
                createPrinterForm.controls['powerConsumption'].invalid &&
                createPrinterForm.controls['powerConsumption'].touched
              " />
                        <span *ngIf="isValidField('powerConsumption')" class="form-text text-danger">
              {{ getFieldError("paperSizes") }}
            </span>
                    </div>
                    <div class="printer-data-item full-row">
                        <h5>Ficha Técnica</h5>
                        <div class="file-container">
                            <mat-icon>picture_as_pdf</mat-icon>
                            <div class="file-name">
                                <a [href]="createPrinterForm.controls['datasheet_url'].value" target="_blank">{{
                    createPrinterForm.controls["datasheet_url"].value
                      ?.split("/")
                      .pop()
                      .split("-")
                      .slice(1)
                      .join("-") || ""
                  }}</a
                >
              </div>
            </div>
            <!-- <input formControlName="datasheet" class="form-control" type="file" [class.is-invalid]="createPrinterForm.controls['datasheet'].invalid && createPrinterForm.controls['datasheet'].touched"> -->
            <product-pdf-upload
              (fileUpload)="onFileUploaded($event)"
              [rootFolder]="'datasheets'"
            ></product-pdf-upload>
            <span
              *ngIf="isValidField('datasheet_url')"
              class="form-text text-danger"
            >
              {{ getFieldError("datasheet_url") }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>