<div>
  <form [formGroup]="createPrinterForm" class="section-card">
    <div class="section-card-header">
      <div class="section-card-header-wrapper">
        <app-breadcrumb></app-breadcrumb>
        <h3 class="header-title">Nueva Multifuncional</h3>
      </div>
      <div class="button-actions">
        <button
          ButtonResize
          class="button button-primary button-raised button-icon-text"
          (click)="submitForm()"
        >
          <mat-icon>add</mat-icon
          ><span class="button-label">Crear Multifuncional</span>
        </button>
      </div>
    </div>
    <div class="section-card-body">
      <div class="printer-images">
        <app-file-upload
          (fileUpload)="onFileUploaded($event)"
          [productFolder]="'Multifuncionales'"
          [typeFolder]="'imagenes'"
          style="width: 100%"
        ></app-file-upload>
        <app-product-image-grid
          [imageUrls]="imageUrlsArray"
          (remove)="openConfirmDialog($event)"
        ></app-product-image-grid>
      </div>
      <div class="form-container">
        <div class="form-grid">
          <div class="form-item half-row">
            <mat-form-field appearance="outline">
              <mat-label>Marca</mat-label>
              <mat-select
                formControlName="brand"
                (selectionChange)="brandSelected($event)"
              >
                <mat-option *ngFor="let brand of brands" [value]="brand">{{
                  brand
                }}</mat-option>
                <mat-option
                  value="addNew"
                  style="color: grey; font-style: italic"
                  >Agregar Marca</mat-option
                >
              </mat-select>
              <mat-error *ngIf="isValidField('brand')">{{
                getFieldError('brand')
              }}</mat-error>
            </mat-form-field>
          </div>
          <div class="form-item half-row">
            <mat-form-field appearance="outline">
              <mat-label>Modelo</mat-label>
              <input
                matInput
                type="text"
                placeholder="Bizhub 4050"
                formControlName="model"
              />
              <mat-error *ngIf="isValidField('model')">{{
                getFieldError('model')
              }}</mat-error>
            </mat-form-field>
          </div>
          <div class="form-item half-row">
            <mat-form-field appearance="outline">
              <mat-label>Categoria</mat-label>
              <mat-select
                formControlName="category"
                (selectionChange)="categorySelected($event)"
              >
                <mat-option
                  *ngFor="let category of categories"
                  [value]="category"
                  >{{ category }}
                </mat-option>
                <mat-option
                  value="addNew"
                  style="color: grey; font-style: italic"
                  >Agregar Categoria</mat-option
                >
              </mat-select>
              <mat-error *ngIf="isValidField('category')">{{
                getFieldError('category')
              }}</mat-error>
            </mat-form-field>
          </div>
          <div class="form-item half-row">
            <mat-form-field appearance="outline">
              <mat-label>Precio</mat-label>
              <span matTextPrefix>$&nbsp;</span>
              <input
                matInput
                type="number"
                placeholder="3500"
                formControlName="price"
              />
              <mat-select
                matTextSuffix
                formControlName="currency"
                [value]="printer?.currency"
              >
                <mat-option value="USD">USD</mat-option>
                <mat-option value="MXN">MXN</mat-option>
              </mat-select>
              <mat-error *ngIf="isValidField('price')">{{
                getFieldError('price')
              }}</mat-error>
            </mat-form-field>
          </div>
          <div class="form-item full-row">
            <mat-form-field appearance="outline">
              <mat-label>Descripción</mat-label>
              <textarea
                matInput
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5"
                formControlName="description"
              ></textarea>
              <mat-error *ngIf="isValidField('description')">{{
                getFieldError('description')
              }}</mat-error>
            </mat-form-field>
          </div>
          <div class="form-item full-row">
            <mat-form-field appearance="outline">
              <mat-label>Sistema Operativo</mat-label>
              <textarea
                matInput
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5"
                formControlName="applicableOS"
              ></textarea>
              <mat-error *ngIf="isValidField('applicableOS')">{{
                getFieldError('applicableOS')
              }}</mat-error>
            </mat-form-field>
          </div>
          <div class="form-item">
            <div class="item-label">Color</div>
            <mat-slide-toggle
              formControlName="color"
              [checked]="createPrinterForm.get('color')?.value || false"
              (change)="onColorChange($event)"
              >{{
                createPrinterForm.get('color')?.value ? 'Si' : 'No'
              }}</mat-slide-toggle
            >
            <mat-error *ngIf="isValidField('color')">{{
              getFieldError('color')
            }}</mat-error>
          </div>
          <div class="form-item">
            <div class="item-label">Renta</div>
            <mat-slide-toggle
              formControlName="rentable"
              [checked]="createPrinterForm.get('rentable')?.value || false"
              (change)="onRentableChange($event)"
              >{{
                createPrinterForm.get('rentable')?.value ? 'Si' : 'No'
              }}</mat-slide-toggle
            >
            <mat-error *ngIf="isValidField('rentable')">{{
              getFieldError('rentable')
            }}</mat-error>
          </div>
          <div class="form-item">
            <div class="item-label">Venta</div>
            <mat-slide-toggle
              formControlName="sellable"
              [checked]="createPrinterForm.get('sellable')?.value || false"
              (change)="onSellableChange($event)"
              >{{
                createPrinterForm.get('sellable')?.value ? 'Si' : 'No'
              }}</mat-slide-toggle
            >
            <mat-error *ngIf="isValidField('sellable')">{{
              getFieldError('sellable')
            }}</mat-error>
          </div>
          <div class="form-item">
            <div class="item-label">Unidad Duplex</div>
            <mat-slide-toggle
              formControlName="duplexUnit"
              [checked]="createPrinterForm.get('duplexUnit')?.value || false"
              (change)="onDuplexUnitChange($event)"
              >{{
                createPrinterForm.get('duplexUnit')?.value ? 'Si' : 'No'
              }}</mat-slide-toggle
            >
            <mat-error *ngIf="isValidField('duplexUnit')">{{
              getFieldError('duplexUnit')
            }}</mat-error>
          </div>
          <div class="form-item half-row">
            <mat-form-field appearance="outline">
              <mat-label>Funciones</mat-label>
              <input
                matInput
                type="text"
                placeholder="Impresión, Copia, Escaneo"
                formControlName="printerFunctions"
              />
              <mat-error *ngIf="isValidField('printerFunctions')">{{
                getFieldError('printerFunctions')
              }}</mat-error>
            </mat-form-field>
          </div>
          <div class="form-item half-row">
            <mat-form-field appearance="outline">
              <mat-label>Dimensiones (An x Al x P)</mat-label>
              <input
                matInput
                type="text"
                placeholder="12x12x12"
                formControlName="dimensions"
              />
              <mat-error *ngIf="isValidField('dimensions')">{{
                getFieldError('dimensions')
              }}</mat-error>
            </mat-form-field>
          </div>
          <div class="form-item half-row">
            <mat-form-field appearance="outline">
              <mat-label>Velocidad de Impresión</mat-label>
              <input
                matInput
                type="number"
                placeholder="36"
                formControlName="printVelocity"
              />
              <span matTextSuffix>ppm</span>
              <mat-error *ngIf="isValidField('printVelocity')">{{
                getFieldError('printVelocity')
              }}</mat-error>
            </mat-form-field>
          </div>
          <div class="form-item half-row">
            <mat-form-field appearance="outline">
              <mat-label>Tamaño de Impresión</mat-label>
              <input
                matInput
                type="text"
                placeholder="Carta"
                formControlName="printSize"
              />
              <mat-error *ngIf="isValidField('printSize')">{{
                getFieldError('printSize')
              }}</mat-error>
            </mat-form-field>
          </div>
          <div class="form-item half-row">
            <mat-form-field appearance="outline">
              <mat-label>Máximo de Impresión</mat-label>
              <input
                matInput
                type="text"
                placeholder="12 x 18 pulgadas"
                formControlName="maxPrintSize"
              />
              <mat-error *ngIf="isValidField('maxPrintSize')">{{
                getFieldError('maxPrintSize')
              }}</mat-error>
            </mat-form-field>
          </div>
          <div class="form-item half-row">
            <mat-form-field appearance="outline">
              <mat-label>Máximo de Impresión (Simple)</mat-label>
              <input
                matInput
                type="text"
                placeholder="Tabloide +"
                formControlName="maxPrintSizeSimple"
              />
              <mat-error *ngIf="isValidField('maxPrintSizeSimple')">{{
                getFieldError('maxPrintSizeSimple')
              }}</mat-error>
            </mat-form-field>
          </div>
          <div class="form-item half-row">
            <mat-form-field appearance="outline">
              <mat-label>Grosor Máximo de Papel</mat-label>
              <input
                matInput
                type="number"
                placeholder="250"
                formControlName="maxPaperWeight"
              />
              <span matTextSuffix>g/m2</span>
              <mat-error *ngIf="isValidField('maxPaperWeight')">{{
                getFieldError('maxPaperWeight')
              }}</mat-error>
            </mat-form-field>
          </div>
          <div class="form-item half-row">
            <mat-form-field appearance="outline">
              <mat-label>Tamaños de Papel</mat-label>
              <input
                matInput
                type="text"
                placeholder="Carta, Doble Carta, Tabloide, etc."
                formControlName="paperSizes"
              />
              <mat-error *ngIf="isValidField('paperSizes')">{{
                getFieldError('paperSizes')
              }}</mat-error>
            </mat-form-field>
          </div>
          <div class="form-item half-row">
            <website-input-chips
              [tagsControls]="tagValues"
              (tagsUpdated)="handleTagsUpdated($event)"
            ></website-input-chips>
          </div>
          <div class="form-item half-row">
            <mat-form-field appearance="outline">
              <mat-label>Consumo de Poder</mat-label>
              <input
                matInput
                type="text"
                placeholder="120V-12A"
                formControlName="powerConsumption"
              />
              <mat-error *ngIf="isValidField('powerConsumption')">{{
                getFieldError('powerConsumption')
              }}</mat-error>
            </mat-form-field>
          </div>
          <div class="form-item full-row">
            <h5>Ficha Técnica</h5>
            <div class="file-container">
              <mat-icon>picture_as_pdf</mat-icon>
              <div class="file-name">
                <a
                  [href]="createPrinterForm.controls['datasheet_url'].value"
                  target="_blank"
                  >{{
                    createPrinterForm.controls['datasheet_url'].value
                      ?.split('/')
                      .pop()
                      .split('-')
                      .slice(1)
                      .join('-') || ''
                  }}</a
                >
              </div>
            </div>
            <!-- <input formControlName="datasheet" class="form-control" type="file" [class.is-invalid]="createPrinterForm.controls['datasheet'].invalid && createPrinterForm.controls['datasheet'].touched"> -->
            <product-pdf-upload
              (fileUpload)="onFileUploaded($event)"
              [productFolder]="'Multifuncionales'"
              [typeFolder]="'datasheets'"
            ></product-pdf-upload>
            <span
              *ngIf="isValidField('datasheet_url')"
              class="form-text text-danger"
            >
              {{ getFieldError('datasheet_url') }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
