<!-- <button class="btn btn-primary" (click)="exportToExcel()">
  Export to Excel
</button>
<button class="btn btn-success" (click)="exportToCSV()">Export to CSV</button> -->

<button class="button button-outline-primary button-icon-text" [matMenuTriggerFor]="menu"> <mat-icon>ios_share</mat-icon> <span class="button-label">Exportar</span></button>
<mat-menu #menu="matMenu" class="export-menu">
  <button mat-menu-item (click)="exportToExcel()"><div class="export-button-item w-100">Exporta a Excel<span class="icon-filetype">.xlsx</span></div></button>
  <button mat-menu-item (click)="exportToExcel()"><div class="export-button-item w-100">Exporta a CSV<span class="icon-filetype">.csv</span></div></button>
</mat-menu>

