<!-- <button class="btn btn-primary" (click)="exportToExcel()">
  Export to Excel
</button>
<button class="btn btn-success" (click)="exportToCSV()">Export to CSV</button> -->

<button
  ButtonResize
  class="button button-icon-text button-outline-primary"
  [matMenuTriggerFor]="menu"
>
  <mat-icon>ios_share</mat-icon>
  <span class="button-label">
    Exportar<mat-icon>keyboard_arrow_down</mat-icon>
  </span>
</button>
<mat-menu #menu="matMenu" class="export-menu">
  <button mat-menu-item (click)="exportToExcel()" class="export-button-item">
    <div class="export-button-item-container">
      Excel<span class="icon-filetype">.xlsx</span>
    </div>
  </button>
  <button mat-menu-item (click)="exportToExcel()" class="export-button-item">
    <div class="export-button-item-container">
      CSV<span class="icon-filetype">.csv</span>
    </div>
  </button>
  <button mat-menu-item (click)="exportToJSON()" class="export-button-item">
    <div class="export-button-item-container">
      JSON<span class="icon-filetype">.json</span>
    </div>
  </button>
</mat-menu>
