<div>
  <form [formGroup]="createLeadForm" class="deal-container">
    <div class="deal-header">
      <h2>Crear Cliente Potencial</h2>
      <button ButtonResize class="button button-primary button-raised button-icon-text" (click)="submitForm()">
        <mat-icon>add</mat-icon><span class="button-label">Crear Cliente</span>
      </button>
    </div>

    <app-loading-spinner [isLoading]="isSubmitting"></app-loading-spinner>

    <div class="deal-info">
      <div class="deal-form-container">
        <div class="deal-data">
          <div class="full-row">
            <h5 class="section-form-header">Datos del Cliente Potencial</h5>
          </div>
          <!-- client -->
          <div class="deal-data-item half-row">
            <p>Nombre</p>
            <input
              type="text"
              class="form-control"
              id="client"
              formControlName="client"
              placeholder="John Doe"
              [class.is-invalid]="
                createLeadForm.controls['client'].invalid &&
                createLeadForm.controls['client'].touched
              "
            />
            <span *ngIf="isValidField('client')" class="form-text text-danger">
              {{ getFieldError("client") }}
            </span>
          </div>
          <!-- email -->
          <div class="deal-data-item half-row">
            <p>Email</p>
            <input
              type="text"
              class="form-control"
              id="email"
              formControlName="email"
              placeholder="ejemplo@email.com"
              [class.is-invalid]="
                createLeadForm.controls['email'].invalid &&
                createLeadForm.controls['email'].touched
              "
            />
            <span *ngIf="isValidField('email')" class="form-text text-danger">
              {{ getFieldError("email") }}
            </span>
          </div>

          <!-- phone -->
          <div class="deal-data-item half-row">
            <p>Telefono</p>
            <input
              type="text"
              class="form-control"
              id="phone"
              formControlName="phone"
              mask="000-000-0000" 
              placeholder="811-111-1111"
              [class.is-invalid]="
                createLeadForm.controls['phone'].invalid &&
                createLeadForm.controls['phone'].touched
              "
            />
            <span *ngIf="isValidField('phone')" class="form-text text-danger">
              {{ getFieldError("phone") }}
            </span>
          </div>
          <!-- status: prospect etc. -->
          <div class="deal-data-item half-row">
            <p>Estado</p>
            <select
              class="form-select"
              id="status"
              formControlName="status"
              [class.is-invalid]="
                createLeadForm.controls['status'].invalid &&
                createLeadForm.controls['status'].touched
              "
            >
              <option value="prospect">Prospecto</option>
              <option value="client">Cliente</option>
              <option value="lost">Perdido</option>
            </select>
            <span *ngIf="isValidField('status')" class="form-text text-danger">
              {{ getFieldError("status") }}
            </span>
          </div>

          <div class="full-row mt-3">
            <h5 class="section-form-header">En que producto esta interesado?</h5>
          </div>
          <!-- type_of_product -->
          <div class="deal-data-item half-row">
            <p>Tipo</p>
            <select
              class="form-select"
              formControlName="selectedType"
              (change)="onTypeChange($event)"
            >
              <option value="multifuncional">Multifuncional</option>
              <option value="consumible">Consumible</option>
            </select>
          </div>

          <!-- product_interested -->
          <div class="deal-data-item half-row">
            <p>
              {{
                (selectedType | async) === "multifuncional"
                  ? "Multifuncional"
                  : "Consumible"
              }}
            </p>
            <input
              type="text"
              placeholder="Elige {{ selectedType.value }}"
              aria-label="Number"
              class="form-control example-input"
              [formControl]="productControl"
              [matAutocomplete]="auto"
            />
            <mat-autocomplete
              #auto="matAutocomplete"
              (optionSelected)="addProductFromAutocomplete($event)"
              class="form-control"
            >
              <mat-option
                *ngFor="let productName of filteredProductNames | async"
                [value]="productName"
              >
                {{ productName }}
              </mat-option>
            </mat-autocomplete>
          </div>

          <!-- communication -->
        </div>
      </div>
    </div>
  </form>
</div>
