@import '_variables.scss';

.table-header {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  background-color: $white;
  flex-shrink: 0;
  .table-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    .table-title {
      margin: 0;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.87);
    }

    .table-actions {
      display: flex;
      gap: 0.75rem;
      align-items: center;
      flex-wrap: wrap;
    }
  }
  .table-search {
    display: none;
  }
}

.responsive-table {
  display: flex;
  flex-direction: column;
}

.table-container {
  flex-grow: 1;
  overflow: auto;
  position: relative;
  min-height: 200px; /* Ensures the container has an initial height */
  max-height: 800px; /* Allows growth */
  display: flex;
  flex-direction: column;
}

.table-wrapper {
  flex-grow: 1;
  overflow: auto;
}

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: $box-shadow-1;
  background-color: white; /* Ensure the header has a background color */
}

.table-paginator {
  flex-shrink: 0;
  background-color: $white;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
}

@media (max-width: 768px) {
  .table-actions mat-form-field {
    display: none;
  }
  .table-search {
    display: block;
  }

  /* Row styling */
  .clickable-row {
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
    }
  }

  /* Icon colors */
  .see-icon {
    color: $indigo-500;
  }
  .edit-icon {
    color: $orange-500;
  }
  .delete-icon {
    color: $red-500;
  }

  /* Last contact and status */
  .last-contact-container {
    display: flex;
    align-items: baseline;
    gap: 0.25rem;
  }
  .status-icon {
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }

  /* Status background colors */
  .within-one-days {
    background-color: $green-500;
  }
  .within-three-days {
    background-color: $green-400;
  }
  .within-five-days {
    background-color: $yellow-300;
  }
  .within-seven-days {
    background-color: $orange-400;
  }
  .more-than-seven-days {
    background-color: $red-400;
  }
  .no-communications {
    background-color: transparent;
  }

  /* Status text */
  .prospect-class {
    color: $indigo-500;
    font-weight: 500;
  }
  .client-class {
    color: $green-500;
    font-weight: 500;
  }
  .no-client-class {
    color: $red-500;
    font-weight: 500;
  }

  ::ng-deep .status-icon {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
  }

  ::ng-deep .no-communications {
    background-color: transparent;
    border: 1px solid $light-300;
  }
}

.end-date-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.status-icon {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
}

.within-date-range {
  background-color: $green-500;
}

.past-deal {
  background-color: $red-500;
}

.print-item {
  margin-bottom: 4px;
}

.end-date-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.status-icon {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
}

.within-date-range {
  background-color: $green-500;
}

.past-deal {
  background-color: $red-500;
}

.ticket-status {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  border-radius: $border-radius;
  color: $white;
  padding: 0.25rem 0.5rem;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  line-height: 1;
  min-height: 34px;
}

.status-open {
  background-color: $indigo-500 !important;
}

.status-in-progress {
  background-color: $yellow-500;
}

.status-without-resolution {
  background-color: $orange-500;
}

.status-completed {
  background-color: $green-500;
}

.priority-low {
  color: $yellow-500;
}

.priority-medium {
  color: $orange-500;
}

.priority-high {
  color: $red-500;
}

.priority-flags-container {
  display: flex;
  align-items: center;
  // gap: .25rem;
}

.active-user {
  display: inline-block;
  padding: 4px 8px;
  background-color: $green-100;
  color: $green-800;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 600;
}

::ng-deep .inactive-user {
  display: inline-block;
  padding: 4px 8px;
  background-color: $red-100;
  color: $red-800;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 600;
}

.active-client {
  color: $green-600;
  font-weight: 500;
}

.inactive-client {
  color: $red-500;
  font-weight: 500;
}
