<div class="dialog">
  <div class="title-container">
    <h4 class="title">Editar Categoria</h4>
  </div>
  <div class="content">
    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input
        matInput
        type="text"
        placeholder="Corporativo, Gobierno, Distribuidor, etc."
        [formControl]="categoryName"
      />
      <mat-error *ngIf="categoryName.invalid">El nombre es requerido</mat-error>
    </mat-form-field>
    <mat-checkbox [formControl]="isActive" style="margin-top: 0.5rem"
      >Activo</mat-checkbox
    >
  </div>
  <div class="button-actions">
    <button class="button button-outline-secondary w-100" (click)="onNoClick()">
      <span class="button-label">Cancelar</span>
    </button>
    <button
      class="button button-primary button-icon-text button-raised w-100"
      [disabled]="categoryName.invalid"
      (click)="onSubmit()"
    >
      <mat-icon>add</mat-icon>
      <span class="button-label">Guardar</span>
    </button>
  </div>
</div>
