<div class="file-drop-area" [class.dragging]="isDragging" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" (drop)="onDrop($event)">
    <p *ngIf="!isUploading">
        Arrastre y suelte un archivo (.jpg o .png) aquí
    </p>
    <div *ngIf="isUploading" class="uploading-container">
        <p>Cargando...</p>
        <mat-spinner class="spinner"></mat-spinner>
    </div>

    <button class="button button-secondary button-raised" type="button" (click)="fileInput.click()">
      <span class="button-label">Selecciona archivo</span>
    </button>
    <input type="file" #fileInput style="display: none" (change)="onFileSelected($event)" />
</div>