@import '_variables.scss';
.login-form {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 2em;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    @media(max-width: 768px) {
        box-shadow: none;
    }
}

.login-logo {
    margin-bottom: 2.5em;
    text-align: center;
    @media(max-width: 768px) {
        img {
            width: 100%;
            max-width: 300px;
        }
    }
}

.login-title {
    font-size: 2.5em;
    text-align: center;
    margin: 1em;
}

.login-line {
    // margin: 3em 0em;
    background-color: $light-200;
}

.login-footer {
    display: flex;
    gap: 1em;
    justify-content: center;
    margin-top: 2em;
    p {
        margin: 0;
    }
}

.input-form {
    width: 100%;
    font-size: 1.5em;
}