<div class="printer-deal-container">
  <div class="printer-deal-header">
    <h4>Promociones</h4>
    <button
      class="button button-primary button-raised button-icon"
      (click)="navigateToCreateDeal(product.id)"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div class="printer-deals" *ngIf="product.deal">
    <div class="deal">
      <div class="deal-content">
        <div class="deal-header">
          <div class="deal-items">
            <div class="deal-title">
              <h5>Promoción</h5>
            </div>
          </div>
          <button class="button-icon-option" [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" class="export-menu">
            <button mat-menu-item>
              <!-- <mat-icon>ios_share</mat-icon> -->
              <div class="menu-button-item">
                <mat-icon>visibility</mat-icon>
                Ver promocion
              </div>
            </button>
            <button mat-menu-item>
              <!-- <mat-icon>ios_share</mat-icon> -->
              <div class="menu-button-item">
                <mat-icon style="color: #3c81f6">edit</mat-icon>
                Editar promocion
              </div>
            </button>
            <button mat-menu-item>
              <!-- <mat-icon>ios_share</mat-icon> -->
              <div class="menu-button-item">
                <mat-icon style="color: #ef4444">delete</mat-icon>
                Elimnar promocion
              </div>
            </button>
          </mat-menu>
        </div>
        <div class="deal-row">
          <div class="deal-item">
            <p><b>Precio:</b></p>
            <div class="deal-price-item">
              <h3>{{ product.deal.dealPrice | currency }} USD</h3>
              <p>({{ product.deal.dealDiscountPercentage }}% de descuento)</p>
            </div>
          </div>
          <div class="deal-item">
            <p><b>Descripción:</b></p>
            <p>{{ product.deal.dealDescription }}</p>
          </div>
          <div class="deal-item">
            <p>
              <b>Fecha:</b> {{ product.deal.dealStartDate | date }} -
              {{ product.deal.dealEndDate | date }}
            </p>
          </div>
          <div class="deal-item">
            <p><b>Días restantes:</b> {{ getDaysLeft() }} dias</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
