<sales-client-config-table
  [title]="'Categorias'"
  [data]="clientCategoryData"
  [columns]="columns"
  [displayedColumns]="displayedColumns"
  [isLoading]="isLoading"
  [addButtonText]="'Crear'"
  [addButtonPermission]="'canCreateClientCategory'"
  [viewActionPermission]="'canViewClientCategory'"
  [editActionPermission]="'canUpdateClientCategory'"
  [deleteActionPermission]="'canDeleteClientCategory'"
  (editClick)="openEditCategoryDialog($event)"
  (deleteClick)="openDeleteClientCategoryDialog($event)"
  (addClick)="openCreateClientCategoryDialog()"
></sales-client-config-table>
