<div class="chat-container">
  <div class="chat-header">
    <div class="user-info">
      <div class="user-avatar">G</div>
      <div class="user-details">
        <span class="user-name">Gerardo Garcia</span>
        <span class="user-status">Web</span>
      </div>
    </div>
    <div class="connection-status">
      <div id="server-status"></div>
      <button (click)="toggleConnection()">
        {{ isConnected ? 'Disconnect' : 'Connect' }}
      </button>
    </div>
    <div class="chat-actions">
      <span class="chat-time">18:40 hrs</span>
      <select class="transfer-button">
        <option>Transferir</option>
      </select>
      <button class="finish-chat">Finalizar Chat</button>
    </div>
  </div>

  <div class="chat-container">
    <div class="chat-messages">
      <div
        *ngFor="let message of messages$ | async"
        class="message"
        [ngClass]="{
          'admin-message': message.isAdmin,
          'user-message': !message.isAdmin
        }"
      >
        <div class="message-content">
          <p>{{ message.content }}</p>
          <span class="timestamp">{{
            message.timestamp | date : 'shortTime'
          }}</span>
        </div>
      </div>
    </div>

    <div class="chat-input">
      <div class="input-actions">
        <button><mat-icon>format_bold</mat-icon></button>
        <button><mat-icon>format_italic</mat-icon></button>
        <button><mat-icon>format_underlined</mat-icon></button>
        <button><mat-icon>more_vert</mat-icon></button>
        <button><mat-icon>link</mat-icon></button>
      </div>
      <div class="input-text-chat">
        <textarea
          [(ngModel)]="newMessage"
          placeholder="Escribe tu mensaje aquí..."
        ></textarea>
        <button class="send-message" (click)="onSendMessage()">
          <mat-icon>send</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
