<app-data-table
  [title]="'Consumibles'"
  [data]="consumibleData"
  [columns]="columns"
  [displayedColumns]="displayedColumns"
  [isLoading]="isLoadingData"
  [addButtonText]="'Crear Consumible'"
  [addButtonPermission]="'canCreateConsumable'"
  [viewActionPermission]="'canViewConsumable'"
  [editActionPermission]="'canUpdateConsumable'"
  [deleteActionPermission]="'canDeleteConsumable'"
  [exportIgnoreFields]="['id']"
  [showExport]="true"
  (viewClick)="seeConsumible($event)"
  (editClick)="editConsumible($event)"
  (deleteClick)="openConfirmDialog($event)"
  (addClick)="addConsumible()"
></app-data-table>
