@import '_variables.scss';

.toast-component {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $white;
  gap: 1rem;
  border-radius: 4px;
  min-width: 300px;
  max-width: 380px;
  z-index: 1001;

  .toast-body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    gap: 0.75rem;

    .toast-icon {
      margin-top: 2px;
      mat-icon {
        font-size: 24px;
        height: 24px;
        width: 24px;
      }
    }

    .toast-message-container {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;

      .toast-title {
        color: $text;
        font-weight: 500;
        margin: 0;
      }

      .toast-message {
        color: $text-secondary;
        margin: 0;
        width: 100%;
        font-size: 15px;
        word-wrap: break-word;
        white-space: normal;
        overflow-wrap: break-word;
      }
    }
  }

  .toast-actions {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .close-button {
    color: $gray-500;
    transition: all 0.3s ease-out;
    &:hover {
      background-color: $gray-100;
      color: $gray-600;
    }
  }
}

// Toast color classes
.info-border {
  border-left-color: $info-color;
}

.success-border {
  border-left-color: $success-color;
}

.warning-border {
  border-left-color: $warning-color;
}

.danger-border {
  border-left-color: $danger-color;
}

.info-icon {
  color: $info-color;
}

.success-icon {
  color: $success-color;
}

.warning-icon {
  color: $warning-color;
}

.danger-icon {
  color: $danger-color;
}

// Toast panel classes (to be used with snackbar)
::ng-deep .info-toast {
  margin-top: 16px !important;
  max-width: 400px !important;
  padding: 0 !important;
}

::ng-deep .success-toast {
  margin-top: 16px !important;
  max-width: 400px !important;
  padding: 0 !important;
}

::ng-deep .warning-toast {
  margin-top: 16px !important;
  max-width: 400px !important;
  padding: 0 !important;
}

::ng-deep .danger-toast {
  margin-top: 16px !important;
  max-width: 400px !important;
  padding: 0 !important;
}
