@import '_variables.scss';


.toast-component {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    .toast-title {
        font-weight: 500;
    }


}