<div class="toast-component" [ngClass]="data.borderColor">
  <div class="toast-body">
    <div class="toast-icon">
      <mat-icon [ngClass]="data.iconColor">{{ data.icon }}</mat-icon>
    </div>
    <div class="toast-message-container">
      <p class="toast-title" *ngIf="data.title">{{ data.title }}</p>
      <p class="toast-message">{{ data.message }}</p>
    </div>
  </div>
  <div class="toast-actions">
    <button
      *ngIf="data.action"
      class="button button-icon"
      [ngClass]="data.buttonColor"
      (click)="actionClick()"
    >
      <span>{{ data.buttonText }}</span>
    </button>
    <button
      class="button button-icon close-button"
      (click)="snackBarRef.dismiss()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
