@import '_variables.scss';


.toast-component {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $white;
    gap: 1rem;
    .toast-icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .toast-message-container {
        display: flex;
        gap: 1em;
        align-items: center;
        justify-content: flex-start;
        .toast-message {
            color: $text;
            margin-bottom: 0;
            width: 100%;
            max-width: 300px;
            word-wrap: break-word; // Ensures words break to prevent overflow
            white-space: normal; // Allows text to wrap to the next line
            overflow-wrap: break-word; // Breaks words that are too long to fit
        }
    }

    .close-button {
        color: $gray-500;
        transition: background-color 0.3s ease-out;
        &:hover {
            background-color: $gray-100;
        }
    }

}