@import '_variables.scss';

// Status indicators
::ng-deep .active-user {
  display: inline-block;
  padding: 4px 8px;
  background-color: $green-100;
  color: $green-800;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 600;
}

::ng-deep .inactive-user {
  display: inline-block;
  padding: 4px 8px;
  background-color: $red-100;
  color: $red-800;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 600;
}
