<app-data-table
  [title]="'Usuarios'"
  [data]="userData"
  [columns]="columns"
  [displayedColumns]="displayedColumns"
  [isLoading]="isLoading"
  [addButtonText]="'Crear Usuario'"
  [addButtonPermission]="'canCreateUser'"
  [viewActionPermission]="'canViewUser'"
  [editActionPermission]="'canUpdateUser'"
  [deleteActionPermission]="'canDeleteUser'"
  [exportIgnoreFields]="['id']"
  [showExport]="true"
  (viewClick)="seeUser($event)"
  (editClick)="editUser($event)"
  (deleteClick)="openConfirmDialog($event)"
  (addClick)="addUser()"
></app-data-table>
