@import '_variables.scss';

.active-user {
  font-family: 'Roboto Mono', monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  background-color: $success-color;
  color: $white;
  border-radius: $border-radius;
  padding: 0.25rem 0.5rem;
}

.inactive-user {
  font-family: 'Roboto Mono', monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  background-color: $danger-color;
  color: $white;
  border-radius: $border-radius;
  padding: 0.25rem 0.5rem;
}
