<!-- Main Content -->
<app-data-table
  [title]="'Eventos'"
  [data]="events"
  [columns]="columns"
  [displayedColumns]="displayedColumns"
  [isLoading]="isLoadingData"
  [addButtonText]="'Crear Evento'"
  [addButtonPermission]="'canCreateEvent'"
  [viewActionPermission]="'canViewEvent'"
  [editActionPermission]="'canUpdateEvent'"
  [deleteActionPermission]="'canDeleteEvent'"
  [showViewAction]="false"
  (editClick)="editEvent($event)"
  (deleteClick)="deleteEvent($event)"
  (addClick)="navigateToCreateEvent()"
  #eventTable
></app-data-table>

<!-- Image Preview -->
<div
  class="image-preview"
  *ngIf="imagePreviewUrl"
  [ngStyle]="{
    top: imagePreviewPosition.y + 'px',
    left: imagePreviewPosition.x + 'px'
  }"
>
  <img [src]="imagePreviewUrl" alt="Image Preview" />
</div>
