<app-loading-spinner *ngIf="isLoadingData"></app-loading-spinner>
<div [hidden]="isLoadingData">
  <div class="table-header">
    <div class="table-header-container">
      <h3 class="table-title">Paquetes de Renta</h3>
      <div class="table-actions">
        <mat-form-field appearance="outline">
          <mat-icon matPrefix *ngIf="!searchTerm">search</mat-icon>
          <input
            matInput
            type="text"
            placeholder="Buscar Paquetes"
            [(ngModel)]="searchTerm"
            (input)="applyFilter($event)"
        /></mat-form-field>
        <website-export
          [data]="packageData"
          [ignoreFields]="['id']"
        ></website-export>
        <button
          ButtonResize
          class="button button-primary button-raised button-icon-text"
          (click)="addPackage()"
          *ngIf="'canCreatePackage' | hasPermission"
        >
          <mat-icon>add</mat-icon
          ><span class="button-label">Crear Paquete</span>
        </button>
      </div>
    </div>
    <div class="table-search">
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-icon matPrefix *ngIf="!searchTerm">search</mat-icon>
        <input
          matInput
          type="text"
          placeholder="Buscar Paquetes"
          [(ngModel)]="searchTerm"
          (input)="applyFilter($event)"
      /></mat-form-field>
    </div>
  </div>

  <div class="responsive-table">
    <div class="table-container">
      <table
        mat-table
        matSort
        [dataSource]="dataSource"
        class="package-list-table dense-theme"
      >
        <ng-container matColumnDef="model">
          <th mat-header-cell *matHeaderCellDef>Modelo</th>
          <td mat-cell *matCellDef="let pkg">{{ pkg.printer.model }}</td>
        </ng-container>
        <ng-container matColumnDef="deposit">
          <th mat-header-cell *matHeaderCellDef>Deposito Inicial</th>
          <td mat-cell *matCellDef="let pkg">
            {{ pkg.packageDepositPrice | currency : '$' : 'symbol' : '1.2-3' }}
            {{ pkg.packageCurrency }}
          </td>
        </ng-container>

        <ng-container matColumnDef="monthlyPrice">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Pago Mensual
          </th>
          <td mat-cell *matCellDef="let pkg">
            ${{ pkg.packageMonthlyPrice }} {{ pkg.packageCurrency }} ({{
              pkg.packageDiscountPercentage
            }}% de descuento)
          </td>
        </ng-container>

        <!-- packageStartDate-->
        <ng-container matColumnDef="prints">
          <th mat-header-cell *matHeaderCellDef>Impresiónes</th>
          <td mat-cell *matCellDef="let pkg">
            <div style="display: flex; flex-direction: column">
              <div class="print-item">
                {{ pkg.packagePrintsBw | currency : ' ' : 'symbol' : '1.0-2' }}
                B/N
              </div>
              <div class="print-item">
                {{
                  pkg.packagePrintsColor | currency : ' ' : 'symbol' : '1.0-2'
                }}
                Color
              </div>
            </div>
          </td>
        </ng-container>

        <!-- packageStartDate-->
        <!-- <ng-container matColumnDef="colorPrints">
          <th mat-header-cell *matHeaderCellDef>Impresiónes Color</th>
          <td mat-cell *matCellDef="let pkg"></td>
        </ng-container> -->

        <!-- packageEndDate -->
        <ng-container matColumnDef="packageEndDate">
          <th mat-header-cell *matHeaderCellDef>Terminacion de paquete</th>
          <td mat-cell *matCellDef="let pkg">
            <span
              class="status-icon"
              [ngClass]="{
                'within-date-range': isWithinDateRange(pkg.packageEndDate),
                'past-deal': !isWithinDateRange(pkg.packageEndDate)
              }"
            ></span>
            {{ pkg.packageEndDate | capitalizeDate }}
          </td>
        </ng-container>

        <!-- packageDuration-->
        <ng-container matColumnDef="packageDuration">
          <th mat-header-cell *matHeaderCellDef>Duración de Contrato</th>
          <td mat-cell *matCellDef="let pkg">
            {{ pkg.packageDuration }} meses
          </td>
        </ng-container>

        <!-- packageDiscountPercentage -->
        <!-- <ng-container matColumnDef="packageDiscountPercentage">
                <th mat-header-cell *matHeaderCellDef>Descuento</th>
                <td mat-cell *matCellDef="let pkg">
                    {{ pkg.packageDiscountPercentage }}%
                </td>
            </ng-container> -->

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let pkg">
            <button
              mat-icon-button
              class="see-icon"
              *ngIf="'canViewPackage' | hasPermission"
              (click)="seePackage(pkg)"
            >
              <mat-icon>visibility</mat-icon>
            </button>
            <button
              mat-icon-button
              class="edit-icon"
              *ngIf="'canUpdatePackage' | hasPermission"
              (click)="editPackage(pkg)"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-icon-button
              class="delete-icon"
              *ngIf="'canDeletePackage' | hasPermission"
              (click)="openConfirmDialog(pkg)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <div>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 25, 100]"
        [pageSize]="8"
        showFirstLastButtons
        class="table-paginator"
      ></mat-paginator>
    </div>
  </div>
</div>
