<app-data-table
  [title]="'Paquetes de Renta'"
  [data]="packageData"
  [columns]="columns"
  [displayedColumns]="displayedColumns"
  [isLoading]="isLoadingData"
  [addButtonText]="'Crear Paquete'"
  [addButtonPermission]="'canCreatePackage'"
  [viewActionPermission]="'canViewPackage'"
  [editActionPermission]="'canUpdatePackage'"
  [deleteActionPermission]="'canDeletePackage'"
  [exportIgnoreFields]="['id']"
  [showExport]="true"
  (viewClick)="seePackage($event)"
  (editClick)="editPackage($event)"
  (deleteClick)="openConfirmDialog($event)"
  (addClick)="addPackage()"
></app-data-table>
