<div class="table-header">
  <h2>Paquetes</h2>
  <!-- search field -->
  <div class="search-box">
    <div class="input-group">
      <span class="input-group-text" id="basic-addon1">
        <mat-icon>search</mat-icon>
      </span>
      <input
        class="form-control"
        type="text"
        placeholder="Buscar"
        (input)="applyFilter($event)"
      />
    </div>
  </div>
  <div class="table-action-buttons">
    <website-export
      [data]="packageData"
      [ignoreFields]="['id']"
    ></website-export>
    <button
      class="button button-primary button-raised button-icon-text"
      (click)="addPackage()"
    >
      <mat-icon>add</mat-icon><span class="button-label">Agregar</span>
    </button>
  </div>
</div>

<div class="responsive-table">
  <table mat-table matSort [dataSource]="dataSource" class="package-list-table">
    <ng-container matColumnDef="brand">
      <th mat-header-cell *matHeaderCellDef>Marca</th>
      <th></th>
      <td mat-cell *matCellDef="let pkg">{{ pkg.printer.brand }}</td>
    </ng-container>

    <ng-container matColumnDef="model">
      <th mat-header-cell *matHeaderCellDef>Modelo</th>
      <td mat-cell *matCellDef="let pkg">{{ pkg.printer.model }}</td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Precio</th>
      <td mat-cell *matCellDef="let pkg">
        {{ pkg.packagePrice | currency }}
      </td>
    </ng-container>

    <!-- currency -->
    <ng-container matColumnDef="currency">
      <th mat-header-cell *matHeaderCellDef>Moneda</th>
      <td mat-cell *matCellDef="let pkg">{{ pkg.packageCurrency }}</td>
    </ng-container>

    <!-- packageDuration-->
    <ng-container matColumnDef="packageDuration">
      <th mat-header-cell *matHeaderCellDef>Duración</th>
      <td mat-cell *matCellDef="let pkg">{{ pkg.packageDuration }}</td>
    </ng-container>

    <!-- packageDiscountPercentage -->
    <ng-container matColumnDef="packageDiscountPercentage">
      <th mat-header-cell *matHeaderCellDef>Descuento</th>
      <td mat-cell *matCellDef="let pkg">
        {{ pkg.packageDiscountPercentage }}%
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let pkg">
        <button
          mat-icon-button
          color="basic"
          *ngIf="isAdmin"
          (click)="seePackage(pkg)"
        >
          <mat-icon>visibility</mat-icon>
        </button>
        <button
          mat-icon-button
          color="primary"
          *ngIf="isAdmin"
          (click)="editPackage(pkg)"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-icon-button
          color="warn"
          *ngIf="isAdmin"
          (click)="deletePackage(pkg)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 25, 100]"
    [pageSize]="8"
    showFirstLastButtons
    class="table-paginator"
  ></mat-paginator>
</div>
