<div class="printer-consumable-container">
    <div class="printer-consumable-header">
        <h4>Consumibles Relacionados</h4>
        <button class="button button-primary button-raised button-icon" (click)="navigateToCreateConsumible()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <div class="printer-consumables" *ngIf="product.counterpart">
        <div class="consumable">
            <div class="consumable-image-container">
                <img class="consumable-image" *ngIf="product?.counterpart?.img_url.length > 0" [src]="product?.counterpart?.img_url" alt="Imagen consumible" />
                <div class="default-image" *ngIf="product?.counterpart?.img_url.length == 0">
                    <mat-icon>image</mat-icon>
                </div>
            </div>

            <div class="consumable-content">
                <div class="consumable-header">
                    <div class="consumable-title">
                        <p><b>{{ product?.counterpart?.name }}</b></p>
                    </div>
                    <button class="button-icon-option" [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu" class="export-menu">
                        <button mat-menu-item>
                            <!-- <mat-icon>ios_share</mat-icon> -->
                            <div class="menu-button-item" (click)="navigateToSeeConsumible(product?.counterpart?.id)">
                                <mat-icon>visibility</mat-icon>
                                Ver consumible
                            </div>
                        </button>
                        <button mat-menu-item>
                        <!-- <mat-icon>ios_share</mat-icon> -->
                            <div class="menu-button-item" (click)="navigateToEditConsumible(product?.counterpart?.id)">
                                <mat-icon style="color: #3C81F6;">edit</mat-icon>
                                Editar consumible
                            </div>
                            </button>
                        <button mat-menu-item>
                            <!-- <mat-icon>ios_share</mat-icon> -->
                            <div class="menu-button-item" (click)="openConfirmDialog(product?.counterpart?.id)">
                                <mat-icon style="color: #ef4444;">delete</mat-icon>
                                Borrar consumible
                            </div>
                        </button>
                    </mat-menu>
                </div>
                <div class="consumable-row">
                    <div class="consumable-item">
                        <p><b>Precio</b></p>
                        <p>{{ product?.counterpart?.price | currency }} {{ product?.counterpart?.currency }}</p>
                    </div>
                    <div class="consumable-item">
                        <p><b>Origen</b></p>
                        <p>{{ product?.counterpart?.origen }}</p>
                    </div>
                    <div class="consumable-item">
                        <p><b>Categoria</b></p>
                        <p>{{ product?.counterpart?.category }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>