<app-data-table
  [title]="'Multifuncionales'"
  [data]="printerData"
  [columns]="columns"
  [displayedColumns]="displayedColumns"
  [isLoading]="isLoadingData"
  [addButtonText]="'Crear Multifuncional'"
  [addButtonPermission]="'canCreatePrinter'"
  [viewActionPermission]="'canViewPrinter'"
  [editActionPermission]="'canUpdatePrinter'"
  [deleteActionPermission]="'canDeletePrinter'"
  (rowClick)="onRowClick($event)"
  (viewClick)="seePrinter($event)"
  (editClick)="editPrinter($event)"
  (deleteClick)="openConfirmDialog($event)"
  (addClick)="addPrinter()"
></app-data-table>
