<div class="table-header">
    <h2>Multifuncionales</h2>
    <button class="button button-primary button-raised" (click)="addPrinter()"><span class="button-label">Agregar</span></button>
</div>
<!-- table with printerdata from post to /printers -->
<div class="responsive-table">
    <table mat-table [dataSource]="dataSource" class="printer-list-table">
        <!-- brand, model, category, price -->
        <!-- Name Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>id</th>
            <td mat-cell *matCellDef="let printer" data-column="id">{{ printer.id }}</td>
        </ng-container>

        <ng-container matColumnDef="brand">
            <th mat-header-cell *matHeaderCellDef>Marca</th>
            <td mat-cell *matCellDef="let printer" data-column="brand">{{ printer.brand }}</td>
        </ng-container>

        <!-- Model Column -->
        <ng-container matColumnDef="model">
            <th mat-header-cell *matHeaderCellDef>Modelo</th>
            <td mat-cell *matCellDef="let printer" data-column="model">{{ printer.model }}</td>
        </ng-container>

        <!-- Model Column -->
        <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef>Categoria</th>
            <td mat-cell *matCellDef="let printer" data-column="category">{{ printer.category }}</td>
        </ng-container>

        <ng-container matColumnDef="rentable">
            <th mat-header-cell *matHeaderCellDef>Tipo</th>
            <td mat-cell *matCellDef="let printer" data-column="rentable">{{ printer.rentable ? "Renta" : "Venta" }}</td>
        </ng-container>

        <ng-container matColumnDef="color">
            <th mat-header-cell *matHeaderCellDef>Modo de Impresión</th>
            <td mat-cell *matCellDef="let printer" data-column="color">{{ printer.color ? "Color" : "B&N" }}</td>
        </ng-container>

        <!-- Price Column -->
        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef>Precio</th>
            <td mat-cell *matCellDef="let printer" data-column="price">{{ printer.price | currency }}</td>
        </ng-container>

        <!-- Edit Column -->
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let printer" data-column="actions">
                <button mat-icon-button color="basic" *ngIf="isAdmin" (click)="seePrinter(printer)">
                 <mat-icon>visibility</mat-icon>
                </button>
                <button mat-icon-button color="primary" *ngIf="isAdmin" (click)="editPrinter(printer)">
                 <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" *ngIf="isAdmin" (click)="deletePrinter(printer)" onclick="deletePrinter(printer)">
                  <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <!-- Delete Column -->
        <!-- <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef>Borrar</th>
            <td mat-cell *matCellDef="let printer">
                <button mat-icon-button color="warn" *ngIf="isAdmin" (click)="deletePrinter(printer)" onclick="deletePrinter(printer)">
          <mat-icon>delete</mat-icon>
        </button>
            </td>
        </ng-container> -->

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="8" showFirstLastButtons class="table-paginator"></mat-paginator>
</div>