<app-loading-spinner [isLoading]="isLoadingData"></app-loading-spinner>
<div *ngIf="!isLoadingData">
    <form [formGroup]="editConsumibleForm" class="consumibles-container" *ngIf="editConsumibleForm">
        <div class="consumibles-header">
            <h2>Editar Consumible</h2>
            <button class="button button-primary button-raised button-icon-text" (click)="submitForm()">
              <mat-icon>save</mat-icon><span class="button-label">Guardar</span>
            </button>
        </div>
        <app-loading-spinner [isLoading]="isSubmitting"></app-loading-spinner>
        <div class="consumibles-info">
            <!-- implement carusel look at file upload... only for printer... -->
            <div class="consumibles-images">
                <app-file-upload (fileUpload)="onFileUploaded($event)" [consumible]="Consumible" [productFolder]="'Consumibles'" [typeFolder]="'imagenes'"></app-file-upload>
                <app-product-image-grid [imageUrls]="imageUrlsArray" (remove)="openConfirmDialog($event)"></app-product-image-grid>
            </div>
            <div class="consumibles-data-container">
                <div class="consumibles-data">
                    <div class="consumibles-data-item">
                        <h5>Nombre</h5>
                        <input formControlName="name" class="form-control" type="text" placeholder="Ej. TN011" [class.is-invalid]="
                editConsumibleForm.controls['name'].invalid &&
                editConsumibleForm.controls['name'].touched
              " />
                        <span *ngIf="isValidField('name')" class="form-text text-danger">
              {{ getFieldError("name") }}
            </span>
                    </div>

                    <!-- Brand Field -->
                    <div class="consumibles-data-item">
                        <h5>Marca</h5>
                        <input formControlName="brand" class="form-control" type="text" placeholder="Ej. Konica Minolta" [class.is-invalid]="
                editConsumibleForm.controls['brand'].invalid &&
                editConsumibleForm.controls['brand'].touched
              " />
                        <span *ngIf="isValidField('brand')" class="form-text text-danger">
              {{ getFieldError("brand") }}
            </span>
                    </div>

                    <!-- Category field -->
                    <div class="consumibles-data-item">
                        <h5>Categoria</h5>
                        <select class="form-select" formControlName="category" [class.is-invalid]="
                editConsumibleForm.controls['category'].invalid &&
                editConsumibleForm.controls['category'].touched
              ">
              <option value="Cartucho de tóner">Cartucho de tóner</option>
              <option value="Cartucho de tinta">Cartucho de tinta</option>
              <option value="Fusor">Fusor</option>
              <option value="Tambor">Tambor</option>
              <option value="Cilindros y rodillos">Cilindros y rodillos</option>
              <option value="Papel">Papel</option>
            </select>
                        <span *ngIf="isValidField('category')" class="form-text text-danger">
              {{ getFieldError("category") }}
            </span>
                    </div>

                    <!-- Price field -->
                    <div class="consumibles-data-item">
                        <h5>Precio</h5>
                        <div class="input-group">
                            <span class="input-group-text">$</span>
                            <input type="number" class="form-control" formControlName="price" step="0.01" [class.is-invalid]="
                  editConsumibleForm.controls['price'].invalid &&
                  editConsumibleForm.controls['price'].touched
                " />
                            <div class="input-group-text">
                                <select class="currency-select" formControlName="currency">
                  <option value="USD">USD</option>
                  <option value="MXN">MXN</option>
                </select>
                            </div>
                        </div>
                        <span *ngIf="isValidField('price')" class="form-text text-danger">
              {{ getFieldError("price") }}
            </span>
                    </div>

                    <!-- color -->
                    <div class="consumibles-data-item">
                        <h5>Color</h5>
                        <select formControlName="color" class="form-select" [class.is-invalid]="
                editConsumibleForm.controls['color'].invalid &&
                editConsumibleForm.controls['color'].touched
              ">
              >
              <option value="K">
                <span class="color-box" style="background-color: black"></span>
                Negro
              </option>
              <option value="C">
                <span class="color-box" style="background-color: cyan"></span>
                Cyan
              </option>
              <option value="M">
                <span
                  class="color-box"
                  style="background-color: magenta"
                ></span>
                Magenta
              </option>
              <option value="Y">
                <span class="color-box" style="background-color: yellow"></span>
                Amarillo
              </option>
            </select>
                        <span *ngIf="isValidField('color')" class="form-text text-danger">
              {{ getFieldError("color") }}
            </span>
                    </div>

                    <!-- origin field selector-->
                    <div class="consumibles-data-item">
                        <h5>Origen del producto</h5>
                        <select formControlName="origen" class="form-select" [class.is-invalid]="
                editConsumibleForm.controls['origen'].invalid &&
                editConsumibleForm.controls['origen'].touched
              ">
              <option value="OEM">OEM</option>
              <option value="Generico">Generico</option>
              <option value="Recarga">Recarga</option>
            </select>
                        <span *ngIf="isValidField('origen')" class="form-text text-danger">
              {{ getFieldError("origen") }}
            </span>
                    </div>

                    <!-- SKU Field -->
                    <div class="consumibles-data-item">
                        <h5>SKU</h5>
                        <input formControlName="sku" class="form-control" type="text" placeholder="Ej. A0TH030" [class.is-invalid]="
                editConsumibleForm.controls['sku'].invalid &&
                editConsumibleForm.controls['sku'].touched
              " />
                        <span *ngIf="isValidField('sku')" class="form-text text-danger">
              {{ getFieldError("sku") }}
            </span>
                    </div>

                    <!-- yield field -->
                    <div class="consumibles-data-item">
                        <h5>Vida Util @ 5%</h5>
                        <div class="input-group">
                            <input type="number" class="form-control" formControlName="yield" [class.is-invalid]="
                  editConsumibleForm.controls['yield'].invalid &&
                  editConsumibleForm.controls['yield'].touched
                " />
                            <span class="input-group-text">páginas</span>
                        </div>
                        <span *ngIf="isValidField('yield')" class="form-text text-danger">
              {{ getFieldError("yield") }}
            </span>
                    </div>

                    <!-- Short Description field -->
                    <div class="consumibles-data-item full-row">
                        <h5>Descripción corta</h5>
                        <textarea formControlName="shortDescription" class="form-control text-area-small" rows="1" [class.is-invalid]="
                editConsumibleForm.controls['shortDescription'].invalid &&
                editConsumibleForm.controls['shortDescription'].touched
              ">
            </textarea>
                        <span *ngIf="isValidField('shortDescription')" class="form-text text-danger">
              {{ getFieldError("shortDescription") }}
            </span>
                    </div>

                    <!-- Long Description field -->
                    <div class="consumibles-data-item full-row">
                        <h5>Descripción larga</h5>
                        <textarea formControlName="longDescription" class="form-control text-area-large" rows="5" [class.is-invalid]="
                editConsumibleForm.controls['longDescription'].invalid &&
                editConsumibleForm.controls['longDescription'].touched
              ">
            </textarea>
                        <span *ngIf="isValidField('longDescription')" class="form-text text-danger">
              {{ getFieldError("longDescription") }}
            </span>
                    </div>

                    <!-- volume field -->
                    <div class="consumibles-data-item">
                        <h5>Volumen</h5>
                        <div class="input-group">
                            <input type="number" class="form-control" formControlName="volume" [class.is-invalid]="
                  editConsumibleForm.controls['volume'].invalid &&
                  editConsumibleForm.controls['volume'].touched
                " />
                            <span class="input-group-text">gr</span>
                        </div>
                        <span *ngIf="isValidField('volume')" class="form-text text-danger">
              {{ getFieldError("volume") }}
            </span>
                    </div>

                    <!-- printers -->
                    <div class="consumibles-data-item">
                        <h5>Multifuncionales compatibles</h5>
                        <div class="tag-inputs-container" formArrayName="printers">
                            <div *ngFor="let printer of printers; let i = index">
                                <div class="tag-inputs">
                                    <input [formControlName]="i" class="form-control" />
                                    <button class="button button-danger button-icon" (click)="removePrinter(i)">
                    <mat-icon>delete</mat-icon>
                  </button>
                                </div>
                            </div>
                            <input type="text" placeholder="Agrega una multifuncional..." aria-label="Number" class="form-control" [formControl]="printerNameControl" [matAutocomplete]="autoPrinter" />
                            <mat-autocomplete #autoPrinter="matAutocomplete" (optionSelected)="addPrinterFromAutocomplete($event)" class="form-control">
                                <mat-option *ngFor="let printerName of filteredPrinterNames | async" [value]="printerName">
                                    {{ printerName }}
                                </mat-option>
                            </mat-autocomplete>
                        </div>
                    </div>

                    <!-- counterparts -->
                    <div class="consumibles-data-item">
                        <h5>Consumibles Relacionados</h5>
                        <div class="tag-inputs-container" formArrayName="counterparts">
                            <div *ngFor="let counterpart of counterparts; let i = index">
                                <div class="tag-inputs">
                                    <input [formControlName]="i" class="form-control" />
                                    <button class="button button-danger button-icon" (click)="removeCounterpart(i)">
                                      <mat-icon>delete</mat-icon>
                                    </button>
                                </div>
                            </div>
                            <input type="text" placeholder="Agrega un consumible..." aria-label="Number" class="form-control" [formControl]="counterpartNameControl" [matAutocomplete]="autoCounterpart" />
                            <mat-autocomplete #autoCounterpart="matAutocomplete" (optionSelected)="addCounterpartFromAutocomplete($event)" class="form-control">
                                <mat-option *ngFor="
                    let counterpartName of filteredCounterpartNames | async
                  " [value]="counterpartName">
                                    {{ counterpartName }}
                                </mat-option>
                            </mat-autocomplete>
                        </div>
                    </div>

                    <!-- Compatible Models Field -->
                    <div class="consumibles-data-item">
                        <h5>Modelos compatibles</h5>
                        <div class="tag-inputs-container" formArrayName="compatibleModels">
                            <div *ngFor="let model of compatibleModelsControls; let i = index">
                                <div class="tag-inputs">
                                    <input [formControlName]="i" class="form-control" />
                                    <button class="button button-danger button-icon" (click)="removeModel(i)">
                    <mat-icon>delete</mat-icon>
                  </button>
                                </div>
                            </div>
                            <button class="button button-secondary button-icon" (click)="addModel()">
                <mat-icon>add</mat-icon>
              </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>