<div>
  <form
    [formGroup]="editConsumibleForm"
    class="consumibles-container"
    *ngIf="editConsumibleForm"
  >
    <div class="consumibles-header">
      <h2>Editar Consumible</h2>
      <button
        type="submit"
        class="button button-primary button-raised"
        (click)="submitForm()"
      >
        <span class="button-label">Realizar Cambios</span>
      </button>
    </div>
    <div class="consumibles-info">
      <!-- implement carusel look at file upload... only for printer... -->
      <div class="consumibles-images">
        <app-file-upload
          (fileUpload)="onFileUploaded($event)"
          [consumible]="Consumible"
          [rootFolder]="'imagenes'"
          [file_type]="'.png o .jpg'"
        ></app-file-upload>
        <app-product-image-grid
          [imageUrls]="imageUrlsArray"
          (remove)="openConfirmDialog($event)"
        ></app-product-image-grid>
      </div>
      <div class="consumibles-data-container">
        <div class="consumibles-data">
          <div class="consumibles-data-item">
            <h5>Nombre</h5>
            <input
              formControlName="name"
              class="form-control disabled-input"
              type="text"
              [class.is-invalid]="
                editConsumibleForm.controls['name'].invalid &&
                editConsumibleForm.controls['name'].touched
              "
            />
            <span
              *ngIf="
                editConsumibleForm.controls['name'].invalid &&
                editConsumibleForm.controls['name'].touched
              "
              class="form-text text-danger"
            >
              El Nombre es obligatoria.
            </span>
          </div>

          <!-- Brand Field -->
          <div class="consumibles-data-item">
            <h5>Marca</h5>
            <input
              formControlName="brand"
              class="form-control"
              type="text"
              [class.is-invalid]="
                editConsumibleForm.controls['brand'].invalid &&
                editConsumibleForm.controls['brand'].touched
              "
            />
            <span
              *ngIf="
                editConsumibleForm.controls['brand'].invalid &&
                editConsumibleForm.controls['brand'].touched
              "
              class="form-text text-danger"
            >
              La marca es obligatoria.
            </span>
          </div>

          <!-- SKU Field -->
          <div class="consumibles-data-item">
            <h5>SKU</h5>
            <input
              formControlName="sku"
              class="form-control"
              type="text"
              [class.is-invalid]="
                editConsumibleForm.controls['sku'].invalid &&
                editConsumibleForm.controls['sku'].touched
              "
            />
            <span
              *ngIf="
                editConsumibleForm.controls['sku'].invalid &&
                editConsumibleForm.controls['sku'].touched
              "
              class="form-text text-danger"
            >
              el SKU es obligatoria.
            </span>
          </div>
          <!-- Price field -->
          <div class="consumibles-data-item">
            <h5>Precio</h5>
            <div class="input-group">
              <span class="input-group-text">$</span>
              <input
                formControlName="price"
                class="form-control"
                type="number"
                step="0.01"
                [class.is-invalid]="
                  editConsumibleForm.controls['price'].invalid &&
                  editConsumibleForm.controls['price'].touched
                "
              />
              <span
                *ngIf="
                  editConsumibleForm.controls['price'].invalid &&
                  editConsumibleForm.controls['price'].touched
                "
                class="form-text text-danger"
              >
                Price is required.
              </span>
              <span
                *ngIf="
                  editConsumibleForm.controls['price'].errors?.['min'] &&
                  editConsumibleForm.controls['price'].touched
                "
                class="form-text text-danger"
              >
                Price must be at least 0.01.
              </span>
            </div>
            <!-- Short Description field -->
            <div class="consumibles-data-item">
              <h5>Short Description</h5>
              <textarea
                formControlName="shortDescription"
                class="form-control"
                rows="1"
                [class.is-invalid]="
                  editConsumibleForm.controls['shortDescription'].invalid &&
                  editConsumibleForm.controls['shortDescription'].touched
                "
              ></textarea>
              <span
                *ngIf="
                  editConsumibleForm.controls['shortDescription'].invalid &&
                  editConsumibleForm.controls['shortDescription'].touched
                "
                class="form-text text-danger"
              >
                Short Description is required.
              </span>
            </div>
            <!-- Long Description field -->
            <div class="consumibles-data-item">
              <h5>Long Description</h5>
              <textarea
                formControlName="longDescription"
                class="form-control"
                rows="5"
                [class.is-invalid]="
                  editConsumibleForm.controls['longDescription'].invalid &&
                  editConsumibleForm.controls['longDescription'].touched
                "
              ></textarea>
              <span
                *ngIf="
                  editConsumibleForm.controls['longDescription'].invalid &&
                  editConsumibleForm.controls['longDescription'].touched
                "
                class="form-text text-danger"
              >
                Long Description is required.
              </span>
            </div>

            <!-- Category field -->
            <div class="consumibles-data-item">
              <h5>Category</h5>
              <input
                formControlName="category"
                class="form-control"
                type="text"
                [class.is-invalid]="
                  editConsumibleForm.controls['category'].invalid &&
                  editConsumibleForm.controls['category'].touched
                "
              />
              <span
                *ngIf="
                  editConsumibleForm.controls['category'].invalid &&
                  editConsumibleForm.controls['category'].touched
                "
                class="form-text text-danger"
              >
                Category is required.
              </span>
            </div>
            <div class="consumibles-data-item">
              <h5>Stock</h5>
              <input
                formControlName="stock"
                class="form-control"
                type="number"
                [class.is-invalid]="
                  editConsumibleForm.controls['stock'].invalid &&
                  editConsumibleForm.controls['stock'].touched
                "
              />
              <span
                *ngIf="
                  editConsumibleForm.controls['stock'].invalid &&
                  editConsumibleForm.controls['stock'].touched
                "
                class="form-text text-danger"
              >
                Stock is required.
              </span>
              <span
                *ngIf="
                  editConsumibleForm.controls['stock'].errors?.['min'] &&
                  editConsumibleForm.controls['stock'].touched
                "
                class="form-text text-danger"
              >
                Stock must be at least 1.
              </span>
            </div>
            <div class="consumibles-data-item">
              <h5>Location</h5>
              <input
                formControlName="location"
                class="form-control"
                type="text"
                [class.is-invalid]="
                  editConsumibleForm.controls['location'].invalid &&
                  editConsumibleForm.controls['location'].touched
                "
              />
              <span
                *ngIf="
                  editConsumibleForm.controls['location'].invalid &&
                  editConsumibleForm.controls['location'].touched
                "
                class="form-text text-danger"
              >
                Location is required.
              </span>
            </div>

          <!-- origin field selector-->
          <div class="consumibles-data-item">
            <h5>origen</h5>
            <mat-form-field appearance="fill">
              <mat-label>Selleciona su origen</mat-label>
              <mat-select formControlName="origen">
                <mat-option value="OEM">OEM</mat-option>
                <mat-option value="Generico">Generico</mat-option>
                <mat-option value="Recarga">Recarga</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <!-- Compatible Models Field -->
          <div class="consumibles-data-item">
            <h5>Compatible Models</h5>
            <div class="tag-inputs-container" formArrayName="compatibleModels">
              <div
                *ngFor="let model of compatibleModelsControls; let i = index"
              >
                <div class="tag-inputs">
                  <input [formControlName]="i" class="form-control" />
                  <button
                    class="button button-danger button-icon"
                    (click)="removeModel(i)"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </div>
              <button
                class="button button-secondary button-icon"
                (click)="addModel()"
              >
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </div>

          <!-- color -->
          <div class="consumibles-data-item">
            <h5>Color</h5>
            <mat-form-field appearance="fill">
              <mat-label>Select a color</mat-label>
              <mat-select formControlName="color">
                <mat-option value="">None</mat-option>
                <mat-option value="K">
                  <span
                    class="color-box"
                    style="background-color: black"
                  ></span>
                  Black
                </mat-option>
                <mat-option value="C">
                  <span class="color-box" style="background-color: cyan"></span>
                  Cyan
                </mat-option>
                <mat-option value="M">
                  <span
                    class="color-box"
                    style="background-color: magenta"
                  ></span>
                  Magenta
                </mat-option>
                <mat-option value="Y">
                  <span
                    class="color-box"
                    style="background-color: yellow"
                  ></span>
                  Yellow
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <!-- printers -->
          <div class="consumibles-data-item">
            <h5>Printers</h5>
            <div class="tag-inputs-container" formArrayName="printers">
              <div *ngFor="let printer of printers; let i = index">
                <div class="tag-inputs">
                  <input [formControlName]="i" class="form-control" />
                  <button
                    class="button button-danger button-icon"
                    (click)="removePrinter(i)"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </div>
              <mat-form-field class="example-full-width">
                <input
                  type="text"
                  placeholder="Add printer"
                  aria-label="Number"
                  matInput
                  [formControl]="printerNameControl"
                  [matAutocomplete]="auto"
                />
                <mat-autocomplete
                  #auto="matAutocomplete"
                  (optionSelected)="addPrinterFromAutocomplete($event)"
                >
                  <mat-option
                    *ngFor="let printerName of filteredPrinterNames | async"
                    [value]="printerName"
                  >
                    {{ printerName }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </div>

          <!-- counterpart field -->
        </div>
      </div>
      <h5>Images</h5>
      <app-product-image-grid
        [imageUrls]="imageUrlsArray"
        (remove)="onRemove($event)"
      ></app-product-image-grid>

      <app-file-upload (fileUpload)="onFileUploaded($event)"></app-file-upload>
    </form>
  </div>
</div>
