<div class="section-card">
  <div class="section-card-header border-bottom">
    <div class="section-card-header-wrapper">
      <app-breadcrumb></app-breadcrumb>
      <h3 class="header-title">Clasificación de clientes</h3>
    </div>
  </div>
  <mat-tab-group>
    <mat-tab label="Categoria"> Content 3</mat-tab>
    <mat-tab label="Sucursal"> Content 3</mat-tab>
    <mat-tab label="Grupo de trabajo"> Content 3 </mat-tab>
    <mat-tab label="Zona de cobranza"> Content 3 </mat-tab>
    <mat-tab label="Linea de negocio"> Content 3 </mat-tab>
  </mat-tab-group>
</div>
