<div class="section-card" *ngIf="user">
  <div class="section-card-header border-bottom">
    <div class="section-card-header-wrapper">
      <app-breadcrumb></app-breadcrumb>
      <h3 class="header-title">Usuario</h3>
    </div>
    <div class="button-actions">
      <button
        class="button button-danger button-raised button-icon-text"
        (click)="openConfirmDialog(user)"
      >
        <mat-icon>delete</mat-icon><span class="button-label">Eliminar</span>
      </button>
      <button
        class="button button-primary button-raised button-icon-text"
        (click)="navigateToEditUser(user)"
      >
        <mat-icon>edit</mat-icon><span class="button-label">Editar</span>
      </button>
    </div>
  </div>

  <div class="section-card-body">
    <div class="form-container">
      <div class="form-section">
        <!-- <div class="avatar-icon">
          <img
            src="../../../../assets/icons/avatar/avatar-1.svg"
            alt="avatar"
          />
        </div> -->
        <!-- <h5 class="form-section-subheader">Datos del Cliente</h5> -->
        <div class="form-grid">
          <!-- name -->
          <div class="form-item half-row">
            <div class="item-label">Nombre</div>
            <div class="item-value">{{ user.name }}</div>
          </div>
          <div class="form-item half-row">
            <div class="item-label">Email</div>
            <div class="item-value">{{ user.email }}</div>
          </div>
          <div class="form-item half-row">
            <div class="item-label">Roles</div>
            <div class="item-value">
              <div class="roles">
                <span class="role">{{ user.role?.name }}</span>
              </div>
            </div>
          </div>
          <div class="form-item half-row">
            <div class="item-label">Estado</div>
            <div class="item-value">
              <span
                [class.status]="user.isActive"
                [class.status-noactive]="!user.isActive"
                >{{ user.isActive ? 'ACTIVO' : 'INACTIVO' }}</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
