<div class="user-container" *ngIf="user">
    <div class="user-header">
        <h3 class="table-title">Usuario</h3>
        <div class="table-actions">
            <div class="action-buttons">
                <button ButtonResize class="button button-danger button-icon-text button-raised" (click)="openConfirmDialog(user)">
                  <mat-icon>delete</mat-icon><span class="button-label">Eliminar</span>
                </button>
                <button ButtonResize class="button button-primary button-icon-text button-raised" (click)="navigateToEditUser(user)">
                  <mat-icon>edit</mat-icon><span class="button-label">Editar</span>
                </button>
            </div>
        </div>
    </div>

    <div class="user-info">
        <div class="card-settings-body">
            <div class="avatar-icon"><img src="../../../../assets/icons/avatar/avatar-1.svg" alt="avatar"></div>
            <div class="user-info">
                <div class="info-row">
                    <div class="info-container">
                        <p>Nombre</p><span class="username">{{ user.name }}</span>
                    </div>
                    <div class="info-container">
                        <p>Email</p><span class="user-email">{{ user.email }}</span>
                    </div>
                    <div class="info-container">
                        <p>Roles</p>
                        <div class="roles"><span class="role" *ngFor="let role of user.roles">{{ role.name }}</span></div>
                    </div>
                    <div class="info-container" *ngIf="user.isActive; else notActive">
                        <p>Estado</p> <span class="status">ACTIVO</span>
                    </div>
                    <ng-template #notActive>
                        <div class="info-container">
                            <p>Estado</p> <span class="status-noactive">INACTIVO</span>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>