<div class="custom-select-wrapper" (click)="toggleCustomSelect()">
  <div class="custom-select" [class.open]="isOpen"  [class.is-invalid]="isInvalid" [class.dropup]="isDropup">
    <div class="custom-select__trigger">
        <!-- Display selected items as chips -->
        <div class="selected-roles-list" *ngIf="selectedItems.length">
            <div *ngFor="let item of selectedItems" class="selected-role-chip">
                <ng-container>
                <span>{{item}}</span>
                <div class="close-button" (click)="removeItem(item, $event)">
                    <mat-icon data-mat-icon-type="font">close</mat-icon>
                </div>
                </ng-container>
            </div>
        </div>
        <!-- default text when 0 selected items -->
        <span *ngIf="selectedItems.length === 0">Selecciona un rol</span>
        <div class="select-icons"><img id="chevron-down" src="../../../../assets/icons/arrows/chevron-down.svg" alt="chevron-down"><img *ngIf="isInvalid" src="../../../../assets/icons/interface/alert-circle.svg" alt="alert-circle"></div>
    </div>
    <div class="custom-options" #customOptions>
        <div class="custom-options-wrapper">
            <span class="custom-option" *ngFor="let item of items" 
                [ngClass]="{'selected': selectedItems.includes(item)}" 
                (click)="selectItem(item, $event)" 
                data-value="item">{{item}}</span>
            <div class="custom-options-actions"><button type="button" class="button button-primary button-raised" (click)="openAddUserRoleDialog()"><span class="button-label"><mat-icon>add</mat-icon>Agregar Nuevo Rol</span></button></div>
        </div>
    </div>
  </div>
</div>