<div>
    <form [formGroup]="createPackageForm" class="packages-container" *ngIf="createPackageForm">
        <div class="packages-header">
            <h2>Nuevo Paquete de Renta</h2>
            <button class="button button-primary button-raised button-icon-text" (click)="submitForm()">
              <mat-icon>add</mat-icon><span class="button-label">Agregar</span>
            </button>
        </div>
        <app-loading-spinner [isLoading]="isSubmitting"></app-loading-spinner>
        <div class="packages-info">
            <div class="packages-form-container">
                <div class="packages-data">
                    <!-- Printer -->
                    <div class="packages-data-item full-row">
                        <h5>Multifuncional</h5>
                        <input type="text" placeholder="Agrega una multifuncional..." aria-label="Number" class="form-control" [formControl]="printerControl" [matAutocomplete]="auto" [class.is-invalid]="
                              createPackageForm.controls['printer'].invalid &&
                              createPackageForm.controls['printer'].touched">
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="addPrinterFromAutocomplete($event)" class="form-control">
                            <mat-option *ngFor="let printerName of filteredPrinterNames | async" [value]="printerName">
                                {{ printerName }}
                            </mat-option>
                        </mat-autocomplete>
                        <span *ngIf="isValidField('printer')" class="form-text text-danger">
                          {{ getFieldError("printer") }}
                        </span>
                    </div>

                    <div class="packages-data-item">
                        <h5>Fecha inicial</h5>
                        <input formControlName="packageStartDate" class="form-control" type="date" [class.is-invalid]="
                              createPackageForm.controls['packageStartDate'].invalid &&
                              createPackageForm.controls['packageStartDate'].touched
                            " />
                        <span *ngIf="isValidField('packageStartDate')" class="form-text text-danger">
                              {{ getFieldError("packageStartDate") }}
                            </span>
                    </div>

                    <div class="packages-data-item">
                        <h5>Fecha final</h5>
                        <input formControlName="packageEndDate" class="form-control" type="date" [class.is-invalid]="
                              createPackageForm.controls['packageEndDate'].invalid &&
                              createPackageForm.controls['packageEndDate'].touched" />
                        <span *ngIf="isValidField('packageEndDate')" class="form-text text-danger">
                              {{ getFieldError("packageEndDate") }}
                            </span>
                    </div>

                    <!-- package price -->
                    <div class="packages-data-item">
                        <h5>Deposito Inicial</h5>
                        <div class="package-price-item input-group">
                            <div class="input-group-text">$</div>
                            <input formControlName="packageDepositPrice" class="form-control" type="number" step="0.01" placeholder="2000" [class.is-invalid]="
                                  createPackageForm.controls['packageDepositPrice'].invalid &&
                                  createPackageForm.controls['packageDepositPrice'].touched" />
                            <div class="input-group-text">
                                <select class="currency-select" formControlName="packageCurrency">
                                      <option value="MXN">MXN</option>
                                      <option value="USD">USD</option>
                                </select>
                            </div>
                        </div>
                        <span *ngIf="isValidField('packageDepositPrice')" class="form-text text-danger">
                              {{ getFieldError("packageDepositPrice") }}
                            </span>
                    </div>

                    <!-- package price -->
                    <div class="packages-data-item">
                        <h5>Pago mensual</h5>
                        <div class="package-price-item input-group">
                            <div class="input-group-text">$</div>
                            <input formControlName="packageMonthlyPrice" class="form-control" type="number" step="0.01" placeholder="250" [class.is-invalid]="
                                  createPackageForm.controls['packageMonthlyPrice'].invalid &&
                                  createPackageForm.controls['packageMonthlyPrice'].touched" />
                            <div class="input-group-text">
                                <select class="currency-select" formControlName="packageCurrency">
                                      <option value="MXN">MXN</option>
                                      <option value="USD">USD</option>
                                </select>
                            </div>
                        </div>
                        <span *ngIf="isValidField('packageMonthlyPrice')" class="form-text text-danger">
                          {{ getFieldError("packageMonthlyPrice") }}
                        </span>
                    </div>

                    <div class="packages-data-item">
                        <h5>Mensualidades</h5>
                        <div class="input-group">
                            <input formControlName="packageDuration" class="form-control" type="number" step="6" placeholder="2" [class.is-invalid]="
                                  createPackageForm.controls['packageDuration'].invalid &&
                                  createPackageForm.controls['packageDuration'].touched" />
                            <div class="input-group-text">meses</div>
                        </div>
                        <span *ngIf="isValidField('packageDuration')" class="form-text text-danger">
                              {{ getFieldError("packageDuration") }}
                            </span>
                    </div>

                    <!-- package discount percentage -->
                    <div class="packages-data-item">
                        <h5>Descuento</h5>
                        <div class="package-price-item input-group">
                            <input formControlName="packageDiscountPercentage" class="form-control" type="number" step="0.01" placeholder="20" [class.is-invalid]="
                            createPackageForm.controls['packageDiscountPercentage'].invalid &&
                            createPackageForm.controls['packageDiscountPercentage'].touched" />
                            <div class="input-group-text">%</div>
                            <!-- <button class="btn btn-outline-secondary" (click)="calculatePrice()">
                              Calcular precio
                            </button> -->
                        </div>
                        <span *ngIf="isValidField('packageDiscountPercentage')" class="form-text text-danger">
                          {{ getFieldError("packageDiscountPercentage") }}
                        </span>
                    </div>

                    <!-- package description -->
                    <div class="packages-data-item">
                        <h5>Descripción</h5>
                        <textarea formControlName="packageDescription" class="form-control" rows="5" placeholder="Descripción corta del paquete" [class.is-invalid]="
                          createPackageForm.controls['packageDescription'].invalid &&
                          createPackageForm.controls['packageDescription'].touched">
                        </textarea>
                        <span *ngIf="isValidField('packageDescription')" class="form-text text-danger">
                          {{ getFieldError("packageDescription") }}
                        </span>
                    </div>
                    <!-- Package Includes Field -->
                    <div class="packages-data-item">
                        <h5>Paquete incluye</h5>
                        <div class="tag-inputs-container" formArrayName="packageIncludes">
                            <div *ngFor="let include of packageIncludesControls; let i = index">
                                <div class="tag-inputs">
                                    <input [formControlName]="i" class="form-control" />
                                    <button class="button button-danger button-icon" (click)="removeInclude(i)">
                                      <mat-icon>delete</mat-icon>
                                    </button>
                                </div>
                            </div>
                            <button class="button button-secondary button-icon" (click)="addInclude()">
                              <mat-icon>add</mat-icon>
                            </button>
                        </div>
                    </div>
                    <div class="packages-data-item">
                        <h5>Impresiónes incluidas de B/N</h5>
                        <div class="input-group">
                            <input formControlName="packagePrintsBw" class="form-control" type="number" placeholder="5000" [class.is-invalid]="
                              createPackageForm.controls['packagePrintsBw'].invalid &&
                              createPackageForm.controls['packagePrintsBw'].touched" />
                            <div class="input-group-text">impresiónes</div>
                            <span *ngIf="isValidField('packagePrintsBw')" class="form-text text-danger">
                              {{ getFieldError("packagePrintsBw") }}
                            </span>
                        </div>
                    </div>

                    <div class="packages-data-item">
                        <h5>Costo por click extra de B/N</h5>
                        <div class="input-group">
                            <div class="input-group-text">$</div>
                            <input formControlName="packageExtraClickPriceBw" class="form-control" type="number" step="0.01" placeholder=".12" [class.is-invalid]="
                              createPackageForm.controls['packageExtraClickPriceBw'].invalid &&
                              createPackageForm.controls['packageExtraClickPriceBw'].touched" />
                            <span *ngIf="isValidField('packageExtraClickPriceBw')" class="form-text text-danger">
                              {{ getFieldError("packageExtraClickPriceBw") }}
                            </span>
                        </div>
                    </div>

                    <div *ngIf="selectedPrinter?.color" class="packages-data-item">
                        <h5>Impresiónes incluidas de Color</h5>
                        <div class="input-group">
                            <input formControlName="packagePrintsColor" class="form-control" type="number" placeholder="3500" [class.is-invalid]="
                              createPackageForm.controls['packagePrintsColor'].invalid &&
                              createPackageForm.controls['packagePrintsColor'].touched" />
                            <div class="input-group-text">impresiónes</div>
                            <span *ngIf="isValidField('packagePrintsColor')" class="form-text text-danger">
                              {{ getFieldError("packagePrintsColor") }}
                            </span>
                        </div>
                    </div>

                    <div *ngIf="selectedPrinter?.color" class="packages-data-item">
                        <h5>Costo por click extra de Color</h5>
                        <div class="input-group">
                            <div class="input-group-text">$</div>
                            <input formControlName="packageExtraClickPriceColor" class="form-control" type="number" step="0.01" placeholder=".25" [class.is-invalid]="
                              createPackageForm.controls['packageExtraClickPriceColor'].invalid &&
                              createPackageForm.controls['packageExtraClickPriceColor'].touched" />
                            <span *ngIf="isValidField('packageExtraClickPriceColor')" class="form-text text-danger">
                              {{ getFieldError("packageExtraClickPriceColor") }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>