/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

// Material Design
@use '@angular/material' as mat;
@use '../m3-theme.scss' as m3-theme;
@include mat.core();
@import 'quill/dist/quill.core.css';
@import 'quill/dist/quill.snow.css';
@import 'quill/dist/quill.bubble.css';
@import '../variables';
@import '@angular/cdk/overlay-prebuilt.css';

/*----------------------[ HTML and Body Main Structure ]-------------------------------*/

:root {
  // Apply the light theme by default
  @include mat.core-theme(m3-theme.$light-theme);
  @include mat.all-component-themes(m3-theme.$light-theme);
  @include mat.system-level-colors(m3-theme.$light-theme);
  --mat-form-field-subscript-text-size: 14px;
  @include mat.system-level-typography(m3-theme.$light-theme);
}

.dense-theme {
  @include mat.all-component-themes(m3-theme.$light-dense-theme);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto';
}

body,
html {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: map-get(
    map-get(m3-theme.$palettes, neutral-variant),
    70
  ) !important;
}

/*----------------------[ Links ]-------------------------------*/

a {
  font-size: 16px;
  color: $primary-color;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
  color: $primary-color-active;
}

/*----------------------[ Font Sizes and Line Heights ]-------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

h1 {
  font-size: 2.1875rem; /* 35px */
  line-height: 2.7344rem; /* 43.75px */
}

h2 {
  font-size: 1.75rem; /* 28px */
  line-height: 2.1875rem; /* 35px */
}

h3 {
  font-size: 1.53125rem; /* 24.5px */
  line-height: 1.9125rem; /* 30.6px */
}

h4 {
  font-size: 1.3125rem; /* 21px */
  line-height: 1.64375rem; /* 26.3px */
}

h5 {
  font-size: 1.09375rem; /* 17.5px */
  line-height: 1.36875rem; /* 21.9px */
}

h6 {
  font-size: 1rem; /* 16px */
  line-height: 1.25rem; /* 20px */
}

p {
  font-size: 1rem; /* 16px */
  line-height: 1.25rem; /* 20px */
}

small {
  font-size: 0.65625rem; /* 10.5px */
  line-height: 0.81875rem; /* 13.1px */
}

ul,
li {
  margin: 0px;
}

li {
  font-size: 1rem;
}

b {
  font-weight: 500;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.75rem; /* 28px */
    line-height: 2.1875rem; /* 35px */
  }

  h2 {
    font-size: 1.5rem; /* 24px */
    line-height: 1.875rem; /* 30px */
  }

  h3 {
    font-size: 1.3125rem; /* 21px */
    line-height: 1.64375rem; /* 26.3px */
  }

  h4 {
    font-size: 1.125rem; /* 18px */
    line-height: 1.40625rem; /* 22.5px */
  }

  h5 {
    font-size: 1rem; /* 16px */
    line-height: 1.25rem; /* 20px */
  }

  h6 {
    font-size: 0.875rem; /* 14px */
    line-height: 1.09375rem; /* 17.5px */
  }
}

/*----------------------[ Quill Editor ]-------------------------------*/

quill-editor.content-editor {
  width: 100%;
}

quill-editor {
  width: 100%;
  height: fit-content;
}

.ql-container.ql-snow {
  // border: none !important;
  // max-width: 768px !important;
  width: 100% !important;
  height: min-content;
  border-color: $gray-300 !important;
  border-radius: 0 0 $border-radius $border-radius !important;
}

.ql-snow.ql-toolbar {
  border-radius: $border-radius $border-radius 0 0 !important;
  border: 1px solid $gray-300 !important;
}

quill-editor.is-invalid {
  .ql-editor {
    border: 1px solid #ef4444 !important;
  }
}

.ql-editor {
  border: 1px solid transparent !important;
  border-radius: 0 0 $border-radius $border-radius !important;
  min-height: 180px;
  height: 100%;
}

.ql-editor:hover {
  border: 1px solid #000 !important;
  border-radius: 0 0 $border-radius $border-radius !important;
}
.ql-editor:focus {
  border: 2px solid #005ac2 !important;
  border-radius: 0 0 $border-radius $border-radius !important;
}

/*----------------------[ Input and Textarea ]-------------------------------*/

input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus,
input:focus {
  border-color: transparent !important;
}

/*----------------------[ Structure ]-------------------------------*/

.container-grid {
  display: flex !important;
  height: 100%;
  .container-grid-content {
    width: 100%;
    padding: 0.5rem;
    overflow-x: hidden;
  }
  @media (max-width: 768px) {
    flex-direction: column !important;
    .container-grid-content {
      height: 100%;
    }
  }
}

/*----------------------[ Text ]-------------------------------*/

.text-danger {
  color: $danger-color !important;
}

.text-success {
  color: $green-600 !important;
}
.text-muted {
  color: $gray-500 !important;
}

/*----------------------[ Button ]-------------------------------*/

.button {
  margin: 0;
  display: inline-flex;
  user-select: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 0.25rem;
  color: $text;
  font-size: 1rem;
  padding: 0.675rem;
  transition: background-color 0.2s, border-color 0.2s, box-shadow 0.2s;
  height: fit-content;
  border-radius: $border-radius;
  min-height: 43.59px;
  &:not(:disabled) {
    cursor: pointer;
  }
  &:focus:not(:focus-visible) {
    outline: 0;
  }
  &:focus {
    box-shadow: $box-shadow-focus-primary;
  }
  &:disabled {
    opacity: 0.6;
  }
  &-primary {
    color: $primary-color-text;
    background: $primary-color;
    border: 1px $primary-color solid;
    &:hover {
      background: $primary-color-hover;
      color: $primary-color-text;
      border-color: $primary-color-hover;
    }
    &:active {
      background: $primary-color-active;
      color: $primary-color-text;
      border-color: $primary-color-active;
    }
    &:focus {
      box-shadow: $box-shadow-focus-primary;
    }
  }
  &-secondary {
    color: $secondary-color-text;
    background: $secondary-color;
    border: 1px $secondary-color solid;
    &:hover {
      background: $secondary-color-hover;
      color: $secondary-color-text;
      border-color: $secondary-color-hover;
    }
    &:active {
      background: $secondary-color-active;
      color: $secondary-color-text;
      border-color: $secondary-color-active;
    }
    &:focus {
      box-shadow: $box-shadow-focus-secondary;
    }
  }
  &-success {
    color: $success-color-text;
    background: $success-color;
    border: 1px $success-color solid;
    &:hover {
      background: $success-color-hover;
      color: $success-color-text;
      border-color: $success-color-hover;
    }
    &:active {
      background: $success-color-active;
      color: $success-color-text;
      border-color: $success-color-active;
    }
    &:focus {
      box-shadow: $box-shadow-focus-success;
    }
  }
  &-info {
    color: $info-color-text;
    background: $info-color;
    border: 1px $info-color solid;
    &:hover {
      background: $info-color-hover;
      color: $info-color-text;
      border-color: $info-color-hover;
    }
    &:active {
      background: $info-color-active;
      color: $info-color-text;
      border-color: $info-color-active;
    }
    &:focus {
      box-shadow: $box-shadow-focus-info;
    }
  }
  &-warning {
    color: $warning-color-text;
    background: $warning-color;
    border: 1px $warning-color solid;
    &:hover {
      background: $warning-color-hover;
      color: $warning-color-text;
      border-color: $warning-color-hover;
    }
    &:active {
      background: $warning-color-active;
      color: $warning-color-text;
      border-color: $warning-color-active;
    }
    &:focus {
      box-shadow: $box-shadow-focus-warning;
    }
  }
  &-help {
    color: $help-color-text;
    background: $help-color;
    border: 1px $help-color solid;
    &:hover {
      background: $help-color-hover;
      color: $help-color-text;
      border-color: $help-color-hover;
    }
    &:active {
      background: $help-color-active;
      color: $help-color-text;
      border-color: $help-color-active;
    }
    &:focus {
      box-shadow: $box-shadow-focus-help;
    }
  }
  &-danger {
    color: $danger-color-text;
    background: $danger-color;
    border: 1px $danger-color solid;
    &:hover {
      background: $danger-color-hover;
      color: $danger-color-text;
      border-color: $danger-color-hover;
    }
    &:active {
      background: $danger-color-active;
      color: $danger-color-text;
      border-color: $danger-color-active;
    }
    &:focus {
      box-shadow: $box-shadow-focus-danger;
    }
  }
  &-default {
    color: $default-color;
    background: $white;
    border: 1px solid $gray-300;
    &:hover {
      background: $gray-50;
      color: $default-color;
    }
    &:active {
      background: $gray-100;
      color: $default-color;
      border-color: $gray-500;
    }
    &:focus {
      box-shadow: $box-shadow-focus-primary;
    }
  }
  &-full {
    width: 100%;
  }
  &-rounded {
    border-radius: 2rem;
  }
  &-raised {
    box-shadow: $box-shadow-3;
  }
  &-outline {
    background: transparent;
    box-shadow: none;
    &-primary {
      color: $primary-color;
      border: 1px $primary-color solid;
      &:hover {
        background: $primary-color-hover;
        color: $primary-color-text;
        border-color: $primary-color-hover;
      }
      &:active {
        background: $primary-color-active;
        color: $primary-color-text;
        border-color: $primary-color-active;
      }
      &:focus {
        box-shadow: $box-shadow-focus-primary;
      }
    }
    &-secondary {
      color: $secondary-color;
      border: 1px $gray-300 solid;
      &:hover {
        background: $secondary-color-hover;
        color: $secondary-color-text;
        border-color: $secondary-color-hover;
      }
      &:active {
        background: $secondary-color-active;
        color: $secondary-color-text;
        border-color: $secondary-color-active;
      }
      &:focus {
        box-shadow: $box-shadow-focus-secondary;
      }
    }
    &-success {
      color: $success-color;
      border: 1px $success-color solid;
      &:hover {
        background: $success-color-hover;
        color: $success-color-text;
        border-color: $success-color-hover;
      }
      &:active {
        background: $success-color-active;
        color: $success-color-text;
        border-color: $success-color-active;
      }
      &:focus {
        box-shadow: $box-shadow-focus-success;
      }
    }
    &-info {
      color: $info-color;
      border: 1px $info-color solid;
      &:hover {
        background: $info-color-hover;
        color: $info-color-text;
        border-color: $info-color-hover;
      }
      &:active {
        background: $info-color-active;
        color: $info-color-text;
        border-color: $info-color-active;
      }
      &:focus {
        box-shadow: $box-shadow-focus-info;
      }
    }
    &-warning {
      color: $warning-color;
      border: 1px $warning-color solid;
      &:hover {
        background: $warning-color-hover;
        color: $warning-color-text;
        border-color: $warning-color-hover;
      }
      &:active {
        background: $warning-color-active;
        color: $warning-color-text;
        border-color: $warning-color-active;
      }
      &:focus {
        box-shadow: $box-shadow-focus-warning;
      }
    }
    &-help {
      color: $help-color;
      border: 1px $help-color solid;
      &:hover {
        background: $help-color-hover;
        color: $help-color-text;
        border-color: $help-color-hover;
      }
      &:active {
        background: $help-color-active;
        color: $help-color-text;
        border-color: $help-color-active;
      }
      &:focus {
        box-shadow: $box-shadow-focus-help;
      }
    }
    &-danger {
      color: $danger-color;
      border: 1px $danger-color solid;
      &:hover {
        background: $danger-color-hover;
        color: $danger-color-text;
        border-color: $danger-color-hover;
      }
      &:active {
        background: $danger-color-active;
        color: $danger-color-text;
        border-color: $danger-color-active;
      }
      &:focus {
        box-shadow: $box-shadow-focus-danger;
      }
    }
  }
  &-icon {
    padding: 0.675em;
    &-success {
      color: $success-color;
      border-color: $success-color;
      &:hover {
        background: $success-color-hover;
        color: $success-color-text;
        border-color: $success-color-hover;
      }
      &:active {
        background: $success-color-active;
        color: $success-color-text;
        border-color: $success-color-active;
      }
      &:focus {
        box-shadow: $box-shadow-focus-success;
      }
    }
    &-danger {
      color: $danger-color;
      &:hover {
        background: $danger-color-hover;
        color: $danger-color-text;
        border-color: $danger-color-hover;
      }
      &:active {
        background: $danger-color-active;
        color: $danger-color-text;
        border-color: $danger-color-active;
      }
      &:focus {
        box-shadow: $box-shadow-focus-danger;
      }
    }
    &-warning {
      color: $warning-color;
      &:hover {
        background: $warning-color-hover;
        color: $danger-color-text;
        border-color: $danger-color-hover;
      }
      &:active {
        background: $danger-color-active;
        color: $danger-color-text;
        border-color: $danger-color-active;
      }
      &:focus {
        box-shadow: $box-shadow-focus-warning;
      }
    }
    &-info {
      color: $info-color;
      &:hover {
        background: $info-color-hover;
        color: $info-color-text;
        border-color: $info-color-hover;
      }
      &:active {
        background: $info-color-active;
        color: $info-color-text;
        border-color: $info-color-active;
      }
      &:focus {
        box-shadow: $box-shadow-focus-info;
      }
    }
    &-help {
      color: $help-color;
      &:hover {
        background: $help-color-hover;
        color: $help-color-text;
        border-color: $help-color-hover;
      }
      &:active {
        background: $help-color-active;
        color: $help-color-text;
        border-color: $help-color-active;
      }
      &:focus {
        box-shadow: $box-shadow-focus-help;
      }
    }
  }
  &-text {
    &-primary {
      color: $primary-color;
      background-color: transparent;
      border: 1px solid transparent;
      border-radius: $border-radius;
      &:hover {
        background: rgba($color: $primary-color, $alpha: 0.1);
      }
      &:active {
        background: rgba($color: $primary-color-active, $alpha: 0.1);
      }
      &:focus {
        box-shadow: $box-shadow-focus-primary;
      }
    }
    &-secondary {
      color: $secondary-color;
      background-color: transparent;
      border: none;
      &:hover {
        background: rgba($color: $secondary-color, $alpha: 0.1);
      }
      &:active {
        background: rgba($color: $secondary-color-active, $alpha: 0.1);
      }
      &:focus {
        box-shadow: $box-shadow-focus-secondary;
      }
    }
    &-success {
      color: $success-color;
      background-color: transparent;
      border: none;
      &:hover {
        background: rgba($color: $success-color, $alpha: 0.1);
      }
      &:active {
        background: rgba($color: $success-color-active, $alpha: 0.1);
      }
      &:focus {
        box-shadow: $box-shadow-focus-success;
      }
    }
    &-info {
      color: $info-color;
      background-color: transparent;
      border: none;
      &:hover {
        background: rgba($color: $info-color, $alpha: 0.1);
      }
      &:active {
        background: rgba($color: $info-color-active, $alpha: 0.1);
      }
      &:focus {
        box-shadow: $box-shadow-focus-info;
      }
    }
    &-warning {
      color: $warning-color;
      background-color: transparent;
      border: none;
      &:hover {
        background: rgba($color: $warning-color, $alpha: 0.1);
      }
      &:active {
        background: rgba($color: $warning-color-active, $alpha: 0.1);
      }
      &:focus {
        box-shadow: $box-shadow-focus-warning;
      }
    }
    &-help {
      color: $help-color;
      background-color: transparent;
      border: none;
      &:hover {
        background: rgba($color: $help-color, $alpha: 0.1);
      }
      &:active {
        background: rgba($color: $help-color-active, $alpha: 0.1);
      }
      &:focus {
        box-shadow: $box-shadow-focus-help;
      }
    }
    &-danger {
      color: $danger-color;
      background-color: transparent;
      border: none;
      &:hover {
        background: rgba($color: $danger-color, $alpha: 0.1);
      }
      &:active {
        background: rgba($color: $danger-color-active, $alpha: 0.1);
      }
      &:focus {
        box-shadow: $box-shadow-focus-danger;
      }
    }
  }
  &-icon-text {
    padding: 0.675rem 0.75rem 0.675rem 0.675rem;
    mat-icon {
      font-size: 20px;
      width: 20px;
      height: 20px;
    }
  }
}

button {
  outline: none !important;
  border: none;
  background: transparent;
  &:hover {
    cursor: pointer;
  }
}

.button-label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  transition-duration: 0.2s;
  line-height: 1;
  font-size: 16px;
}

.button-icon-option {
  margin: 0;
  display: inline-flex;
  user-select: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 0.25rem;
  color: $gray-600;
  font-size: 1em;
  padding: 0.5em;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
  border-radius: 40px;
  &:not(:disabled) {
    cursor: pointer;
  }
  &:focus:not(:focus-visible) {
    outline: 0;
  }
  // &:focus {
  //   box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px $primary-color-focus,
  //     0 1px 2px 0 black;
  // }
  &:disabled {
    opacity: 0.6;
  }
  &:hover {
    background: $gray-100;
  }
  &:active {
    background: $gray-200;
    border-color: $gray-200;
  }
}

button.see-icon mat-icon {
  color: #000;
}
button.edit-icon mat-icon {
  color: $blue-500;
}
button.delete-icon mat-icon {
  color: $danger-color;
}

/*----------------------[ Icons ]-------------------------------*/

.black-and-white-icon,
.cmyk-icon {
  width: 16px;
  height: 16px;
}

.color-value-container {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.color-icon {
  &-black {
    display: block;
    background-color: $black;
    width: 20px;
    height: 20px;
    border-radius: 50px;
  }
  &-black-gloss {
    display: block;
    background-color: #252324;
    width: 20px;
    height: 20px;
    border-radius: 50px;
  }
  &-black-matte {
    display: block;
    background-color: #28282b;
    width: 20px;
    height: 20px;
    border-radius: 50px;
  }
  &-cyan {
    display: block;
    background-color: $cyan;
    width: 20px;
    height: 20px;
    border-radius: 50px;
  }
  &-magenta {
    display: block;
    background-color: $magenta;
    width: 20px;
    height: 20px;
    border-radius: 50px;
  }
  &-yellow {
    display: block;
    background-color: $yellow;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    border: 1px solid $yellow-200;
  }
}

.success-icon {
  color: $success-color;
}

.error-icon {
  color: $danger-color;
}

.warning-icon {
  color: $warning-color;
}

.info-icon {
  color: $info-color;
}

.help-icon {
  color: $help-color;
}

.small-icon {
  width: 21px !important;
  height: 21px !important;
  font-size: 21px !important; /* Optional: Adjust font size if needed */
}

/*----------------------[ Border ]-------------------------------*/

.success-border {
  color: $success-color;
}

.error-border {
  color: $danger-color;
}

.warning-border {
  color: $warning-color;
}

.info-border {
  color: $info-color;
}

.help-border {
  color: $help-color;
}

.borderless {
  border: none !important;
}

/*----------------------[ Cards ]-------------------------------*/

.section-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: $border-radius;
  border: 1px solid $gray-300;
}

.section-card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid $gray-300;
  border-radius: $border-radius $border-radius 0 0;
  background-color: $white;
  padding: 1rem;
  gap: 1rem;
  row-gap: 0.5rem;
  .button-actions {
    display: flex;
    gap: 0.5rem;
    button {
      flex-shrink: 0;
    }
  }
}

.section-card-header-wrapper {
  display: flex;
  flex-direction: column;

  h3,
  .header-title {
    color: $text;
    margin: 0;
  }

  .header-subtitle {
    color: $text-secondary;
    margin: 0;
  }
}

.section-card-body {
  display: flex;
  gap: 1em;
  padding: 1em;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.data-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: $border-radius;
  border: 1px solid $gray-300;
}

.data-card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: $border-radius $border-radius 0 0;
  background-color: $white;
  padding: 1rem 1rem 0rem 1rem;
  h3,
  .header-title {
    color: $text;
    margin: 0;
  }
  .button-actions {
    display: flex;
    gap: 0.5rem;
    button {
      flex-shrink: 0;
    }
  }
}

.data-card-body {
  display: flex;
  gap: 1em;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1em;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.data-card-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 0 0 $border-radius $border-radius;
  background-color: $white;
  padding: 0rem 1rem 1rem 1rem;
  h3,
  .header-title {
    color: $text;
    margin: 0;
  }
  .button-actions {
    display: flex;
    gap: 0.5rem;
    button {
      flex-shrink: 0;
    }
  }
}

/*----------------------[ Table ]-------------------------------*/
// .table-header {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   align-items: center;
//   background-color: $white;
//   border: 1px solid $gray-300;
//   border-bottom: none;
//   padding: 1rem;
//   gap: 0.5rem;
//   border-radius: $border-radius $border-radius 0 0;
//   width: 100%;
//   .table-header-container {
//     display: flex;
//     flex-wrap: wrap;
//     align-items: center;
//     justify-content: space-between;
//     width: 100%;
//     gap: 1rem;
//     row-gap: 0.5rem;
//     .table-title {
//       font-optical-sizing: auto;
//       font-style: normal;
//       margin: 0;
//     }
//     .table-actions {
//       display: flex;
//       flex-wrap: wrap-reverse;
//       justify-content: flex-end;
//       align-items: center;
//       gap: 0.5em;
//       .action-buttons {
//         display: flex;
//         gap: 0.5em;
//       }
//       .search-box,
//       mat-form-field {
//         display: flex;
//         min-width: 250px;
//         @media (max-width: 768px) {
//           display: none;
//         }
//       }
//     }
//   }
//   .table-search {
//     display: none;
//     justify-content: flex-end;
//     align-items: center;
//     flex-wrap: wrap-reverse;
//     gap: 0.5em;
//     width: 100%;
//     @media (max-width: 768px) {
//       display: flex;
//       .search-box {
//         width: 100%;
//       }
//     }
//   }
// }

// .table-container {
//   box-sizing: border-box;
//   overflow-y: scroll;
//   width: 100%;
//   border-top: 1px solid $gray-200;
//   border-bottom: 1px solid $gray-200;
//   border-left: 1px solid $gray-300;
//   border-right: 1px solid $gray-300;
//   padding: 0;
//   /* Hide scrollbar for Chrome, Safari and Opera */
//   ::-webkit-scrollbar {
//     display: none;
//   }
//   /* Hide scrollbar for IE, Edge and Firefox */
//   -ms-overflow-style: none; /* IE and Edge */
//   scrollbar-width: none; /* Firefox */
// }

// .responsive-table {
//   display: flex;
//   flex-direction: column;
//   th {
//     background-color: $gray-50 !important;
//   }
//   tr {
//     &:hover {
//       background-color: $gray-50 !important; // replace with your preferred color
//     }
//   }
// }

// .list-table {
//   width: max-content;
//   table-layout: fixed;
// }

// .table-paginator {
//   border: 1px solid $gray-300;
//   border-radius: 0 0 $border-radius $border-radius;
//   border-top: none;
//   padding: 0.5rem 0rem;
// }

// .search-box {
//   border: 1px solid $gray-300;
//   border-radius: $border-radius;
//   background-color: transparent;
//   padding: 0;
//   .search-box-container {
//     display: flex;
//     gap: 0.5rem;
//     align-items: center;
//     padding: 0.5rem;
//     .search-input {
//       background-color: transparent;
//       font-weight: 400 !important;
//     }
//     mat-icon {
//       color: $gray-600;
//     }
//   }
//   &:focus-within {
//     border-color: $primary-color;
//     .search-box-container mat-icon {
//       color: $primary-color;
//     }
//   }
// }

/*----------------------[ Forms ]-------------------------------*/
.form-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-width: 1024px;
}

.form-section-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.25rem;
  row-gap: 0.5rem;

  mat-icon,
  span {
    color: $text;
    margin-bottom: 0.75rem;
  }
}

.form-section-subheader {
  color: $text;
  margin-bottom: 0.75rem;
  font-weight: 500;
  line-height: 1;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); // Más flexible
  gap: 1rem;

  .form-item {
    min-height: 50px;

    .item-label {
      font-weight: 500;
      color: $text;
      margin-bottom: 0.375rem;
    }

    .item-value {
      color: $text;
      word-break: break-word;
      white-space: normal;
    }

    textarea {
      min-height: 8em;
    }

    mat-form-field {
      width: 100%;
    }
  }

  // Columnas adaptativas
  .full-row {
    grid-column: span 4;
  }
  .three-quarter-row {
    grid-column: span 3;
  }
  .half-row {
    grid-column: span 2;
  }
  .quarter-row {
    grid-column: span 1;
  }

  @media (max-width: 1024px) {
    grid-template-columns: repeat(
      auto-fit,
      minmax(150px, 1fr)
    ); // Se ajusta mejor
  }

  @media (max-width: 600px) {
    grid-template-columns: 1fr;

    .full-row,
    .three-quarter-row,
    .half-row,
    .quarter-row {
      grid-column: 1 / -1;
    }
  }
}

.form-section {
}

/*----------------------[ Snackbar/Toast ]-------------------------------*/
.success-toast {
  --mdc-snackbar-container-color: $white !important;
  --mdc-snackbar-supporting-text-color: $text !important;
  border: 1px solid $gray-200;
  border-radius: $border-radius;
  background-color: $white;
}

.error-toast {
  --mdc-snackbar-container-color: $white !important;
  --mdc-snackbar-supporting-text-color: $text !important;
  border: 1px solid $gray-200;
  border-radius: $border-radius;
  background-color: $white;
}

.warning-toast {
  --mdc-snackbar-container-color: $white !important;
  --mdc-snackbar-supporting-text-color: $text !important;
  border: 1px solid $gray-200;
  border-radius: $border-radius;
  background-color: $white;
}

.info-toast {
  --mdc-snackbar-container-color: $white !important;
  --mdc-snackbar-supporting-text-color: $text !important;
  border: 1px solid $gray-200;
  border-radius: $border-radius;
  background-color: $white;
}

.help-toast {
  --mdc-snackbar-container-color: $white !important;
  --mdc-snackbar-supporting-text-color: $text !important;
  border: 1px solid $gray-200;
  border-radius: $border-radius;
  background-color: $white;
}

/*----------------------[ Dialog ]-------------------------------*/

.delete-dialog .mat-dialog-container {
  background-color: #fef2f2 !important;
  color: #ef4444 !important;
}

.confirm-dialog .mat-dialog-container {
  background-color: #f0fdf4 !important;
  color: #22c55e !important;
}

/*----------------------[ Status Classes ]-------------------------------*/
.prospect-class {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $indigo-50;
  font-weight: 500;
  background-color: $indigo-600;
  border-radius: 50px;
  padding: 0.25rem 0.5rem;
  text-transform: uppercase;
}
.client-class {
  color: $green-500;
  font-weight: 500;
}
.no-client-class {
  color: $red-500;
  font-weight: 500;
}

/* Status background colors */
.within-one-days {
  background-color: $green-500;
}
.within-three-days {
  background-color: $green-400;
}
.within-five-days {
  background-color: $yellow-300;
}
.within-seven-days {
  background-color: $orange-400;
}
.more-than-seven-days {
  background-color: $red-400;
}
.no-communications {
  background-color: transparent;
}
.within-date-range {
  background-color: $green-500;
}

.past-deal {
  background-color: $red-500;
}

.print-item {
  margin-bottom: 4px;
}

.end-date-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.status-icon {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
}

.within-date-range {
  background-color: $green-500;
}

.past-deal {
  background-color: $red-500;
}

.ticket-status {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  border-radius: 50px;
  color: $white;
  padding: 0.25rem 0.75rem;
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  min-height: 34px;
}

.status-open {
  background-color: $indigo-500;
  color: $indigo-50;
}

.status-in-progress {
  background-color: $yellow-500;
  color: $yellow-800;
}

.status-without-resolution {
  background-color: $orange-500;
  color: $text;
}

.status-completed {
  background-color: $green-500;
  color: #0a1f12;
}

.priority-low {
  color: $yellow-500;
}

.priority-medium {
  color: $orange-500;
}

.priority-high {
  color: $red-500;
}

/*----------------------[ Position ]-------------------------------*/

.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

.pos-fixed {
  position: fixed;
}

/*----------------------[ Calendar Events ]-------------------------------*/

.event-text-high {
  color: $red-700; /* Red for high priority */
}
.event-text-medium {
  color: $orange-700; /* Orange for medium priority */
}
.event-text-low {
  color: $yellow-700; /* Green for low priority */
}
.event-text-default {
  color: $text; /* Black for default */
}
.event-text-secondary {
  color: $gray-600; /* Gray for secondary */
}
.past-event {
  opacity: 0.75;
}
/*[ Width & Height ]
-----------------------------------------------------------
*/

.sizefull {
  width: 100%;
  height: 100%;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.max-w-full {
  max-width: 100%;
}

.max-h-full {
  max-height: 100%;
}

.min-w-full {
  min-width: 100%;
}

.min-h-full {
  min-height: 100%;
}

/*[ Top Bottom Left Right ]
-----------------------------------------------------------
*/

.top-0 {
  top: 0;
}

.bottom-0 {
  bottom: 0;
}

.left-0 {
  left: 0;
}

.right-0 {
  right: 0;
}

.top-auto {
  top: auto;
}

.bottom-auto {
  bottom: auto;
}

.left-auto {
  left: auto;
}

.right-auto {
  right: auto;
}

/*[ Opacity ]
-----------------------------------------------------------
*/

.op-0-0 {
  opacity: 0;
}

.op-0-1 {
  opacity: 0.1;
}

.op-0-2 {
  opacity: 0.2;
}

.op-0-3 {
  opacity: 0.3;
}

.op-0-4 {
  opacity: 0.4;
}

.op-0-5 {
  opacity: 0.5;
}

.op-0-6 {
  opacity: 0.6;
}

.op-0-7 {
  opacity: 0.7;
}

.op-0-8 {
  opacity: 0.8;
}

.op-0-9 {
  opacity: 0.9;
}

.op-1-0 {
  opacity: 1;
}

/*[ Background ]
-----------------------------------------------------------
*/

.bgwhite {
  background-color: white;
}

.bgblack {
  background-color: black;
}

/*[ Wrap Picture ]
-----------------------------------------------------------
*/

.wrap-pic-w img {
  width: 100%;
}

.wrap-pic-max-w img {
  max-width: 100%;
}

/* ------------------------------------ */

.wrap-pic-h img {
  height: 100%;
}

.wrap-pic-max-h img {
  max-height: 100%;
}

/* ------------------------------------ */

.wrap-pic-cir {
  border-radius: 50%;
  overflow: hidden;
}

.wrap-pic-cir img {
  width: 100%;
}

/*[ Hover ]
-----------------------------------------------------------
*/

.hov-pointer:hover {
  cursor: pointer;
}

/* ------------------------------------ */

.hov-img-zoom {
  display: block;
  overflow: hidden;
}

.hov-img-zoom img {
  width: 100%;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  -moz-transition: all 0.6s;
  transition: all 0.6s;
}

.hov-img-zoom:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

/*[  ]
-----------------------------------------------------------
*/

.bo-cir {
  border-radius: 50%;
}

.of-hidden {
  overflow: hidden;
}

.visible-false {
  visibility: hidden;
}

.visible-true {
  visibility: visible;
}

/*[ Transition ]
-----------------------------------------------------------
*/

.trans-0-1 {
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;
}

.trans-0-2 {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.trans-0-3 {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.trans-0-4 {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.trans-0-5 {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.trans-0-6 {
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  -moz-transition: all 0.6s;
  transition: all 0.6s;
}

.trans-0-9 {
  -webkit-transition: all 0.9s;
  -o-transition: all 0.9s;
  -moz-transition: all 0.9s;
  transition: all 0.9s;
}

.trans-1-0 {
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
}
