<div class="consumibles-container" *ngIf="consumible">
  <div class="consumibles-header">
    <h2>{{ consumible.name }}</h2>
    <button
      class="button button-primary button-raised button-icon-text"
      *ngIf="consumible.id"
      (click)="navigateToEdit(consumible.id)"
    >
      <mat-icon>edit</mat-icon><span class="button-label">Editar</span>
    </button>
  </div>

  <div class="consumibles-info">
    <div class="carousel">
      <div class="image-container">
        <img [src]="consumible.img_url[currentImageIndex]" alt="" />
      </div>
      <div class="button-container">
        <button
          class="button button-secondary button-raised"
          (click)="prevImage()"
        >
          < Atras
        </button>
        <button
          class="button button-secondary button-raised"
          (click)="nextImage()"
        >
          Siguiente >
        </button>
      </div>
    </div>
    <div class="consumibles-data">
      <div class="consumibles-data-item">
        <h5>Fabricante</h5>
        <p>{{ consumible.brand }}</p>
      </div>
      <div class="consumibles-data-item">
        <h5>Precio</h5>
        <p>{{ consumible.price | currency }} {{ consumible.currency }}</p>
      </div>

      <div class="consumibles-data-item">
        <h5>volumen</h5>
        <p>{{ consumible.volume }} g</p>
      </div>

      <div class="consumibles-data-item">
        <h5>Color</h5>
        <div class="color-box" [ngSwitch]="consumible.color">
          <p *ngSwitchCase="'K'" class="color-black">Negro</p>
          <p *ngSwitchCase="'Y'" class="color-yellow">Amarillo</p>
          <p *ngSwitchCase="'M'" class="color-magenta">Magenta</p>
          <p *ngSwitchCase="'C'" class="color-cyan">Cian</p>
        </div>
      </div>

      <div class="consumibles-data-item">
        <h5>Origen</h5>
        <p>{{ consumible.origen }}</p>
      </div>

      <div class="consumibles-data-item">
        <h5>yield</h5>
        <p>{{ consumible.yield }}</p>
      </div>

      <div class="consumibles-data-item description">
        <h5>Long Decripcion</h5>
        <p>{{ consumible.longDescription }}</p>
      </div>

      <div class="consumibles-data-item">
        <h5>Short Descripcion</h5>
        <p>{{ consumible.shortDescription }}</p>
      </div>

      <div class="consumibles-data-item">
        <h5>Category</h5>
        <p>{{ consumible.category }}</p>
      </div>

      <!-- printers -->
      <div class="consumibles-data-item">
        <h5>Impresoras Compatible</h5>
        <p *ngFor="let model of consumible.compatibleModels">{{ model }}</p>
      </div>
    </div>
  </div>
</div>
