@import "_variables.scss";
.table-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: $white;
    border: 1px solid $gray-300;
    border-bottom: none;
    padding: 1rem;
    gap: .5rem;
    border-radius: $border-radius $border-radius 0 0;
    width: 100%;
    .header-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        gap: 1rem;
        .table-title {
            // font-family: "Roboto Condensed", sans-serif;
            font-optical-sizing: auto;
            font-weight: 600;
            font-style: normal;
            margin: 0;
        }
        .table-actions {
            display: flex;
            flex-wrap: wrap-reverse;
            justify-content: flex-end;
            gap: 0.5em;
            .action-buttons {
                display: flex;
                gap: 0.5em;
            }
            .search-box {
                display: flex;
                @media (max-width: 768px) {
                    display: none;
                }
            }
        }
    }
    .table-search {
        display: none;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap-reverse;
        gap: 0.5em;
        width: 100%;
        @media (max-width: 768px) {
            display: flex;
            .search-box {
                width: 100%;
            }
        }
    }
}

.search-box {
    border: 1px solid $gray-300;
    border-radius: $border-radius;
    background-color: transparent;
    padding: 0;
    .search-box-container {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        padding: .5rem;
        .search-input {
            background-color: transparent;
        }
        mat-icon {
            color: $gray-600;
        }
    }
    &:focus-within {
        border-color: $primary-color;
        .search-box-container mat-icon {
            color: $primary-color;
        }
    }
}


.table-container {
    overflow-x: auto;
    width: 100%;
    display: block;
    border: 1px solid #e0e0e0;
}

.responsive-table {
    display: flex;
    flex-direction: column;
    border-radius: $border-radius;
    th {
        background-color: $gray-100;
    }
    tr {
        &:hover {
            background-color: $gray-50 !important; // replace with your preferred color
        }
    }
}

.printer-list-table {
    width: max-content;
    table-layout: fixed;
}

.table-paginator {
    border: 1px solid $gray-300;
    border-radius: 0 0 $border-radius $border-radius;
    border-top: none;
    padding: .5rem 0rem;
}

.wrap-text {
    white-space: normal;
    word-wrap: break-word;
}

.ticket-status {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .25rem;
    border-radius: $border-radius;
    color: $white;
    padding: .25rem .5rem;
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    line-height: 1;
    min-height: 34px;
}

.status-open {
    background-color: $indigo-500 !important;
}

.status-in-progress {
    background-color: $yellow-500;
}

.status-without-resolution {
    background-color: $orange-500;
}

.status-completed {
    background-color: $green-500;
}

.priority-low {
    color: $yellow-500;
}

.priority-medium {
    color: $orange-500;
}

.priority-high {
    color: $red-500;
}

.priority-flags-container {
    display: flex;
    align-items: center;
    // gap: .25rem;
}