@import '_variables.scss';

.wrap-text {
  white-space: normal;
  word-wrap: break-word;
}

.ticket-status {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  border-radius: $border-radius;
  color: $white;
  padding: 0.25rem 0.5rem;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  line-height: 1;
  min-height: 34px;
}

.status-open {
  background-color: $indigo-500 !important;
}

.status-in-progress {
  background-color: $yellow-500;
}

.status-without-resolution {
  background-color: $orange-500;
}

.status-completed {
  background-color: $green-500;
}

.priority-low {
  color: $yellow-500;
}

.priority-medium {
  color: $orange-500;
}

.priority-high {
  color: $red-500;
}

.priority-flags-container {
  display: flex;
  align-items: center;
  // gap: .25rem;
}
