<app-data-table
  [title]="'Listado de Tickets'"
  [data]="TicketData"
  [columns]="columns"
  [displayedColumns]="displayedColumns"
  [isLoading]="isLoadingData"
  [addButtonText]="'Crear Ticket'"
  [addButtonPermission]="'canCreateTicket'"
  [viewActionPermission]="'canViewTicket'"
  [deleteActionPermission]="'canDeleteTicket'"
  [showEditAction]="false"
  [exportIgnoreFields]="['id']"
  [showExport]="true"
  (rowClick)="onRowClick($event)"
  (viewClick)="seeTicket($event)"
  (deleteClick)="openConfirmDialog($event)"
  (addClick)="addTicket()"
></app-data-table>
