@import '_variables.scss';
.printer-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
    background-color: #FFF;
    border-radius: $border-radius;
    padding: 1em;
}

.printer-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: .5em;
    border-bottom: 1px solid $gray-300;
    h2 {
        margin: 0;
    }
    button {
        flex-shrink: 0;
    }
}

.printer-info {
    display: flex;
    gap: 1em;
    @media(max-width: 1024px) {
        flex-direction: column;
    }
    .carousel {
        display: flex;
        flex-direction: column;
        .image-container {
            width: 100%;
            border: 1px solid $gray-300;
            border-radius: $border-radius;
            background-color: #F8FAFC;
            text-align: center;
            img {
                width: 300px;
            }
        }
        .button-container {
            display: flex;
            justify-content: space-between;
            margin-top: 1em;
            gap: 1em;
            button {
                width: 100%;
            }
        }
    }
    .printer-data {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        gap: 1em;
        .printer-data-item {
            min-height: 50px;
            p {
                margin-bottom: 0;
            }
        }
        .description {
            grid-column: 1 / -1; // This will make the description item span the entire row
        }
    }
}

.tag {
    background-color: $gray-100;
    color: $gray-600;
    border-radius: $border-radius;
    padding: .3em .5em;
    margin-right: 8px;
    font-weight: 500;
}

.printer-deal-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: #FFF;
    border-radius: $border-radius;
    padding: 1em 0em;
    .printer-deal-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-bottom: .5em;
        border-bottom: 1px solid $gray-300;
        h2 {
            margin: 0;
        }
        button {
            flex-shrink: 0;
        }
    }
    .printer-deals {
        display: flex;
        flex-grow: 1;
        .deal {
            display: flex;
            flex-direction: column;
            border-radius: $border-radius;
            border: 1px solid $gray-300;
            @media(max-width: 768px) {
                width: 100%;
            }
            .deal-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 50px;
                gap: 1em;
                padding: 1em;
                border-bottom: 1px solid $gray-300;
                background-color: $gray-100;
                border-start-start-radius: $border-radius;
                border-start-end-radius: $border-radius;
                .deal-item {
                    display: flex;
                    gap: 8px;
                    h5 {
                        font-size: 1em;
                        margin-bottom: 0;
                    }
                    p {
                        margin-bottom: 0;
                    }
                }
            }
            .deal-content {
                padding: 1em;
                background-color: $gray-50;
                .deal-row {
                    display: flex;
                    gap: 1em;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    .deal-item {
                        h5 {
                            font-size: 1em;
                            margin-bottom: 0;
                        }
                    }
                }
            }
            .deal-footer {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 1em;
                padding: 1em;
                border-top: 1px solid $gray-300;
                background-color: $gray-50;
                border-end-start-radius: $border-radius;
                border-end-end-radius: $border-radius;
                p {
                    margin-bottom: 0;
                }
            }
        }
    }
}